workflows/Get Refund.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "2f95db22-a95d-4621-85ef-57d9efa39a3c",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        4064,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "\u2705START_DATE",
              "value": "={{ $json['\u2705START_DATE'] || '' }}",
              "type": "string",
              "id": "5c01b600-c5f1-49ba-9066-365fd7beaace"
            },
            {
              "name": "\u2705END_DATE",
              "value": "={{ $json['\u2705END_DATE'] || '' }}",
              "type": "string",
              "id": "bce2b6e2-9b21-4e40-8a30-7ead1fc0171d"
            },
            {
              "name": "\u2705SPREADSHEET_URL_OR_ID",
              "value": "={{ $json['\u2705SPREADSHEET_URL_OR_ID'] || '' }}",
              "type": "string",
              "id": "8295fb3f-b6a3-4735-a5aa-d31c37cfbea4"
            },
            {
              "name": "\u2705SPREADSHEET_ID",
              "value": "={{ $json['\u2705SPREADSHEET_ID'] || '' }}",
              "type": "string",
              "id": "75b81523-f1cb-45ca-b213-3790a46eb544"
            },
            {
              "name": "\u2705SHEET_NAME",
              "value": "={{ $json['\u2705SHEET_NAME'] || '' }}",
              "type": "string",
              "id": "51937101-cbf0-439a-9fe4-2c4fc72587d2"
            },
            {
              "name": "\u2705RANGE",
              "value": "={{ $json['\u2705RANGE'] || '' }}",
              "type": "string",
              "id": "c82f454b-8bb1-405f-9999-295011505007"
            },
            {
              "name": "\u2705AMAZON_MARKETPLACE_ID",
              "value": "={{ $json['\u2705AMAZON_MARKETPLACE_ID'] || '' }}",
              "type": "string",
              "id": "988ce48d-365d-4980-ba15-5d1ff99c903f"
            },
            {
              "name": "AMAZON_ACCESS_TOKEN",
              "value": "={{ $json.AMAZON_ACCESS_TOKEN || '' }}",
              "type": "string",
              "id": "a363b40e-dea1-4052-af2b-dc292b1d54e7"
            },
            {
              "name": "GOOGLE_ACCESS_TOKEN",
              "value": "={{ $json.GOOGLE_ACCESS_TOKEN || '' }}",
              "type": "string",
              "id": "43b68e7f-0676-4cbf-8a0b-f4b5aacff6ff"
            },
            {
              "name": "METRIC_KEY",
              "value": "={{ $json.METRIC_KEY || '' }}",
              "type": "string",
              "id": "4f500b63-ed89-4867-89e3-7b09af571ef9"
            },
            {
              "name": "WORKFLOW_NAME",
              "value": "={{ $json.WORKFLOW_NAME || '' }}",
              "type": "string",
              "id": "ea967601-c39b-4380-ad33-e9face8d509c"
            },
            {
              "name": "ORCHESTRATOR_RUN_ID",
              "value": "={{ $json.ORCHESTRATOR_RUN_ID || '' }}",
              "type": "string",
              "id": "fffb181c-ffcd-4932-8bf4-1e5fe646de1c"
            },
            {
              "id": "e98ee87d-d5de-4ec6-b83f-4f79f44c308e",
              "name": "\u2705AMAZON_SP_CLIENT_ID",
              "value": "={{ $json['\u2705AMAZON_SP_CLIENT_ID'] }}",
              "type": "string"
            },
            {
              "id": "9827da7b-9525-4920-8b21-d993ea5ca625",
              "name": "\u2705AMAZON_SP_CLIENT_SECRET: ",
              "value": "={{ $json['\u2705AMAZON_SP_CLIENT_SECRET: '] }}",
              "type": "string"
            },
            {
              "id": "188812b1-6b54-46ce-9e98-3b3791dba5d8",
              "name": "\u2705AMAZON_SP_REFRESH_TOKEN",
              "value": "={{ $json['\u2705AMAZON_SP_REFRESH_TOKEN'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c8bc772e-45a7-4019-b08c-6bad5e2bc914",
      "name": "Orchestrator Input Adapter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4288,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "\u2705START_DATE",
              "value": "={{ $json['\u2705START_DATE'] || '' }}",
              "type": "string",
              "id": "eb7f642e-dd57-4b4b-b636-c47f701dc42e"
            },
            {
              "name": "\u2705END_DATE",
              "value": "={{ $json['\u2705END_DATE'] || '' }}",
              "type": "string",
              "id": "388cc740-4568-4e46-b3a4-b025048519ce"
            },
            {
              "name": "\u2705SPREADSHEET_URL_OR_ID",
              "value": "={{ $json['\u2705SPREADSHEET_URL_OR_ID'] || '' }}",
              "type": "string",
              "id": "05b76f3b-47db-4e2e-8de8-01189c58f3d6"
            },
            {
              "name": "\u2705SPREADSHEET_ID",
              "value": "={{ $json['\u2705SPREADSHEET_ID'] || '' }}",
              "type": "string",
              "id": "efb0df88-3c8d-46b2-a1a4-d132859bbca5"
            },
            {
              "name": "\u2705SHEET_NAME",
              "value": "={{ $json['\u2705SHEET_NAME'] || '' }}",
              "type": "string",
              "id": "115aa2a5-e9d8-46d4-9173-eed27c779e76"
            },
            {
              "name": "\u2705RANGE",
              "value": "={{ $json['\u2705RANGE'] || '' }}",
              "type": "string",
              "id": "1d10d5ba-f00b-4d89-89e9-a1846887fabe"
            },
            {
              "name": "\u2705AMAZON_MARKETPLACE_ID",
              "value": "={{ $json['\u2705AMAZON_MARKETPLACE_ID'] || '' }}",
              "type": "string",
              "id": "8509f726-bdc2-426d-881b-4860204c9730"
            },
            {
              "name": "AMAZON_ACCESS_TOKEN",
              "value": "={{ $json.AMAZON_ACCESS_TOKEN || '' }}",
              "type": "string",
              "id": "2686a3a3-40d1-442e-b1bf-81c1a754736f"
            },
            {
              "name": "GOOGLE_ACCESS_TOKEN",
              "value": "={{ $json.GOOGLE_ACCESS_TOKEN || '' }}",
              "type": "string",
              "id": "d968dbd1-ffb0-40e7-9c22-3ceb29b353cb"
            },
            {
              "id": "e0881524-911c-4de1-818c-0ef3f5fa6f34",
              "name": "\u2705AMAZON_ADS_CLIENT_SECRET",
              "value": "={{ $json['\u2705AMAZON_ADS_CLIENT_SECRET'] }}",
              "type": "string"
            },
            {
              "id": "946d4edf-d103-4ff6-b66c-e3ede2721905",
              "name": "\u2705AMAZON_ADS_CLIENT_ID",
              "value": "={{ $json['\u2705AMAZON_ADS_CLIENT_ID'] }}",
              "type": "string"
            },
            {
              "id": "9b3e60b1-ae3b-4836-b99d-b1cd0967f864",
              "name": "\u2705AMAZON_ADS_REFRESH_TOKEN",
              "value": "={{ $json['\u2705AMAZON_ADS_REFRESH_TOKEN'] }}",
              "type": "string"
            },
            {
              "id": "4681ebfc-43b2-4e77-84d2-843700608799",
              "name": "\u2705AMAZON_ADS_PROFILE_ID",
              "value": "={{ $json['\u2705AMAZON_ADS_PROFILE_ID'] }}",
              "type": "string"
            },
            {
              "id": "b7002832-d807-45a6-89fd-8175edaf8dc0",
              "name": "\u2705AMAZON_SP_CLIENT_ID",
              "value": "={{ $json['\u2705AMAZON_SP_CLIENT_ID'] }}",
              "type": "string"
            },
            {
              "id": "1b283f32-a75c-4ff1-b828-d9328cc1166a",
              "name": "\u2705AMAZON_SP_CLIENT_SECRET: ",
              "value": "={{ $json['\u2705AMAZON_SP_CLIENT_SECRET: '] }}",
              "type": "string"
            },
            {
              "id": "26648c21-175a-4c25-afc6-a3257379f97b",
              "name": "\u2705AMAZON_SP_REFRESH_TOKEN",
              "value": "={{ $json['\u2705AMAZON_SP_REFRESH_TOKEN'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "36ba785e-a6df-4ff0-a25e-f9b63a98f88e",
      "name": "Set Credentials",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4512,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reportType\": \"GET_FBA_FULFILLMENT_CUSTOMER_RETURNS_DATA\",\n  \"marketplaceIds\": [\"{{ $('Set Credentials').item.json['\u2705AMAZON_MARKETPLACE_ID'] }}\"],\n  \"dataStartTime\": \"{{ $('Set Credentials').item.json['\u2705START_DATE'] }}T00:00:00Z\",\n  \"dataEndTime\": \"{{ $('Set Credentials').item.json['\u2705END_DATE'] }}T23:59:59Z\"\n}",
        "options": {}
      },
      "id": "eb9de12d-ff82-43ed-899b-52b0708bbba5",
      "name": "SP Create Returns Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5184,
        96
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Number($json.nextWaitSeconds || 60)) }}"
      },
      "id": "fb403a1d-528f-4d34-96fb-9a85271acaa1",
      "name": "SP Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5408,
        96
      ],
      "webhookId": "151e6401-cf0a-44f8-8841-28eb91fa4a27"
    },
    {
      "parameters": {
        "url": "=https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports/{{ $('SP Create Returns Report').item.json.reportId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "20944f65-ad0c-4483-82f3-506ed682f20f",
      "name": "SP Check Report Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5632,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const MAX_CREATE_RETRIES = 3;\n\nfunction parseRetryAfterSeconds(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : 0;\n}\n\nfunction nextBackoffSeconds(previousAttempt, retryAfterSeconds) {\n  const capped = Math.min(300, 60 * (2 ** Math.max(1, previousAttempt + 1)));\n  const jitter = Math.floor(Math.random() * 31);\n  return Math.max(capped + jitter, retryAfterSeconds || 0, 60);\n}\n\nconst input = $input.first().json || {};\nconst previousAttempt = Number(input.pollAttempt || 0);\nlet createRetries = 0;\ntry {\n  createRetries = Number($('SP If Retry Create').first().json.createRetryCount || 0);\n} catch (e) {\n  createRetries = 0;\n}\nconst error = input.error || null;\nconst rawStatus = String(input.processingStatus || '').toUpperCase();\n\nif (error) {\n  const message = String(error.message || input.message || 'Unknown polling error');\n  const httpCode = Number(error.httpCode || input.httpCode || 0);\n  const retryAfterSeconds = parseRetryAfterSeconds(error.retryAfter || error.headers?.['retry-after'] || error.response?.headers?.['retry-after']);\n\n  if (httpCode === 429 || message.toLowerCase().includes('too many requests') || message.toLowerCase().includes('thrott')) {\n    return [{\n      json: {\n        ...input,\n        processingStatus: 'THROTTLED',\n        pollAttempt: previousAttempt + 1,\n        nextWaitSeconds: nextBackoffSeconds(previousAttempt, retryAfterSeconds),\n      },\n    }];\n  }\n\n  throw new Error(message);\n}\n\nif (rawStatus === 'FATAL') {\n  throw new Error('SP report FATAL: ' + (input.processingEndTime || input.reportId || 'No report details provided'));\n}\n\nif (rawStatus === 'CANCELLED') {\n  if (createRetries >= MAX_CREATE_RETRIES) {\n    throw new Error('SP report CANCELLED after ' + createRetries + ' retry attempt(s). Amazon may be having issues. reportId: ' + (input.reportId || 'unknown') + ', endTime: ' + (input.processingEndTime || 'unknown'));\n  }\n  return [{\n    json: {\n      ...input,\n      processingStatus: 'RETRY_CREATE',\n      retryCreate: true,\n      createRetryCount: createRetries + 1,\n      pollAttempt: 0,\n      nextWaitSeconds: nextBackoffSeconds(createRetries, 0),\n    },\n  }];\n}\n\nif (rawStatus === 'DONE') {\n  return [{\n    json: {\n      ...input,\n      processingStatus: 'DONE',\n      retryCreate: false,\n      pollAttempt: previousAttempt,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    processingStatus: rawStatus || 'IN_PROGRESS',\n    retryCreate: false,\n    pollAttempt: previousAttempt + 1,\n    nextWaitSeconds: nextBackoffSeconds(previousAttempt, 0),\n  },\n}];"
      },
      "id": "eae66973-e13b-450a-a589-2b9cc1af17ab",
      "name": "SP Normalize Poll Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5856,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.retryCreate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "2e9d52e6-6556-43c9-b1f8-6afdba85be22"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "725d7c5f-2b65-4b4a-a137-88257830172b",
      "name": "SP If Retry Create",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6080,
        64
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.max(120, Number($json.nextWaitSeconds || 120)) }}"
      },
      "id": "af39d9e8-ae5f-471d-8b3c-8f7e1a36faf7",
      "name": "SP Retry Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6304,
        64
      ],
      "webhookId": "016d3abe-1790-4ae8-97e5-787fb6e8cb66"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.processingStatus }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "883f0c90-ed76-4b2a-aff5-decadacf2514"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "57f349e5-8f4c-42d7-9c92-092d0452c3a5",
      "name": "SP If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6304,
        288
      ]
    },
    {
      "parameters": {
        "url": "=https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/documents/{{ $('SP Check Report Status').item.json.reportDocumentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "fc51d949-fbaa-44d6-a3e6-e65ebea9b505",
      "name": "SP Get Report Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6528,
        288
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "9309b517-0e56-460b-ad7c-09470227810a",
      "name": "SP Download Report File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6752,
        288
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "reportText",
        "options": {
          "encoding": "utf8",
          "stripBOM": true
        }
      },
      "id": "c2d2a852-9df6-4883-9423-190880298500",
      "name": "SP Extract Report Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        6976,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "function escapeRegExp(s) {\n  return String(s).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n}\n\nconst expectedSkus = [\n  'Choco-12pack-1200g', 'Choco-Blueberry-100g', 'Choco-Brownie-100g', 'Choco-Caramel-100g',\n  'Choco-Coconut-100g', 'Choco-Cookie-100g', 'Choco-Dark-100g', 'Choco-Dark-200g',\n  'Choco-Hazelnut-100g', 'Choco-Matcha-100g', 'Choco-Milk-100g', 'Choco-Milk-200g',\n  'Choco-Orange-100g', 'Choco-Pumpkin-100g', 'Choco-Raspberry-160g', 'Choco-Strawberry-100g',\n  'Choco-White-100g', 'Choco-White-200g', 'Cone-DubaiMint-6pack-450g', 'Cone-StrawCookie-6pack-450g',\n  'Dried-Kadayif-10KG', 'Dried-Kadayif-180gm', 'Dried-Kadayif-400gm', 'Dried-Kadayif-5KG',\n  'Roasted-Kadayif-10KG', 'Roasted-Kadayif-5KG', 'Roasted-Kataifi-180g', 'Roasted-Kataifi-400g',\n  'Pistachio-Butter-200g-New2', 'Pistachio-Cream-1kg-New2', 'Pistachio-Cream-200g-New2',\n  'Pistachio-Cream-5kg-New2', 'Pistachio-Sauce-700g-New2',\n];\n\nlet text = String($json.reportText || $json.data || '').trim();\nif (!text) {\n  return [{ json: { refundsBySku: {}, skuCount: 0, parseWarning: 'SP Extract Report Text returned empty text' } }];\n}\n\nif (!text.includes('\\n') && text.includes('\\\\n')) {\n  text = text.replace(/\\\\r\\\\n/g, '\\n').replace(/\\\\n/g, '\\n').replace(/\\\\t/g, '\\t');\n}\n\nconst refundsBySku = {};\nfor (const sku of expectedSkus) {\n  const count = (text.match(new RegExp(escapeRegExp(sku), 'g')) || []).length;\n  if (count > 0) refundsBySku[sku] = count;\n}\n\nreturn [{\n  json: {\n    refundsBySku,\n    skuCount: Object.keys(refundsBySku).length,\n    sampleRows: text.split(/\\r?\\n/).filter((l) => l.trim()).slice(0, 10),\n    parseWarning: Object.keys(refundsBySku).length ? null : 'No expected SKU found in extracted report text',\n  },\n}];"
      },
      "id": "98efdc7e-7e60-40c3-a593-5f0685b22cca",
      "name": "SP Parse Returns by SKU",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7200,
        288
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json['\u2705SPREADSHEET_ID'] }}/values/{{ encodeURIComponent($('Set Credentials').item.json['\u2705SHEET_NAME'] + '!' + $('Set Credentials').item.json['\u2705RANGE']) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.GOOGLE_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "f4d5d384-7691-4c3d-acf7-9bc2a42e3264",
      "name": "Webhook Read Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7424,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined) return 0;\n  const n = Number(String(v).replace(/[$,%\\s,]/g, ''));\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction colToA1(colIndex1Based) {\n  let n = colIndex1Based;\n  let out = '';\n  while (n > 0) {\n    const m = (n - 1) % 26;\n    out = String.fromCharCode(65 + m) + out;\n    n = Math.floor((n - 1) / 26);\n  }\n  return out;\n}\n\nfunction normalizeHeader(value) {\n  return String(value || '').replace(/[^A-Za-z0-9]/g, '').toUpperCase();\n}\n\nconst sheet = $('Webhook Read Google Sheet').first().json || {};\nconst values = sheet.values || [];\nconst refundsBySku = $('SP Parse Returns by SKU').first().json.refundsBySku || {};\nconst sheetName = $('Set Credentials').first().json['\u2705SHEET_NAME'];\n\nconst headerRow = values[0] || [];\nconst skuCol = headerRow.findIndex((cell) => normalizeHeader(cell) === 'SKU');\nconst targetCol = headerRow.findIndex((cell) => normalizeHeader(cell) === 'REFUNDS');\n\nif (skuCol === -1 || targetCol === -1) {\n  throw new Error('Could not find SKU and REFUNDS columns');\n}\n\nconst targetColA1 = colToA1(targetCol + 1);\nconst data = [];\nfor (let i = 1; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  if (!sku) continue;\n  data.push({\n    range: sheetName + '!' + targetColA1 + (i + 1),\n    values: [[toNumber(refundsBySku[sku] || 0)]],\n  });\n}\n\nreturn [{ json: { valueInputOption: 'USER_ENTERED', data } }];"
      },
      "id": "c2614c7a-40fc-47ab-8c81-d3468ce78770",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7648,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json['\u2705SPREADSHEET_ID'] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.GOOGLE_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "46e23329-6db9-49cb-b84e-e62ee9e137c0",
      "name": "Webhook Update Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7872,
        288
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "066b003e-f077-42cc-9a99-ffe66287012a",
      "name": "When executed by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        4064,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "7dc92fc1-64c1-4340-97de-20dd81b0a605",
      "name": "Refresh Amazon Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4960,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.amazon.com/auth/o2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "=refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Set Credentials').first().json[\"\u2705AMAZON_SP_REFRESH_TOKEN\"] }}"
            },
            {
              "name": "client_id",
              "value": "={{ $('Set Credentials').first().json[\"\u2705AMAZON_SP_CLIENT_ID\"] }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Set Credentials').first().json[\"\u2705AMAZON_SP_CLIENT_SECRET: \"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "19d93cce-d329-41d0-9075-f91f48783482",
      "name": "Mint SP Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4736,
        144
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Orchestrator Input Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Input Adapter": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Mint SP Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Create Returns Report": {
      "main": [
        [
          {
            "node": "SP Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Wait": {
      "main": [
        [
          {
            "node": "SP Check Report Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Check Report Status": {
      "main": [
        [
          {
            "node": "SP Normalize Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Normalize Poll Status": {
      "main": [
        [
          {
            "node": "SP If Retry Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP If Retry Create": {
      "main": [
        [
          {
            "node": "SP Retry Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Retry Wait": {
      "main": [
        [
          {
            "node": "Mint SP Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP If": {
      "main": [
        [
          {
            "node": "SP Get Report Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Get Report Document": {
      "main": [
        [
          {
            "node": "SP Download Report File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Download Report File": {
      "main": [
        [
          {
            "node": "SP Extract Report Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Extract Report Text": {
      "main": [
        [
          {
            "node": "SP Parse Returns by SKU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Parse Returns by SKU": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When executed by another workflow": {
      "main": [
        [
          {
            "node": "Orchestrator Input Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Amazon Token": {
      "main": [
        [
          {
            "node": "SP Create Returns Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mint SP Access Token": {
      "main": [
        [
          {
            "node": "Refresh Amazon Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "aiBuilderAssisted": true,
    "instanceId": "582e8f3a4e2edb0b797050b4677cdb96bfd5ec1eea24ec30e2a8c807e54934cd"
  }
}
