workflows/Get BSR.json
{
  "name": "Get BSR",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        6256,
        1200
      ],
      "id": "e9c89c07-6772-4fac-be9b-f230e0ede0f8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "✅START_DATE",
              "value": "={{ $json[\"✅START_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅END_DATE",
              "value": "={{ $json[\"✅END_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SPREADSHEET_URL_OR_ID",
              "value": "={{ $json[\"✅SPREADSHEET_URL_OR_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SPREADSHEET_ID",
              "value": "={{ $json[\"✅SPREADSHEET_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SHEET_NAME",
              "value": "={{ $json[\"✅SHEET_NAME\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅RANGE",
              "value": "={{ $json[\"✅RANGE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅AMAZON_MARKETPLACE_ID",
              "value": "={{ $json[\"✅AMAZON_MARKETPLACE_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ACCESS_TOKEN",
              "value": "={{ $json.AMAZON_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "GOOGLE_ACCESS_TOKEN",
              "value": "={{ $json.GOOGLE_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6704,
        1120
      ],
      "id": "a64e6a55-c432-488a-a649-c6aa1ae9d02a",
      "name": "Set Credentials",
      "notes": "Use ✅START_DATE and ✅END_DATE for every run. Same-day runs are valid. This workflow keeps snapshot semantics and stores the chosen range as operator metadata."
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json[\"✅SPREADSHEET_ID\"] }}/values/{{ encodeURIComponent(($('Set Credentials').item.json[\"✅SHEET_NAME\"]) + '!' + ($('Set Credentials').item.json[\"✅RANGE\"])) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.GOOGLE_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "b04ea507-5822-4254-9374-2ff22b2cfa92",
      "name": "Webhook Read Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6928,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node[\"Set Credentials\"].json[\"✅SPREADSHEET_ID\"] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.GOOGLE_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "08140453-e8f5-4f5c-8134-adc935316521",
      "name": "Webhook Update Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7824,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "function colToA1(colIndex1Based) {\n  let n = colIndex1Based;\n  let out = '';\n  while (n > 0) {\n    const m = (n - 1) % 26;\n    out = String.fromCharCode(65 + m) + out;\n    n = Math.floor((n - 1) / 26);\n  }\n  return out;\n}\n\nfunction normalizeHeader(value) {\n  return String(value || '').replace(/[^A-Za-z0-9]/g, '').toUpperCase();\n}\n\nfunction extractBsr(payload) {\n  const salesRanks = Array.isArray(payload?.salesRanks) ? payload.salesRanks : [];\n  const displayGroupRanks = [];\n\n  for (const marketplace of salesRanks) {\n    for (const entry of marketplace.displayGroupRanks || []) {\n      const rank = Number(entry.rank);\n      if (Number.isFinite(rank) && rank > 0) {\n        displayGroupRanks.push({\n          websiteDisplayGroup: entry.websiteDisplayGroup || '',\n          rank,\n        });\n      }\n    }\n  }\n\n  const preferred = displayGroupRanks.find((entry) => entry.websiteDisplayGroup === 'grocery_display_on_website')\n    || displayGroupRanks[0]\n    || null;\n\n  return preferred ? preferred.rank : '';\n}\n\nconst originalItems = $('Build BSR Requests').all();\nconst sheet = $('Webhook Read Google Sheet').first().json || {};\nconst values = sheet.values || [];\nconst sheetName = $('Set Credentials').first().json['✅SHEET_NAME'];\n\nconst headerRow = values[0] || [];\nconst targetCol = headerRow.findIndex((cell) => normalizeHeader(cell) === 'BSR');\n\nif (targetCol === -1) {\n  throw new Error('Could not find BSR column');\n}\n\nconst targetColA1 = colToA1(targetCol + 1);\nconst data = [];\nfor (const item of $input.all()) {\n  const source = item.json || {};\n  const originalIndex = item.pairedItem && typeof item.pairedItem.item === 'number' ? item.pairedItem.item : -1;\n  const original = originalIndex >= 0 ? (originalItems[originalIndex]?.json || {}) : {};\n  const rowNumber = original.rowNumber;\n  if (!rowNumber) continue;\n  data.push({\n    range: `${sheetName}!${targetColA1}${rowNumber}`,\n    values: [[extractBsr(source)]],\n  });\n}\n\nreturn [{ json: { valueInputOption: 'USER_ENTERED', data } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7600,
        928
      ],
      "id": "892b94c8-bb7a-4d88-a04b-9ba71162e43e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "AMZ_AUTH -> REFUND\n",
        "height": 544,
        "width": 1968,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6144,
        896
      ],
      "id": "8a7b87c0-7a18-49ef-8ddd-aa092281b8ec",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "const sheet = $input.first().json || {};\nconst values = sheet.values || [];\nlet headerRowIdx = -1;\nlet skuCol = -1;\nlet asinCol = -1;\nfor (let i = 0; i < Math.min(values.length, 12); i++) {\n  const row = values[i] || [];\n  const foundSkuCol = row.findIndex((c) => String(c).trim().toUpperCase() === 'SKU');\n  const foundAsinCol = row.findIndex((c) => String(c).trim().toUpperCase() === 'ASIN');\n  if (foundSkuCol !== -1) {\n    headerRowIdx = i;\n    skuCol = foundSkuCol;\n  }\n  if (foundAsinCol !== -1) {\n    asinCol = foundAsinCol;\n  }\n}\nif (headerRowIdx === -1 || skuCol === -1 || asinCol === -1) {\n  throw new Error('Could not find SKU and ASIN header columns');\n}\nconst items = [];\nfor (let i = headerRowIdx + 1; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  const asin = String(row[asinCol] || '').trim();\n  if (!sku || /^SKU$/i.test(sku) || /^IMG$/i.test(sku) || /_TOTALS$/i.test(sku)) continue;\n  if (!asin || !/^[A-Z0-9]{10}$/i.test(asin)) continue;\n  items.push({ json: { rowNumber: i + 1, sku, asin: asin.toUpperCase() } });\n}\nreturn items;"
      },
      "id": "9fb73324-6c90-4a64-bc57-8e0143cc492d",
      "name": "Build BSR Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7152,
        1120
      ]
    },
    {
      "parameters": {
        "url": "=https://sellingpartnerapi-na.amazon.com/catalog/2022-04-01/items/{{ $json.asin }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "marketplaceIds",
              "value": "={{ $('Set Credentials').first().json['✅AMAZON_MARKETPLACE_ID'] }}"
            },
            {
              "name": "includedData",
              "value": "salesRanks"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "b6667d72-b358-4014-88d6-3bf280957d16",
      "name": "SP Get BSR by ASIN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7600,
        1120
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 1500,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "17a5c362-b88a-467a-96a2-e3a01fa594c7",
      "name": "BSR Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7376,
        1120
      ]
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "id": "2bbc8c26-e97b-40ab-887f-9a9a791eb96a",
      "name": "BSR Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7824,
        1200
      ],
      "webhookId": "1e4020f7-c0d0-4330-a3fe-5e60016158b8"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "693b6191-8afb-4cfe-9054-6058231b06cf",
      "name": "When executed by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        6256,
        1008
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "✅START_DATE",
              "value": "={{ $json[\"✅START_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅END_DATE",
              "value": "={{ $json[\"✅END_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SPREADSHEET_URL_OR_ID",
              "value": "={{ $json[\"✅SPREADSHEET_URL_OR_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SPREADSHEET_ID",
              "value": "={{ $json[\"✅SPREADSHEET_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SHEET_NAME",
              "value": "={{ $json[\"✅SHEET_NAME\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅RANGE",
              "value": "={{ $json[\"✅RANGE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅AMAZON_MARKETPLACE_ID",
              "value": "={{ $json[\"✅AMAZON_MARKETPLACE_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ACCESS_TOKEN",
              "value": "={{ $json.AMAZON_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "GOOGLE_ACCESS_TOKEN",
              "value": "={{ $json.GOOGLE_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "METRIC_KEY",
              "value": "={{ $json.METRIC_KEY || \"\" }}",
              "type": "string"
            },
            {
              "name": "WORKFLOW_NAME",
              "value": "={{ $json.WORKFLOW_NAME || \"\" }}",
              "type": "string"
            },
            {
              "name": "ORCHESTRATOR_RUN_ID",
              "value": "={{ $json.ORCHESTRATOR_RUN_ID || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f0c66980-4d17-4d79-ac67-a2c40fbd8536",
      "name": "Orchestrator Input Adapter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6480,
        1120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet": {
      "main": [
        [
          {
            "node": "Build BSR Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build BSR Requests": {
      "main": [
        [
          {
            "node": "BSR Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BSR Split In Batches": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP Get BSR by ASIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Get BSR by ASIN": {
      "main": [
        [
          {
            "node": "BSR Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BSR Wait": {
      "main": [
        [
          {
            "node": "BSR Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Orchestrator Input Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When executed by another workflow": {
      "main": [
        [
          {
            "node": "Orchestrator Input Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Input Adapter": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromAList",
    "availableInMCP": true,
    "callerIds": "GtrUp6wKVHsU5Nwu,Hh8rWhCpyt6n8QHT"
  },
  "versionId": "be2813a0-ad69-417a-9a9a-f1c0ce180438",
  "meta": {
    "instanceId": "582e8f3a4e2edb0b797050b4677cdb96bfd5ec1eea24ec30e2a8c807e54934cd"
  },
  "id": "zC5vJ22Tb7i4dli8",
  "tags": []
}