workflows/Get Sales Organic.json
{
  "updatedAt": "2026-04-17T05:48:05.164Z",
  "createdAt": "2026-04-14T05:08:25.599Z",
  "id": "KTNa277JLZ8hDZ89",
  "name": "Get Sales Organic",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        4064,
        592
      ],
      "id": "1f347c51-dab2-401c-b0e8-e01d1324238c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "✅START_DATE",
              "value": "={{ $json[\"✅START_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅END_DATE",
              "value": "={{ $json[\"✅END_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SPREADSHEET_URL_OR_ID",
              "value": "={{ $json[\"✅SPREADSHEET_URL_OR_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SPREADSHEET_ID",
              "value": "={{ $json[\"✅SPREADSHEET_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SHEET_NAME",
              "value": "={{ $json[\"✅SHEET_NAME\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅RANGE",
              "value": "={{ $json[\"✅RANGE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅AMAZON_MARKETPLACE_ID",
              "value": "={{ $json[\"✅AMAZON_MARKETPLACE_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ACCESS_TOKEN",
              "value": "={{ $json.AMAZON_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "GOOGLE_ACCESS_TOKEN",
              "value": "={{ $json.GOOGLE_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4512,
        496
      ],
      "id": "45efb791-c03f-4948-af0d-4fbaf129d3e0",
      "name": "Set Credentials"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json[\"✅SPREADSHEET_ID\"] }}/values/{{ encodeURIComponent(($('Set Credentials').item.json[\"✅SHEET_NAME\"]) + '!' + ($('Set Credentials').item.json[\"✅RANGE\"])) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.GOOGLE_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "1b1e6bcc-6bf4-46a8-95d6-3959bc1c2e32",
      "name": "Webhook Read Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6752,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node[\"Set Credentials\"].json[\"✅SPREADSHEET_ID\"] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.GOOGLE_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "ad1a4a80-66c3-45cc-9208-6a1f5a082452",
      "name": "Webhook Update Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7200,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined) return 0;\n  const n = Number(String(v).replace(/[$,%\\s,]/g, ''));\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction colToA1(colIndex1Based) {\n  let n = colIndex1Based;\n  let out = '';\n  while (n > 0) {\n    const m = (n - 1) % 26;\n    out = String.fromCharCode(65 + m) + out;\n    n = Math.floor((n - 1) / 26);\n  }\n  return out;\n}\n\nfunction normalizeHeader(value) {\n  return String(value || '').replace(/[^A-Za-z0-9]/g, '').toUpperCase();\n}\n\nconst sheet = $('Webhook Read Google Sheet').first().json || {};\nconst values = sheet.values || [];\nconst totalsBySku = $('SP Parse Returns by SKU').first().json.bySku || {};\nconst sheetName = $('Set Credentials').first().json['✅SHEET_NAME'];\n\nconst headerRow = values[0] || [];\nconst skuCol = headerRow.findIndex((cell) => normalizeHeader(cell) === 'SKU');\nconst adSalesCol = headerRow.findIndex((cell) => normalizeHeader(cell) === 'ADSALES');\nconst targetCol = headerRow.findIndex((cell) => normalizeHeader(cell) === 'SALESORGANIC');\n\nif (skuCol === -1 || adSalesCol === -1 || targetCol === -1) {\n  throw new Error('Could not find SKU, AD_SALES_$, and SALES_ORGANIC_$ columns');\n}\n\nconst targetColA1 = colToA1(targetCol + 1);\nconst data = [];\nfor (let i = 1; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  if (!sku || /^SKU$/i.test(sku) || /^IMG$/i.test(sku) || /_TOTALS$/i.test(sku)) continue;\n  const totalSales = toNumber(totalsBySku[sku]?.totalSales || 0);\n  const adSales = toNumber(row[adSalesCol] || 0);\n  const salesOrganic = Number(Math.max(0, totalSales - adSales).toFixed(2));\n  data.push({\n    range: `${sheetName}!${targetColA1}${i + 1}`,\n    values: [[salesOrganic]],\n  });\n}\n\nreturn [{ json: { valueInputOption: 'USER_ENTERED', data } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6976,
        496
      ],
      "id": "d70c88a2-f8ae-471d-8877-90ce3339efce",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "GOOGLE SHEET\n",
        "height": 512,
        "width": 1104,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6480,
        144
      ],
      "id": "179ec0b6-9fab-40de-8658-5191a072f4c9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reportType\": \"GET_FLAT_FILE_ALL_ORDERS_DATA_BY_ORDER_DATE_GENERAL\",\n  \"marketplaceIds\": [\"{{ $('Set Credentials').item.json['✅AMAZON_MARKETPLACE_ID'] }}\"],\n  \"dataStartTime\": \"{{ $('Set Credentials').item.json['✅START_DATE'] }}T00:00:00Z\",\n  \"dataEndTime\": \"{{ $('Set Credentials').item.json['✅END_DATE'] }}T23:59:59Z\"\n}",
        "options": {}
      },
      "id": "38f5efd8-3748-4275-b501-b89f0da050af",
      "name": "SP Create Returns Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4736,
        496
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Number($json.nextWaitSeconds || 60)) }}"
      },
      "id": "fdcfbc0c-fa98-4956-8a2a-1c10cbf03ffc",
      "name": "SP Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4960,
        496
      ],
      "webhookId": "6b2a771b-a82b-47bd-9e85-c64855c0bac5"
    },
    {
      "parameters": {
        "url": "=https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports/{{ $('SP Create Returns Report').item.json.reportId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "c3ea035b-f26a-4bc6-a29f-a6a3a59a3c83",
      "name": "SP Check Report Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5184,
        432
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11fa5373-bef8-477a-a2ee-f1f61005f843",
              "leftValue": "={{ $json.processingStatus }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "91d07f3b-15de-4d48-bff8-ae4ff1c5c6e1",
      "name": "SP If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5632,
        496
      ]
    },
    {
      "parameters": {
        "url": "=https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/documents/{{ $('SP Check Report Status').item.json.reportDocumentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "8b0cc0a2-2c4d-43f0-b4ad-8f4757e2dccd",
      "name": "SP Get Report Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5856,
        496
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "622017c9-284c-448c-b38d-10bcf1bcf9c2",
      "name": "SP Download Report File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6080,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseDelimitedLine(line, delimiter) {\n  const out = [];\n  let current = '';\n  let inQuotes = false;\n  for (let i = 0; i < line.length; i++) {\n    const ch = line[i];\n    if (ch === '\"') {\n      if (inQuotes && line[i + 1] === '\"') {\n        current += '\"';\n        i++;\n      } else {\n        inQuotes = !inQuotes;\n      }\n      continue;\n    }\n    if (ch === delimiter && !inQuotes) {\n      out.push(current);\n      current = '';\n      continue;\n    }\n    current += ch;\n  }\n  out.push(current);\n  return out.map((value) => String(value || '').trim());\n}\nfunction toNumber(input) {\n  if (input === null || input === undefined || input === '') return 0;\n  const n = Number(String(input).replace(/[\\s,$]/g, ''));\n  return Number.isFinite(n) ? n : 0;\n}\nlet text = String($json.reportText || '').trim();\nif (!text) {\n  return [{ json: { bySku: {}, skuCount: 0, parseWarning: 'Order report text empty' } }];\n}\nif (!text.includes('\\n') && text.includes('\\\\n')) {\n  text = text.replace(/\\\\r\\\\n/g, '\\n').replace(/\\\\n/g, '\\n').replace(/\\\\t/g, '\\t');\n}\nconst lines = text.split(/\\r?\\n/).filter((line) => line.trim());\nif (lines.length < 2) {\n  return [{ json: { bySku: {}, skuCount: 0, parseWarning: 'Order report has no data rows' } }];\n}\nconst delimiter = lines[0].includes('\\t') ? '\\t' : ',';\nconst headers = parseDelimitedLine(lines[0], delimiter);\nconst normalized = headers.map((header) => header.toLowerCase().replace(/[^a-z0-9]/g, ''));\nconst pickIndex = (candidates) => normalized.findIndex((header) => candidates.includes(header));\nconst skuIdx = pickIndex(['sku','sellersku','merchantsku']);\nconst salesIdx = pickIndex(['itemprice','productsales','itempriceperunit']);\nconst qtyIdx = pickIndex(['quantity','quantitypurchased','unitsordered']);\nconst statusIdx = pickIndex(['orderstatus','status']);\nif (skuIdx === -1 || salesIdx === -1 || qtyIdx === -1) {\n  throw new Error('Could not locate sku, sales, and quantity columns in orders report');\n}\nconst skipStatuses = new Set(['CANCELLED']);\nconst includeStatuses = new Set(['SHIPPED','PENDING']);\nconst bySku = {};\nfor (let i = 1; i < lines.length; i++) {\n  const cols = parseDelimitedLine(lines[i], delimiter);\n  const sku = String(cols[skuIdx] || '').trim();\n  if (!sku) continue;\n  const status = statusIdx === -1 ? '' : String(cols[statusIdx] || '').trim().toUpperCase();\n  if (skipStatuses.has(status)) continue;\n  if (statusIdx !== -1 && status && !includeStatuses.has(status)) continue;\n  const sales = toNumber(cols[salesIdx]);\n  const units = toNumber(cols[qtyIdx]);\n  const record = bySku[sku] || { sku, totalSales: 0, totalUnits: 0 };\n  record.totalSales = Number((record.totalSales + sales).toFixed(2));\n  record.totalUnits = Number((record.totalUnits + units).toFixed(2));\n  bySku[sku] = record;\n}\nreturn [{ json: { bySku, skuCount: Object.keys(bySku).length, parseWarning: null } }];"
      },
      "id": "adf80aa0-62ea-4181-a16c-b299ca564134",
      "name": "SP Parse Returns by SKU",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6528,
        496
      ]
    },
    {
      "parameters": {
        "content": "AMZ_AUTH -> REFUND\n",
        "height": 496,
        "width": 2448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4352,
        -640
      ],
      "id": "5fedcd52-caa9-4fb9-8743-92f3c91b9a85",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "reportText",
        "options": {
          "encoding": "utf8",
          "stripBOM": true
        }
      },
      "id": "7f2e52fb-cb45-4d8b-9ac1-36843cb3aeec",
      "name": "SP Extract Report Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        6304,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseRetryAfterSeconds(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : 0;\n}\n\nfunction nextBackoffSeconds(previousAttempt, retryAfterSeconds) {\n  const capped = Math.min(300, 60 * (2 ** Math.max(1, previousAttempt + 1)));\n  const jitter = Math.floor(Math.random() * 31);\n  return Math.max(capped + jitter, retryAfterSeconds || 0, 60);\n}\n\nconst input = $input.first().json || {};\nconst previousAttempt = Number(input.pollAttempt || 0);\nconst error = input.error || null;\nconst rawStatus = String(input.processingStatus || '').toUpperCase();\n\nif (error) {\n  const message = String(error.message || input.message || 'Unknown polling error');\n  const httpCode = Number(error.httpCode || input.httpCode || 0);\n  const retryAfterSeconds = parseRetryAfterSeconds(error.retryAfter || error.headers?.['retry-after'] || error.response?.headers?.['retry-after']);\n\n  if (httpCode === 429 || message.toLowerCase().includes('too many requests') || message.toLowerCase().includes('thrott')) {\n    return [{\n      json: {\n        ...input,\n        processingStatus: 'THROTTLED',\n        pollAttempt: previousAttempt + 1,\n        nextWaitSeconds: nextBackoffSeconds(previousAttempt, retryAfterSeconds),\n      },\n    }];\n  }\n\n  throw new Error(message);\n}\n\nif (rawStatus === 'FATAL' || rawStatus === 'CANCELLED') {\n  throw new Error(`SP report ${rawStatus}: ${input.processingEndTime || input.reportId || 'No report details provided'}`);\n}\n\nif (rawStatus === 'DONE') {\n  return [{\n    json: {\n      ...input,\n      processingStatus: 'DONE',\n      pollAttempt: previousAttempt,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    processingStatus: rawStatus || 'IN_PROGRESS',\n    pollAttempt: previousAttempt + 1,\n    nextWaitSeconds: nextBackoffSeconds(previousAttempt, 0),\n  },\n}];"
      },
      "id": "fd1ae619-cc96-4f2b-96ab-7d3dc26fb98d",
      "name": "SP Normalize Poll Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5408,
        432
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "468ebaa7-a853-4a04-a4cd-62b2bcf496d6",
      "name": "When executed by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        4064,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "✅START_DATE",
              "value": "={{ $json[\"✅START_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅END_DATE",
              "value": "={{ $json[\"✅END_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SPREADSHEET_URL_OR_ID",
              "value": "={{ $json[\"✅SPREADSHEET_URL_OR_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SPREADSHEET_ID",
              "value": "={{ $json[\"✅SPREADSHEET_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SHEET_NAME",
              "value": "={{ $json[\"✅SHEET_NAME\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅RANGE",
              "value": "={{ $json[\"✅RANGE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅AMAZON_MARKETPLACE_ID",
              "value": "={{ $json[\"✅AMAZON_MARKETPLACE_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ACCESS_TOKEN",
              "value": "={{ $json.AMAZON_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "GOOGLE_ACCESS_TOKEN",
              "value": "={{ $json.GOOGLE_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "METRIC_KEY",
              "value": "={{ $json.METRIC_KEY || \"\" }}",
              "type": "string"
            },
            {
              "name": "WORKFLOW_NAME",
              "value": "={{ $json.WORKFLOW_NAME || \"\" }}",
              "type": "string"
            },
            {
              "name": "ORCHESTRATOR_RUN_ID",
              "value": "={{ $json.ORCHESTRATOR_RUN_ID || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9d3251d0-564c-4a02-982f-b0bd12c0b995",
      "name": "Orchestrator Input Adapter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4288,
        496
      ]
    }
  ],
  "connections": {
    "SP Create Returns Report": {
      "main": [
        [
          {
            "node": "SP Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Wait": {
      "main": [
        [
          {
            "node": "SP Check Report Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP If": {
      "main": [
        [
          {
            "node": "SP Get Report Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Get Report Document": {
      "main": [
        [
          {
            "node": "SP Download Report File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Download Report File": {
      "main": [
        [
          {
            "node": "SP Extract Report Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Extract Report Text": {
      "main": [
        [
          {
            "node": "SP Parse Returns by SKU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Check Report Status": {
      "main": [
        [
          {
            "node": "SP Normalize Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Normalize Poll Status": {
      "main": [
        [
          {
            "node": "SP If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Orchestrator Input Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When executed by another workflow": {
      "main": [
        [
          {
            "node": "Orchestrator Input Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Input Adapter": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "SP Create Returns Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Parse Returns by SKU": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromAList",
    "availableInMCP": true,
    "callerIds": "GtrUp6wKVHsU5Nwu,Hh8rWhCpyt6n8QHT"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2ab084ed-910a-40b0-b96d-faa0deb2c600",
  "activeVersionId": "33c96e53-a5d7-4b0b-840e-2cbc1881455d",
  "versionCounter": 52,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-14T05:08:25.609Z",
      "createdAt": "2026-04-14T05:08:25.609Z",
      "role": "workflow:owner",
      "workflowId": "KTNa277JLZ8hDZ89",
      "projectId": "A9JoI2uB9gEuVNGo",
      "project": {
        "updatedAt": "2026-04-12T23:15:35.657Z",
        "createdAt": "2026-04-12T23:15:20.662Z",
        "id": "A9JoI2uB9gEuVNGo",
        "name": "Jericho jericho@blazintech.net <jericho@blazintech.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7c4876f-874b-42f0-baa1-c60e258e7170"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}