workflows/Get Sales PPC.json
{
  "updatedAt": "2026-04-17T05:46:08.420Z",
  "createdAt": "2026-04-13T23:23:04.701Z",
  "id": "PzN4mNPLpYAS85WV",
  "name": "Get Sales PPC",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        208
      ],
      "id": "a6fccc8c-2df4-4374-beb2-ba0a2a99ae5f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "✅START_DATE",
              "value": "={{ $json[\"✅START_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅END_DATE",
              "value": "={{ $json[\"✅END_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SPREADSHEET_URL_OR_ID",
              "value": "={{ $json[\"✅SPREADSHEET_URL_OR_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SPREADSHEET_ID",
              "value": "={{ $json[\"✅SPREADSHEET_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SHEET_NAME",
              "value": "={{ $json[\"✅SHEET_NAME\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅RANGE",
              "value": "={{ $json[\"✅RANGE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅COLUMNS",
              "value": "={{ $json[\"✅COLUMNS\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅AMAZON_MARKETPLACE_ID",
              "value": "={{ $json[\"✅AMAZON_MARKETPLACE_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ACCESS_TOKEN",
              "value": "={{ $json.AMAZON_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ADS_CLIENT_ID",
              "value": "={{ $json.AMAZON_ADS_CLIENT_ID || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ADS_PROFILE_ID",
              "value": "={{ $json.AMAZON_ADS_PROFILE_ID || \"\" }}",
              "type": "string"
            },
            {
              "name": "GOOGLE_ACCESS_TOKEN",
              "value": "={{ $json.GOOGLE_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        112
      ],
      "id": "61c148a9-aa32-481f-b8ec-9bf35f125506",
      "name": "Set Credentials"
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Number($json.nextWaitSeconds || 60)) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -176,
        112
      ],
      "id": "f405308f-86b5-48e6-a397-e1be2d15bacc",
      "name": "Wait",
      "webhookId": "d6068b12-ad75-49df-b262-f0a0a7e1d15e"
    },
    {
      "parameters": {
        "url": "=https://advertising-api.amazon.com/reporting/reports/{{ $if($('Extract Report Id From Error').isExecuted, $('Extract Report Id From Error').item.json.reportId, $('Send a Request for Report').item.json.reportId) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.AMAZON_ACCESS_TOKEN }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_CLIENT_ID }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_PROFILE_ID }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        48
      ],
      "id": "b7525e40-a85d-49f0-8302-aa6f5c8065d5",
      "name": "Check if its okay",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6dc1f201-1399-4fbe-b87e-159bc4991fe2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        112
      ],
      "id": "b480acc3-927f-4342-83d5-075bc8e29fda",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/reporting/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.AMAZON_ACCESS_TOKEN }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_CLIENT_ID }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_PROFILE_ID }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"SKU_Sales_PPC_{{$now.toISO()}}\",\n  \"startDate\": \"{{ $('Set Credentials').first().json['✅START_DATE'] }}\",\n  \"endDate\": \"{{ $('Set Credentials').first().json['✅END_DATE'] }}\",\n  \"configuration\": {\n    \"adProduct\": \"SPONSORED_PRODUCTS\",\n    \"reportTypeId\": \"spAdvertisedProduct\",\n    \"format\": \"GZIP_JSON\",\n    \"timeUnit\": \"DAILY\",\n    \"groupBy\": [\"advertiser\"],\n    \"columns\": {{ $('Set Credentials').first().json[\"✅COLUMNS\"] }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -848,
        112
      ],
      "id": "4ee08523-a0b3-41d9-8a75-b3c545c7f82a",
      "name": "Send a Request for Report",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        112
      ],
      "id": "bbf40f16-d735-498f-827c-a2c71c4cfec9",
      "name": "Download the File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        944,
        112
      ],
      "id": "fdeece29-1ece-44ed-85b3-e0186eabafad",
      "name": "Decompress"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "82e38b85-a2dc-4377-a438-afbf307e9425",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -624,
        112
      ],
      "id": "ae47453e-5518-48ed-a4a0-8e04c878ccd6",
      "name": "If error"
    },
    {
      "parameters": {
        "jsCode": "const errorMsg = String($input.first().json.error?.message || '');\nconst match = errorMsg.match(/duplicate of\\s*:\\s*([a-f0-9-]+)/i);\n\nif (!match) {\n  throw new Error(errorMsg || 'Amazon Ads create-report request failed without duplicate report id');\n}\n\nreturn [{ json: { reportId: match[1] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        48
      ],
      "id": "9bcc1faa-da3b-4f17-bf48-a021f51c2408",
      "name": "Extract Report Id From Error"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "file_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1168,
        112
      ],
      "id": "2ce42842-9912-45b4-ba88-b7a3432f4557",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json[\"✅SPREADSHEET_ID\"] }}/values/{{ encodeURIComponent(($('Set Credentials').item.json[\"✅SHEET_NAME\"]) + '!' + ($('Set Credentials').item.json[\"✅RANGE\"])) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.GOOGLE_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "45723c7e-ee0b-4c48-9094-b2d77e41a441",
      "name": "Webhook Read Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1392,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node[\"Set Credentials\"].json[\"✅SPREADSHEET_ID\"] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.GOOGLE_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "9178d1cb-5240-44ba-9367-beb68e9882ae",
      "name": "Webhook Update Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1840,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined || v === '') return 0;\n  const s = String(v).replace(/[$,%\\s,]/g, '');\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction colToA1(colIndex1Based) {\n  let n = colIndex1Based;\n  let out = '';\n  while (n > 0) {\n    const m = (n - 1) % 26;\n    out = String.fromCharCode(65 + m) + out;\n    n = Math.floor((n - 1) / 26);\n  }\n  return out;\n}\n\nfunction normalizeHeader(value) {\n  return String(value || '').replace(/[^A-Za-z0-9]/g, '').toUpperCase();\n}\n\nfunction findHeaderIndex(headerRow, aliases) {\n  const normalizedAliases = aliases.map(normalizeHeader);\n  return headerRow.findIndex((cell) => normalizedAliases.includes(normalizeHeader(cell)));\n}\n\nconst sheet = $json;\nconst values = sheet.values || [];\nconst reportData = $('Extract from File').first().json.data || [];\nconst sheetName = $('Set Credentials').first().json['✅SHEET_NAME'];\n\nconst salesField = reportData.find((row) => row && (row.sales7d !== undefined || row.attributedSales7d !== undefined))?.sales7d !== undefined\n  ? 'sales7d'\n  : 'attributedSales7d';\n\nconst salesBySku = new Map();\nfor (const row of reportData) {\n  const sku = String(row.advertisedSku || '').trim();\n  if (!sku) continue;\n  const sales = toNumber(row[salesField]);\n  salesBySku.set(sku, Number(((salesBySku.get(sku) || 0) + sales).toFixed(2)));\n}\n\nconst headerRow = values[0] || [];\nconst skuCol = findHeaderIndex(headerRow, ['SKU']);\nconst targetCol = findHeaderIndex(headerRow, ['AD_SALES_$', 'AD SALES', 'ADSALES', 'SALESPPC']);\n\nif (skuCol === -1 || targetCol === -1) {\n  throw new Error('Could not find SKU and AD_SALES_$ columns');\n}\n\nconst targetColA1 = colToA1(targetCol + 1);\nconst data = [];\nfor (let i = 1; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  if (!sku || /_TOTALS$/i.test(sku)) continue;\n  data.push({\n    range: `${sheetName}!${targetColA1}${i + 1}`,\n    values: [[Number((salesBySku.get(sku) || 0).toFixed(2))]],\n  });\n}\n\nreturn [{ json: { valueInputOption: 'USER_ENTERED', data } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        112
      ],
      "id": "59513603-17e1-4ae8-9225-5e3b14147eb5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "AMZ_AUTH - Get CTR\n\n",
        "height": 432,
        "width": 2592,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1200,
        -160
      ],
      "id": "4ef01d5f-eced-43ba-9465-60a373132421",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "GOOGLE SHEET\n",
        "height": 432,
        "width": 1120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        -160
      ],
      "id": "987e9d48-aa25-4ea5-b7d9-079ab5b35545",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "function parseRetryAfterSeconds(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : 0;\n}\n\nfunction nextBackoffSeconds(previousAttempt, retryAfterSeconds) {\n  const capped = Math.min(300, 60 * (2 ** Math.max(1, previousAttempt + 1)));\n  const jitter = Math.floor(Math.random() * 31);\n  return Math.max(capped + jitter, retryAfterSeconds || 0, 60);\n}\n\nconst input = $input.first().json || {};\nconst previousAttempt = Number(input.pollAttempt || 0);\nconst error = input.error || null;\nconst rawStatus = String(input.status || '').toUpperCase();\n\nif (error) {\n  const message = String(error.message || input.message || 'Unknown polling error');\n  const httpCode = Number(error.httpCode || input.httpCode || 0);\n  const retryAfterSeconds = parseRetryAfterSeconds(error.retryAfter || error.headers?.['retry-after'] || error.response?.headers?.['retry-after']);\n\n  if (httpCode === 429 || message.toLowerCase().includes('too many requests')) {\n    return [{\n      json: {\n        ...input,\n        status: 'THROTTLED',\n        pollAttempt: previousAttempt + 1,\n        nextWaitSeconds: nextBackoffSeconds(previousAttempt, retryAfterSeconds),\n      },\n    }];\n  }\n\n  throw new Error(message);\n}\n\nif (rawStatus === 'FAILED' || rawStatus === 'CANCELLED') {\n  throw new Error(`Amazon Ads report ${rawStatus}: ${input.failureReason || 'No failure reason provided'}`);\n}\n\nif (rawStatus === 'COMPLETED') {\n  return [{\n    json: {\n      ...input,\n      status: 'COMPLETED',\n      pollAttempt: previousAttempt,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    status: rawStatus || 'PENDING',\n    pollAttempt: previousAttempt + 1,\n    nextWaitSeconds: nextBackoffSeconds(previousAttempt, 0),\n  },\n}];"
      },
      "id": "271d56f4-3f12-441a-bcf7-c8ab4cfa64ec",
      "name": "Normalize Poll Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        48
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "cef41de4-0680-40a1-b71b-6a062f95e1dc",
      "name": "When executed by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1520,
        16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "✅START_DATE",
              "value": "={{ $json[\"✅START_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅END_DATE",
              "value": "={{ $json[\"✅END_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SPREADSHEET_URL_OR_ID",
              "value": "={{ $json[\"✅SPREADSHEET_URL_OR_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SPREADSHEET_ID",
              "value": "={{ $json[\"✅SPREADSHEET_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅SHEET_NAME",
              "value": "={{ $json[\"✅SHEET_NAME\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅RANGE",
              "value": "={{ $json[\"✅RANGE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅COLUMNS",
              "value": "={{ $json[\"✅COLUMNS\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "✅AMAZON_MARKETPLACE_ID",
              "value": "={{ $json[\"✅AMAZON_MARKETPLACE_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ACCESS_TOKEN",
              "value": "={{ $json.AMAZON_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ADS_CLIENT_ID",
              "value": "={{ $json.AMAZON_ADS_CLIENT_ID || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ADS_PROFILE_ID",
              "value": "={{ $json.AMAZON_ADS_PROFILE_ID || \"\" }}",
              "type": "string"
            },
            {
              "name": "GOOGLE_ACCESS_TOKEN",
              "value": "={{ $json.GOOGLE_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "METRIC_KEY",
              "value": "={{ $json.METRIC_KEY || \"\" }}",
              "type": "string"
            },
            {
              "name": "WORKFLOW_NAME",
              "value": "={{ $json.WORKFLOW_NAME || \"\" }}",
              "type": "string"
            },
            {
              "name": "ORCHESTRATOR_RUN_ID",
              "value": "={{ $json.ORCHESTRATOR_RUN_ID || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2a300776-4e9b-47ac-9345-5c75f79f5c78",
      "name": "Orchestrator Input Adapter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        112
      ]
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Check if its okay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download the File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Request for Report": {
      "main": [
        [
          {
            "node": "If error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the File": {
      "main": [
        [
          {
            "node": "Decompress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If error": {
      "main": [
        [
          {
            "node": "Extract Report Id From Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Report Id From Error": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if its okay": {
      "main": [
        [
          {
            "node": "Normalize Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Poll Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Orchestrator Input Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When executed by another workflow": {
      "main": [
        [
          {
            "node": "Orchestrator Input Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Input Adapter": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Send a Request for Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromAList",
    "availableInMCP": true,
    "callerIds": "GtrUp6wKVHsU5Nwu,Hh8rWhCpyt6n8QHT"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e03cd0bd-0a84-4a41-94bf-24f53692e59a",
  "activeVersionId": "e7925812-7f8f-4b33-b722-af8ab81a247b",
  "versionCounter": 70,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-13T23:23:04.705Z",
      "createdAt": "2026-04-13T23:23:04.705Z",
      "role": "workflow:owner",
      "workflowId": "PzN4mNPLpYAS85WV",
      "projectId": "A9JoI2uB9gEuVNGo",
      "project": {
        "updatedAt": "2026-04-12T23:15:35.657Z",
        "createdAt": "2026-04-12T23:15:20.662Z",
        "id": "A9JoI2uB9gEuVNGo",
        "name": "Jericho jericho@blazintech.net <jericho@blazintech.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7c4876f-874b-42f0-baa1-c60e258e7170"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
