workflows/Get Clicks.json
{
  "updatedAt": "2026-04-17T05:45:05.593Z",
  "createdAt": "2026-04-14T00:49:02.724Z",
  "id": "iVZAWiAvfBrQVOpi",
  "name": "Get Clicks",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        224
      ],
      "id": "84d1b822-7661-4093-87b1-443b35b91748",
      "name": "When clicking \u2018Execute workflow\u2019"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "\u2705START_DATE",
              "value": "={{ $json[\"\u2705START_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705END_DATE",
              "value": "={{ $json[\"\u2705END_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705SPREADSHEET_URL_OR_ID",
              "value": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705SPREADSHEET_ID",
              "value": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705SHEET_NAME",
              "value": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705RANGE",
              "value": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705COLUMNS",
              "value": "={{ $json[\"\u2705COLUMNS\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705AMAZON_MARKETPLACE_ID",
              "value": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ACCESS_TOKEN",
              "value": "={{ $json.AMAZON_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ADS_CLIENT_ID",
              "value": "={{ $json.AMAZON_ADS_CLIENT_ID || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ADS_PROFILE_ID",
              "value": "={{ $json.AMAZON_ADS_PROFILE_ID || \"\" }}",
              "type": "string"
            },
            {
              "name": "GOOGLE_ACCESS_TOKEN",
              "value": "={{ $json.GOOGLE_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        128
      ],
      "id": "089ad965-f5ae-4726-91a6-600b8c4a586d",
      "name": "Set Credentials"
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Number($json.nextWaitSeconds || 60)) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -176,
        128
      ],
      "id": "2f17e9a6-7da4-46e3-81f5-d3df1d759e2d",
      "name": "Wait",
      "webhookId": "82b9119f-2f9a-4b81-8f12-1b16f617eefe"
    },
    {
      "parameters": {
        "url": "=https://advertising-api.amazon.com/reporting/reports/{{ $if($('Extract Report Id From Error').isExecuted, $('Extract Report Id From Error').item.json.reportId, $('Send a Request for Report').item.json.reportId) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.AMAZON_ACCESS_TOKEN }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_CLIENT_ID }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_PROFILE_ID }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        64
      ],
      "id": "015d2548-9ed5-4566-9a56-baedd7be78db",
      "name": "Check if its okay",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6dc1f201-1399-4fbe-b87e-159bc4991fe2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        128
      ],
      "id": "d0177b4d-04cb-4904-90cf-47cb32e6e8e2",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/reporting/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.AMAZON_ACCESS_TOKEN }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_CLIENT_ID }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_PROFILE_ID }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"SKU_Clicks_{{$now.toISO()}}\",\n  \"startDate\": \"{{ $('Set Credentials').first().json['\u2705START_DATE'] }}\",\n  \"endDate\": \"{{ $('Set Credentials').first().json['\u2705END_DATE'] }}\",\n  \"configuration\": {\n    \"adProduct\": \"SPONSORED_PRODUCTS\",\n    \"reportTypeId\": \"spAdvertisedProduct\",\n    \"format\": \"GZIP_JSON\",\n    \"timeUnit\": \"DAILY\",\n    \"groupBy\": [\"advertiser\"],\n    \"columns\": {{ $('Set Credentials').first().json[\"\u2705COLUMNS\"] }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -848,
        128
      ],
      "id": "2a720554-0146-425c-90b7-2005619882d0",
      "name": "Send a Request for Report",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        128
      ],
      "id": "16fe9233-3ad8-4e25-94db-1da57608911d",
      "name": "Download the File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        944,
        128
      ],
      "id": "cd55a2e8-fcb8-4d17-a7c5-ac29d1ca258c",
      "name": "Decompress"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "82e38b85-a2dc-4377-a438-afbf307e9425",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -624,
        128
      ],
      "id": "6f5b6c5c-47e2-4008-9d34-154dd4280a02",
      "name": "If error"
    },
    {
      "parameters": {
        "jsCode": "const errorMsg = String($input.first().json.error?.message || '');\nconst match = errorMsg.match(/duplicate of\\s*:\\s*([a-f0-9-]+)/i);\n\nif (!match) {\n  throw new Error(errorMsg || 'Amazon Ads create-report request failed without duplicate report id');\n}\n\nreturn [{ json: { reportId: match[1] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        64
      ],
      "id": "9cf83a19-bf0b-4f09-89d0-9040c50887ff",
      "name": "Extract Report Id From Error"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "file_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1168,
        128
      ],
      "id": "43aec37d-79fd-444a-97a8-dc698f03c3b9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json[\"\u2705SPREADSHEET_ID\"] }}/values/{{ encodeURIComponent(($('Set Credentials').item.json[\"\u2705SHEET_NAME\"]) + '!' + ($('Set Credentials').item.json[\"\u2705RANGE\"])) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.GOOGLE_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "861f3fef-3d8b-48a2-8a45-d1398227c9a9",
      "name": "Webhook Read Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1392,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node[\"Set Credentials\"].json[\"\u2705SPREADSHEET_ID\"] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.GOOGLE_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "78054f2f-2a15-4d62-8b64-23fb35e40ff6",
      "name": "Webhook Update Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1840,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined || v === '') return 0;\n  const s = String(v).replace(/[$,%\\s,]/g, '');\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction colToA1(colIndex1Based) {\n  let n = colIndex1Based;\n  let out = '';\n  while (n > 0) {\n    const m = (n - 1) % 26;\n    out = String.fromCharCode(65 + m) + out;\n    n = Math.floor((n - 1) / 26);\n  }\n  return out;\n}\n\nfunction normalizeHeader(value) {\n  return String(value || '').replace(/[^A-Za-z0-9]/g, '').toUpperCase();\n}\n\nconst sheet = $json;\nconst values = sheet.values || [];\nconst reportData = $('Extract from File').first().json.data || [];\nconst sheetName = $('Set Credentials').first().json['\u2705SHEET_NAME'];\n\nconst clicksBySku = new Map();\nfor (const row of reportData) {\n  const sku = String(row.advertisedSku || '').trim();\n  if (!sku) continue;\n  const clicks = toNumber(row.clicks);\n  clicksBySku.set(sku, Number(((clicksBySku.get(sku) || 0) + clicks).toFixed(2)));\n}\n\nconst headerRow = values[0] || [];\nconst skuCol = headerRow.findIndex((cell) => normalizeHeader(cell) === 'SKU');\nconst targetCol = headerRow.findIndex((cell) => normalizeHeader(cell) === 'ADCLICKS');\n\nif (skuCol === -1 || targetCol === -1) {\n  throw new Error('Could not find SKU and AD_CLICKS columns');\n}\n\nconst targetColA1 = colToA1(targetCol + 1);\nconst data = [];\nfor (let i = 1; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  if (!sku || /_TOTALS$/i.test(sku)) continue;\n  data.push({\n    range: `${sheetName}!${targetColA1}${i + 1}`,\n    values: [[Number((clicksBySku.get(sku) || 0).toFixed(2))]],\n  });\n}\n\nreturn [{ json: { valueInputOption: 'USER_ENTERED', data } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        128
      ],
      "id": "1b2cca34-466d-4174-b065-d075f65b5d23",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "AMZ_AUTH - Get CTR\n\n",
        "height": 512,
        "width": 2608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1216,
        -224
      ],
      "id": "563dbc85-7913-4280-b6ee-50270a1f0e36",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "GOOGLE SHEET\n",
        "height": 496,
        "width": 1168,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        -208
      ],
      "id": "fbc86ae8-961f-4e4c-9342-28cd0f874330",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "function parseRetryAfterSeconds(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : 0;\n}\n\nfunction nextBackoffSeconds(previousAttempt, retryAfterSeconds) {\n  const capped = Math.min(300, 60 * (2 ** Math.max(1, previousAttempt + 1)));\n  const jitter = Math.floor(Math.random() * 31);\n  return Math.max(capped + jitter, retryAfterSeconds || 0, 60);\n}\n\nconst input = $input.first().json || {};\nconst previousAttempt = Number(input.pollAttempt || 0);\nconst error = input.error || null;\nconst rawStatus = String(input.status || '').toUpperCase();\n\nif (error) {\n  const message = String(error.message || input.message || 'Unknown polling error');\n  const httpCode = Number(error.httpCode || input.httpCode || 0);\n  const retryAfterSeconds = parseRetryAfterSeconds(error.retryAfter || error.headers?.['retry-after'] || error.response?.headers?.['retry-after']);\n\n  if (httpCode === 429 || message.toLowerCase().includes('too many requests')) {\n    return [{\n      json: {\n        ...input,\n        status: 'THROTTLED',\n        pollAttempt: previousAttempt + 1,\n        nextWaitSeconds: nextBackoffSeconds(previousAttempt, retryAfterSeconds),\n      },\n    }];\n  }\n\n  throw new Error(message);\n}\n\nif (rawStatus === 'FAILED' || rawStatus === 'CANCELLED') {\n  throw new Error(`Amazon Ads report ${rawStatus}: ${input.failureReason || 'No failure reason provided'}`);\n}\n\nif (rawStatus === 'COMPLETED') {\n  return [{\n    json: {\n      ...input,\n      status: 'COMPLETED',\n      pollAttempt: previousAttempt,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    status: rawStatus || 'PENDING',\n    pollAttempt: previousAttempt + 1,\n    nextWaitSeconds: nextBackoffSeconds(previousAttempt, 0),\n  },\n}];"
      },
      "id": "975802e7-336b-4c3b-9920-788444c93c66",
      "name": "Normalize Poll Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        64
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c5c3b022-f277-493c-9a1e-301f41568293",
      "name": "When executed by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1520,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "\u2705START_DATE",
              "value": "={{ $json[\"\u2705START_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705END_DATE",
              "value": "={{ $json[\"\u2705END_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705SPREADSHEET_URL_OR_ID",
              "value": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705SPREADSHEET_ID",
              "value": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705SHEET_NAME",
              "value": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705RANGE",
              "value": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705COLUMNS",
              "value": "={{ $json[\"\u2705COLUMNS\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705AMAZON_MARKETPLACE_ID",
              "value": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ACCESS_TOKEN",
              "value": "={{ $json.AMAZON_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ADS_CLIENT_ID",
              "value": "={{ $json.AMAZON_ADS_CLIENT_ID || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ADS_PROFILE_ID",
              "value": "={{ $json.AMAZON_ADS_PROFILE_ID || \"\" }}",
              "type": "string"
            },
            {
              "name": "GOOGLE_ACCESS_TOKEN",
              "value": "={{ $json.GOOGLE_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "METRIC_KEY",
              "value": "={{ $json.METRIC_KEY || \"\" }}",
              "type": "string"
            },
            {
              "name": "WORKFLOW_NAME",
              "value": "={{ $json.WORKFLOW_NAME || \"\" }}",
              "type": "string"
            },
            {
              "name": "ORCHESTRATOR_RUN_ID",
              "value": "={{ $json.ORCHESTRATOR_RUN_ID || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9f5aabc5-912f-4b82-8177-2dc2620f3901",
      "name": "Orchestrator Input Adapter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        128
      ]
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Check if its okay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download the File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Request for Report": {
      "main": [
        [
          {
            "node": "If error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the File": {
      "main": [
        [
          {
            "node": "Decompress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If error": {
      "main": [
        [
          {
            "node": "Extract Report Id From Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Report Id From Error": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if its okay": {
      "main": [
        [
          {
            "node": "Normalize Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Poll Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Orchestrator Input Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When executed by another workflow": {
      "main": [
        [
          {
            "node": "Orchestrator Input Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Input Adapter": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Send a Request for Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromAList",
    "availableInMCP": true,
    "callerIds": "GtrUp6wKVHsU5Nwu,Hh8rWhCpyt6n8QHT"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f03a2352-1ef4-41b0-911b-93fedef42e0e",
  "activeVersionId": "f03a2352-1ef4-41b0-911b-93fedef42e0e",
  "versionCounter": 72,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-14T00:49:02.727Z",
      "createdAt": "2026-04-14T00:49:02.727Z",
      "role": "workflow:owner",
      "workflowId": "iVZAWiAvfBrQVOpi",
      "projectId": "A9JoI2uB9gEuVNGo",
      "project": {
        "updatedAt": "2026-04-12T23:15:35.657Z",
        "createdAt": "2026-04-12T23:15:20.662Z",
        "id": "A9JoI2uB9gEuVNGo",
        "name": "Jericho jericho@blazintech.net <jericho@blazintech.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7c4876f-874b-42f0-baa1-c60e258e7170"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version f03a2352",
    "description": ""
  }
}
