workflows/Get CTR.json
{
  "updatedAt": "2026-04-17T05:47:24.348Z",
  "createdAt": "2026-04-13T22:37:10.693Z",
  "id": "wJaKKBJzcgUUoahu",
  "name": "Get CTR",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        160
      ],
      "id": "def97f83-c83d-41eb-b0f6-48e4abba289d",
      "name": "When clicking \u2018Execute workflow\u2019"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "\u2705START_DATE",
              "value": "={{ $json[\"\u2705START_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705END_DATE",
              "value": "={{ $json[\"\u2705END_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705SPREADSHEET_URL_OR_ID",
              "value": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705SPREADSHEET_ID",
              "value": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705SHEET_NAME",
              "value": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705RANGE",
              "value": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705COLUMNS",
              "value": "={{ $json[\"\u2705COLUMNS\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705AMAZON_MARKETPLACE_ID",
              "value": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ACCESS_TOKEN",
              "value": "={{ $json.AMAZON_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ADS_CLIENT_ID",
              "value": "={{ $json.AMAZON_ADS_CLIENT_ID || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ADS_PROFILE_ID",
              "value": "={{ $json.AMAZON_ADS_PROFILE_ID || \"\" }}",
              "type": "string"
            },
            {
              "name": "GOOGLE_ACCESS_TOKEN",
              "value": "={{ $json.GOOGLE_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        64
      ],
      "id": "22ab63d9-18fd-4170-9f6a-0563d6bd4dbe",
      "name": "Set Credentials"
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Number($json.nextWaitSeconds || 60)) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -176,
        64
      ],
      "id": "1e1ff50a-a765-4cea-9b96-c13060bb8852",
      "name": "Wait",
      "webhookId": "d5ca95fc-2506-46ac-9690-adae224fceab"
    },
    {
      "parameters": {
        "url": "=https://advertising-api.amazon.com/reporting/reports/{{ $if($('Extract Report Id From Error').isExecuted, $('Extract Report Id From Error').item.json.reportId, $('Send a Request for Report').item.json.reportId) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.AMAZON_ACCESS_TOKEN }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_CLIENT_ID }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_PROFILE_ID }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        -16
      ],
      "id": "db46c04f-7e50-40a5-8dac-74a61b43e858",
      "name": "Check if its okay",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6dc1f201-1399-4fbe-b87e-159bc4991fe2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        64
      ],
      "id": "6fb778b6-b000-4dec-8fdf-04c6244728cc",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/reporting/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.AMAZON_ACCESS_TOKEN }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_CLIENT_ID }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_PROFILE_ID }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"SKU_CTR_{{$now.toISO()}}\",\n  \"startDate\": \"{{ $('Set Credentials').first().json['\u2705START_DATE'] }}\",\n  \"endDate\": \"{{ $('Set Credentials').first().json['\u2705END_DATE'] }}\",\n  \"configuration\": {\n    \"adProduct\": \"SPONSORED_PRODUCTS\",\n    \"reportTypeId\": \"spAdvertisedProduct\",\n    \"format\": \"GZIP_JSON\",\n    \"timeUnit\": \"DAILY\",\n    \"groupBy\": [\"advertiser\"],\n    \"columns\": {{ $('Set Credentials').first().json[\"\u2705COLUMNS\"] }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -848,
        64
      ],
      "id": "d8d20c67-074c-485d-b792-fc5523d461de",
      "name": "Send a Request for Report",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        64
      ],
      "id": "a7c8b812-b1e0-4b11-981f-054179614ce5",
      "name": "Download the File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        944,
        64
      ],
      "id": "e8b0a251-06fc-451d-8cd6-e2c528944d81",
      "name": "Decompress"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "82e38b85-a2dc-4377-a438-afbf307e9425",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -624,
        64
      ],
      "id": "8e50ea55-ef83-4df0-9a82-5aa53b9281c9",
      "name": "If error"
    },
    {
      "parameters": {
        "jsCode": "const errorMsg = String($input.first().json.error?.message || '');\nconst match = errorMsg.match(/duplicate of\\s*:\\s*([a-f0-9-]+)/i);\n\nif (!match) {\n  throw new Error(errorMsg || 'Amazon Ads create-report request failed without duplicate report id');\n}\n\nreturn [{ json: { reportId: match[1] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -16
      ],
      "id": "73f62041-41ec-42e9-a2f8-2aba49b76d1d",
      "name": "Extract Report Id From Error"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "file_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1168,
        64
      ],
      "id": "e19926d9-0409-48c3-8f28-9835e220ddff",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json[\"\u2705SPREADSHEET_ID\"] }}/values/{{ encodeURIComponent(($('Set Credentials').item.json[\"\u2705SHEET_NAME\"]) + '!' + ($('Set Credentials').item.json[\"\u2705RANGE\"])) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.GOOGLE_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "6a4c9365-4f9d-4b22-81dc-6bb60cae018c",
      "name": "Webhook Read Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1392,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node[\"Set Credentials\"].json[\"\u2705SPREADSHEET_ID\"] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Credentials').first().json.GOOGLE_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "96da61f2-5f8e-47b1-a5f6-71e81851d39c",
      "name": "Webhook Update Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1840,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined) return 0;\n  const s = String(v).replace(/[$,%\\s,]/g, '');\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction colToA1(colIndex1Based) {\n  let n = colIndex1Based;\n  let out = '';\n  while (n > 0) {\n    const m = (n - 1) % 26;\n    out = String.fromCharCode(65 + m) + out;\n    n = Math.floor((n - 1) / 26);\n  }\n  return out;\n}\n\nfunction normalizeHeader(value) {\n  return String(value || '').replace(/[^A-Za-z0-9]/g, '').toUpperCase();\n}\n\nconst sheet = $json;\nconst values = sheet.values || [];\nconst reportData = $('Extract from File').first().json.data || [];\nconst sheetName = $('Set Credentials').first().json['\u2705SHEET_NAME'];\n\nconst metricsBySku = new Map();\nfor (const row of reportData) {\n  const sku = String(row.advertisedSku || '').trim();\n  if (!sku) continue;\n  const clicks = toNumber(row.clicks);\n  const impressions = toNumber(row.impressions);\n  const bucket = metricsBySku.get(sku) || { clicks: 0, impressions: 0 };\n  bucket.clicks = Number((bucket.clicks + clicks).toFixed(4));\n  bucket.impressions = Number((bucket.impressions + impressions).toFixed(4));\n  metricsBySku.set(sku, bucket);\n}\n\nconst ctrBySku = new Map();\nfor (const [sku, metrics] of metricsBySku.entries()) {\n  const ctr = metrics.impressions > 0\n    ? Number(((metrics.clicks / metrics.impressions) * 100).toFixed(4))\n    : 0;\n  ctrBySku.set(sku, ctr);\n}\n\nconst headerRow = values[0] || [];\nconst skuCol = headerRow.findIndex((cell) => normalizeHeader(cell) === 'SKU');\nconst targetCol = headerRow.findIndex((cell) => normalizeHeader(cell) === 'CTR');\n\nif (skuCol === -1 || targetCol === -1) {\n  throw new Error('Could not find SKU and CTR columns');\n}\n\nconst targetColA1 = colToA1(targetCol + 1);\nconst data = [];\nfor (let i = 1; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  if (!sku || !ctrBySku.has(sku)) continue;\n  data.push({\n    range: `${sheetName}!${targetColA1}${i + 1}`,\n    values: [[ctrBySku.get(sku)]],\n  });\n}\n\nreturn [{ json: { valueInputOption: 'USER_ENTERED', data } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        64
      ],
      "id": "0a53f90a-7740-464a-ad42-d788485cc05a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "AMZ_AUTH - Get CTR\n\n",
        "height": 528,
        "width": 2640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1232,
        -304
      ],
      "id": "50027254-8000-4a1e-b850-a80b7456c203",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "GOOGLE SHEET\n",
        "height": 512,
        "width": 1120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        -288
      ],
      "id": "1170046c-da57-4482-8864-3bcee2520405",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "function parseRetryAfterSeconds(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : 0;\n}\n\nfunction nextBackoffSeconds(previousAttempt, retryAfterSeconds) {\n  const capped = Math.min(300, 60 * (2 ** Math.max(1, previousAttempt + 1)));\n  const jitter = Math.floor(Math.random() * 31);\n  return Math.max(capped + jitter, retryAfterSeconds || 0, 60);\n}\n\nconst input = $input.first().json || {};\nconst previousAttempt = Number(input.pollAttempt || 0);\nconst error = input.error || null;\nconst rawStatus = String(input.status || '').toUpperCase();\n\nif (error) {\n  const message = String(error.message || input.message || 'Unknown polling error');\n  const httpCode = Number(error.httpCode || input.httpCode || 0);\n  const retryAfterSeconds = parseRetryAfterSeconds(error.retryAfter || error.headers?.['retry-after'] || error.response?.headers?.['retry-after']);\n\n  if (httpCode === 429 || message.toLowerCase().includes('too many requests')) {\n    return [{\n      json: {\n        ...input,\n        status: 'THROTTLED',\n        pollAttempt: previousAttempt + 1,\n        nextWaitSeconds: nextBackoffSeconds(previousAttempt, retryAfterSeconds),\n      },\n    }];\n  }\n\n  throw new Error(message);\n}\n\nif (rawStatus === 'FAILED' || rawStatus === 'CANCELLED') {\n  throw new Error(`Amazon Ads report ${rawStatus}: ${input.failureReason || 'No failure reason provided'}`);\n}\n\nif (rawStatus === 'COMPLETED') {\n  return [{\n    json: {\n      ...input,\n      status: 'COMPLETED',\n      pollAttempt: previousAttempt,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    status: rawStatus || 'PENDING',\n    pollAttempt: previousAttempt + 1,\n    nextWaitSeconds: nextBackoffSeconds(previousAttempt, 0),\n  },\n}];"
      },
      "id": "0a38201e-32fb-44ac-b81a-30f7ca943b54",
      "name": "Normalize Poll Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -16
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "9839a9cf-bd7d-49c5-9ee2-9e8dca9356a7",
      "name": "When executed by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1520,
        -32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "\u2705START_DATE",
              "value": "={{ $json[\"\u2705START_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705END_DATE",
              "value": "={{ $json[\"\u2705END_DATE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705SPREADSHEET_URL_OR_ID",
              "value": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705SPREADSHEET_ID",
              "value": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705SHEET_NAME",
              "value": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705RANGE",
              "value": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705COLUMNS",
              "value": "={{ $json[\"\u2705COLUMNS\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "\u2705AMAZON_MARKETPLACE_ID",
              "value": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ACCESS_TOKEN",
              "value": "={{ $json.AMAZON_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ADS_CLIENT_ID",
              "value": "={{ $json.AMAZON_ADS_CLIENT_ID || \"\" }}",
              "type": "string"
            },
            {
              "name": "AMAZON_ADS_PROFILE_ID",
              "value": "={{ $json.AMAZON_ADS_PROFILE_ID || \"\" }}",
              "type": "string"
            },
            {
              "name": "GOOGLE_ACCESS_TOKEN",
              "value": "={{ $json.GOOGLE_ACCESS_TOKEN || \"\" }}",
              "type": "string"
            },
            {
              "name": "METRIC_KEY",
              "value": "={{ $json.METRIC_KEY || \"\" }}",
              "type": "string"
            },
            {
              "name": "WORKFLOW_NAME",
              "value": "={{ $json.WORKFLOW_NAME || \"\" }}",
              "type": "string"
            },
            {
              "name": "ORCHESTRATOR_RUN_ID",
              "value": "={{ $json.ORCHESTRATOR_RUN_ID || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9ef7ca49-2fcb-4d17-b532-a7f153878a68",
      "name": "Orchestrator Input Adapter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        64
      ]
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Check if its okay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download the File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Request for Report": {
      "main": [
        [
          {
            "node": "If error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the File": {
      "main": [
        [
          {
            "node": "Decompress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If error": {
      "main": [
        [
          {
            "node": "Extract Report Id From Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Report Id From Error": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if its okay": {
      "main": [
        [
          {
            "node": "Normalize Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Poll Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Orchestrator Input Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When executed by another workflow": {
      "main": [
        [
          {
            "node": "Orchestrator Input Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Input Adapter": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Send a Request for Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromAList",
    "availableInMCP": true,
    "callerIds": "GtrUp6wKVHsU5Nwu,Hh8rWhCpyt6n8QHT"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e1be4998-7256-4c6e-ac74-9b417daac080",
  "activeVersionId": "e1be4998-7256-4c6e-ac74-9b417daac080",
  "versionCounter": 92,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-13T22:37:10.715Z",
      "createdAt": "2026-04-13T22:37:10.715Z",
      "role": "workflow:owner",
      "workflowId": "wJaKKBJzcgUUoahu",
      "projectId": "A9JoI2uB9gEuVNGo",
      "project": {
        "updatedAt": "2026-04-12T23:15:35.657Z",
        "createdAt": "2026-04-12T23:15:20.662Z",
        "id": "A9JoI2uB9gEuVNGo",
        "name": "Jericho jericho@blazintech.net <jericho@blazintech.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7c4876f-874b-42f0-baa1-c60e258e7170"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version e1be4998",
    "description": ""
  }
}
