workflows/Google Sheets Manual -> Set SA -> Token -> Read.json
{
  "updatedAt": "2026-04-13T02:38:34.000Z",
  "createdAt": "2026-04-12T23:16:44.603Z",
  "id": "yWCPRQ3SLfoVoSoJ",
  "name": "Google Sheets Manual -> Set SA -> Token -> Read",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "7b398763-e2f1-45fe-8ecd-a5e254be6b06",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88fd1274-42c8-47a8-9dcc-54f0e3fd80ec",
              "name": "GOOGLE_SERVICE_ACCOUNT_EMAIL",
              "value": "n8n-268@amazon-automation-493007.iam.gserviceaccount.com",
              "type": "string"
            },
            {
              "id": "5b917f77-f56e-4833-a786-5d85e19657bc",
              "name": "GOOGLE_PRIVATE_KEY",
              "value": "-----BEGIN PRIVATE KEY-----\\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQC8c0JZmC0qtMMW\\nH588LkS3fVUWusX30OQASwFyJY5jjndDvGva5kHxvORBTn+/YB7Ei9YyAIXqcZYU\\nFVAP1nCNJtNI9TiamZGP/c3P2XRdPlK0TLCqWMpYqg7iXp8Rrv4YOtpzEpnxeMsx\\n3saKrqccA969jAaSC9aCaa1O5wHmNQlk2pPD9TEywuBIMJeSllsZbxiTYQC7olWy\\nG1HhOFgU7xFVe7YVrQMI/O43uWXCB7BdpHUoCKGaxnOvWINOMbIIRLvi1GUTC30L\\nUPq14S0bDqnzu4En4Cd0WcpBqpsWutnqu9YEtDjV1eeFyg2F3DPYU2JmxeBX89eY\\nJUuL9S1lAgMBAAECggEAJPXvMr7Vxv0+kQmBM+64NAvNI0DdIJp0CXmsjix/BZg0\\n3JBpT/zevLCpTQS+KfUKe86YY2S2XzHJd2Vptz1+BDUz9eiAolPR2J21Htm9yKb3\\nVhz/fl2dTDAIbM4VoUSC2hI685xXnKRuJ/kTVDJmnKhGqML8q+rN9vSOlP3aYcG5\\nD84TH3xY2pjl0vV3L4Qm7gmzkBepbbz6IDPNZJKz1C5H7k9mitkQMwIlRsaj0BQ4\\n7Kdh1Hg/670vUu6AHFsebDtXmIQVpKln9D11wBszpH/D7NclwFnIiP102xBMgH5L\\n/7UUcavrUvOvoljICT41O0R41Ad295b+mT9K8fum0QKBgQD0cPhITWP9kUYFHDb5\\ntkga3p8pPajVWnuKGafuNvzt1/GzaDrg3/lwejua2Ht6KdSi/IkL8Ucx8SNaJk1/\\nROH4mfaS2lGG+7VPRD019iEkA7eqUoTvpQWyLFS4Rw/oTzaWdlWAgqzqyNlvaEON\\nD0Y+QAOgKoCWqMuhlRbUoXLeNQKBgQDFXIB97hX+BaRhuYFE5P9Wne7ymaojULt9\\nFitUezFVk8xJKDvkPJhrqh5N9hmdr/LxAD9nuR3ZrX0jTU6w1CKX4TesVGny8ZRG\\nlyzS0tdHJsv5TyV1Wrsr+opS4YgPcH254d5VA9TJf/pmsqQTMQxDWVT62kgBqRpv\\nYE/kE7+4cQKBgA5ZP0nHOTJeP7T3FgcMeykQnlkmZG25tPzDSsdB9RDlFywH10Ty\\nAMtocW1CfeUK5Y93sXfA/wPgesnE69GnsngMWZv/Mr/wsJDpmYo8W2+oxDQ8Sc9j\\naXUvAv4aNcXWOIcWhShZA1t41MKkZSq3ldD7ovrY49l0KRfgD4oFvB9tAoGAcdFV\\n3MoIbtWMJjuYHEZAJxCvs8MAxpsRdSLq3C6rleHFh08nswlrEXQrQ+SwgyrsXSY6\\narPsThPqPgigYAQG6zYcKEsKSuwdCdS3KeIj+smaCm4leRdZKBS13vRnxhemuiNT\\nWA38kjQ3ETDmxJadrt1+z6hArIx8TUzq5eqpv1ECgYAsNgy7dzdxPPaA6hH9LKMD\\nSNK2XNNTYFboktV6UEHIx1ZQ6sEim/W83KZZx4azV1leJ7olCsRkibzyQUHikVlC\\nvZuWbd/0oClYd+IPODafrgD310zcrYP43YbDPjZyK/C+ZztpwUjSkSQY9QLtqKQp\\njmyybrA+ZAHcBtdhnqKx+A==\\n-----END PRIVATE KEY-----\\n",
              "type": "string"
            },
            {
              "id": "912e4f12-c90c-493e-af77-b1b3fe392300",
              "name": "GOOGLE_SCOPE",
              "value": "https://www.googleapis.com/auth/spreadsheets.readonly",
              "type": "string"
            },
            {
              "id": "7a3fe931-6da7-4c58-a947-cf30a2e04943",
              "name": "SPREADSHEET_URL_OR_ID",
              "value": "https://docs.google.com/spreadsheets/d/1RSbTS6Y1idmbG_LHUhCSPNx341eYxvUJty_Oxs9gK2o/",
              "type": "string"
            },
            {
              "id": "8b52af86-03a8-495d-b560-cf50ff82d8ee",
              "name": "SHEET_NAME",
              "value": "MOBILITY",
              "type": "string"
            },
            {
              "id": "ee4f6f5f-7336-47ce-85c9-e648a10cd9f8",
              "name": "RANGE",
              "value": "A:Z",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "da81f46e-b623-48c2-bad9-83cc0bbe10ec",
      "name": "Set Credentials",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction b64urlFromString(str) {\n  return Buffer.from(str, 'utf8')\n    .toString('base64')\n    .replace(/=/g, '')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_');\n}\n\nconst input = $input.first().json;\nconst serviceAccountEmail = input.GOOGLE_SERVICE_ACCOUNT_EMAIL;\nconst privateKeyPem = String(input.GOOGLE_PRIVATE_KEY || '').replace(/\\\\n/g, '\\n');\nconst scope = input.GOOGLE_SCOPE || 'https://www.googleapis.com/auth/spreadsheets.readonly';\n\nif (!serviceAccountEmail || !privateKeyPem) {\n  throw new Error('Missing GOOGLE_SERVICE_ACCOUNT_EMAIL or GOOGLE_PRIVATE_KEY');\n}\n\nconst now = Math.floor(Date.now() / 1000);\nconst header = { alg: 'RS256', typ: 'JWT' };\nconst payload = {\n  iss: serviceAccountEmail,\n  scope,\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now,\n  exp: now + 3600,\n};\n\nconst encodedHeader = b64urlFromString(JSON.stringify(header));\nconst encodedPayload = b64urlFromString(JSON.stringify(payload));\nconst signingInput = `${encodedHeader}.${encodedPayload}`;\n\nconst signer = crypto.createSign('RSA-SHA256');\nsigner.update(signingInput);\nsigner.end();\n\nconst signature = signer\n  .sign(privateKeyPem, 'base64')\n  .replace(/=/g, '')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_');\n\nconst assertion = `${signingInput}.${signature}`;\n\nreturn [{\n  json: {\n    ...input,\n    assertion,\n  },\n}];"
      },
      "id": "c0f1c397-dce9-4ffb-a626-814d9e6f24ac",
      "name": "Build JWT Assertion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $json.assertion }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0fbacfef-05bc-4618-b870-eabe1595e9cd",
      "name": "Webhook Google Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        240
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ (( $('Set Credentials').item.json.SPREADSHEET_URL_OR_ID || '' ).match(/\\/spreadsheets\\/d\\/([a-zA-Z0-9-_]+)/)?.[1]) || $('Set Credentials').item.json.SPREADSHEET_URL_OR_ID }}/values/{{ encodeURIComponent(($('Set Credentials').item.json.SHEET_NAME || 'MOBILITY') + '!' + ($('Set Credentials').item.json.RANGE || 'A:Z')) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "f97e3249-67da-4584-81cf-9063b267f777",
      "name": "Webhook Read Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "\n  function toNumber(v) {\n    if (v === null || v === undefined) return 0;\n    const s = String(v).replace(/[$,%\\s,]/g, '');\n    const n = Number(s);\n    return Number.isFinite(n) ? n : 0;\n  }\n\n  function colToA1(colIndex1Based) {\n    let n = colIndex1Based;\n    let out = '';\n    while (n > 0) {\n      const m = (n - 1) % 26;\n      out = String.fromCharCode(65 + m) + out;\n      n = Math.floor((n - 1) / 26);\n    }\n    return out;\n  }\n\n  const sheet = $json; // from Webhook Read Google Sheet\n  const values = sheet.values || [];\n  const reportData = $('Extract from File').first().json.data || [];\n  const sheetName = $('Set Credentials').first().json.SHEET_NAME || 'MOBILITY';\n\n  // 1) Aggregate Amazon cost by SKU\n  const adsBySku = new Map();\n  for (const r of reportData) {\n    const sku = (r.advertisedSku || '').trim();\n    if (!sku) continue;\n    const cost = toNumber(r.cost);\n    adsBySku.set(sku, (adsBySku.get(sku) || 0) + cost);\n  }\n\n  // 2) Detect header row (last row that has SKU + ADS-like column)\n  const adsHeaderNames = new Set(['ADS', 'ADS_SPEND', 'Ads spend', 'Ads Spend', 'ads',\n  'ads_spend']);\n  let headerRowIdx = -1;\n  let skuCol = -1;\n  let adsCol = -1;\n\n  for (let i = 0; i < Math.min(values.length, 12); i++) {\n    const row = values[i] || [];\n    const skuIdx = row.findIndex(c => String(c).trim().toUpperCase() === 'SKU');\n    if (skuIdx === -1) continue;\n\n    let adsIdx = -1;\n    for (let j = 0; j < row.length; j++) {\n      const name = String(row[j] || '').trim();\n      if (adsHeaderNames.has(name)) {\n        adsIdx = j;\n        break;\n      }\n    }\n    if (adsIdx !== -1) {\n      headerRowIdx = i;\n      skuCol = skuIdx;\n      adsCol = adsIdx;\n    }\n  }\n\n  if (headerRowIdx === -1 || skuCol === -1 || adsCol === -1) {\n    throw new Error('Could not find header row with SKU and ADS column');\n  }\n\n  // 3) Build Google batch updates\n  const data = [];\n  const missingSkus = [];\n\n  for (let i = headerRowIdx + 1; i < values.length; i++) {\n    const row = values[i] || [];\n    const sku = String(row[skuCol] || '').trim();\n    if (!sku) continue;\n\n    if (!adsBySku.has(sku)) continue;\n\n    const newAds = Number(adsBySku.get(sku).toFixed(2));\n    const rowNumber = i + 1; // sheet is 1-based\n    const adsColA1 = colToA1(adsCol + 1);\n\n    data.push({\n      range: `${sheetName}!${adsColA1}${rowNumber}`,\n      values: [[newAds]]\n    });\n  }\n\n  // Optional: SKUs from report not found in sheet\n  for (const sku of adsBySku.keys()) {\n    const found = values.slice(headerRowIdx + 1).some(r => String((r || [])[skuCol] ||\n  '').trim() === sku);\n    if (!found) missingSkus.push(sku);\n  }\n\n  return [{\n    json: {\n      valueInputOption: 'USER_ENTERED',\n      data,\n      totalUpdates: data.length,\n      missingSkus\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        240
      ],
      "id": "dca9d82c-664e-4ed7-9210-4f0c4fecdf79",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Build JWT Assertion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build JWT Assertion": {
      "main": [
        [
          {
            "node": "Webhook Google Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Google Token": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "15d489a4-6895-4956-a374-bbd9d6f77522",
  "activeVersionId": null,
  "versionCounter": 10,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-12T23:16:44.605Z",
      "createdAt": "2026-04-12T23:16:44.605Z",
      "role": "workflow:owner",
      "workflowId": "yWCPRQ3SLfoVoSoJ",
      "projectId": "A9JoI2uB9gEuVNGo",
      "project": {
        "updatedAt": "2026-04-12T23:15:35.657Z",
        "createdAt": "2026-04-12T23:15:20.662Z",
        "id": "A9JoI2uB9gEuVNGo",
        "name": "Jericho jericho@blazintech.net <jericho@blazintech.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7c4876f-874b-42f0-baa1-c60e258e7170"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}