workflows/Google Sheets Manual -> Set SA -> Token -> Update.json
{
  "updatedAt": "2026-04-13T02:38:35.000Z",
  "createdAt": "2026-04-12T23:28:58.535Z",
  "id": "WLkUl2jrl2hW3yim",
  "name": "Google Sheets Manual -> Set SA -> Token -> Update",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "abe84707-f78a-4618-988f-24d8955df708",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f521c9f3-0276-4878-9e3d-1f20311f4f4e",
              "name": "GOOGLE_SERVICE_ACCOUNT_EMAIL",
              "value": "n8n-268@amazon-automation-493007.iam.gserviceaccount.com",
              "type": "string"
            },
            {
              "id": "f8f71689-a627-49dc-a045-3fcd28931284",
              "name": "GOOGLE_PRIVATE_KEY",
              "value": "-----BEGIN PRIVATE KEY-----\\nPASTE_YOUR_PRIVATE_KEY_HERE\\n-----END PRIVATE KEY-----\\n",
              "type": "string"
            },
            {
              "id": "3bd0fdf0-3f08-4727-a81b-b2f476377670",
              "name": "GOOGLE_SCOPE",
              "value": "https://www.googleapis.com/auth/spreadsheets",
              "type": "string"
            },
            {
              "id": "7d8d04dd-f22a-44be-80fd-683d1d17b8ec",
              "name": "SPREADSHEET_URL_OR_ID",
              "value": "https://docs.google.com/spreadsheets/d/PASTE_SHEET_ID_HERE/edit",
              "type": "string"
            },
            {
              "id": "e03745ae-a6bb-48fd-9317-e8f99652e9ba",
              "name": "UPDATE_RANGE",
              "value": "MOBILITY!A2:C2",
              "type": "string"
            },
            {
              "id": "95e0f4be-27a7-42f1-8e36-f9dc672a8839",
              "name": "VALUE_INPUT_OPTION",
              "value": "USER_ENTERED",
              "type": "string"
            },
            {
              "id": "af63552d-546b-485a-913b-e3ebd324d247",
              "name": "UPDATE_VALUES_JSON",
              "value": "[[\"SKU-001\",12.5,\"2026-04-13\"]]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f0c0d81c-8b89-4c05-b8a4-ddd5576a638f",
      "name": "Set Credentials",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction b64urlFromString(str) {\n  return Buffer.from(str, 'utf8')\n    .toString('base64')\n    .replace(/=/g, '')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_');\n}\n\nconst input = $input.first().json;\nconst serviceAccountEmail = input.GOOGLE_SERVICE_ACCOUNT_EMAIL;\nconst privateKeyPem = String(input.GOOGLE_PRIVATE_KEY || '').replace(/\\\\n/g, '\\n');\nconst scope = input.GOOGLE_SCOPE || 'https://www.googleapis.com/auth/spreadsheets';\n\nif (!serviceAccountEmail || !privateKeyPem) {\n  throw new Error('Missing GOOGLE_SERVICE_ACCOUNT_EMAIL or GOOGLE_PRIVATE_KEY');\n}\n\nconst now = Math.floor(Date.now() / 1000);\nconst header = { alg: 'RS256', typ: 'JWT' };\nconst payload = {\n  iss: serviceAccountEmail,\n  scope,\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now,\n  exp: now + 3600\n};\n\nconst encodedHeader = b64urlFromString(JSON.stringify(header));\nconst encodedPayload = b64urlFromString(JSON.stringify(payload));\nconst signingInput = `${encodedHeader}.${encodedPayload}`;\n\nconst signer = crypto.createSign('RSA-SHA256');\nsigner.update(signingInput);\nsigner.end();\n\nconst signature = signer\n  .sign(privateKeyPem, 'base64')\n  .replace(/=/g, '')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_');\n\nconst assertion = `${signingInput}.${signature}`;\n\nreturn [{\n  json: {\n    ...input,\n    assertion\n  }\n}];"
      },
      "id": "89222e2b-2e7a-40c8-a5a1-b75b8c82fccd",
      "name": "Build JWT Assertion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $json.assertion }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4d1529c4-3583-4785-8e27-6eb4108ee0f7",
      "name": "Webhook Google Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ (( $('Set Credentials').item.json.SPREADSHEET_URL_OR_ID || '' ).match(/\\/spreadsheets\\/d\\/([a-zA-Z0-9-_]+)/)?.[1]) || $('Set Credentials').item.json.SPREADSHEET_URL_OR_ID }}/values/{{ encodeURIComponent($('Set Credentials').item.json.UPDATE_RANGE || 'MOBILITY!A2:C2') }}?valueInputOption={{ encodeURIComponent($('Set Credentials').item.json.VALUE_INPUT_OPTION || 'USER_ENTERED') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { majorDimension: 'ROWS', values: JSON.parse($('Set Credentials').item.json.UPDATE_VALUES_JSON || '[]') } }}",
        "options": {}
      },
      "id": "242475f2-913c-4131-8b80-afa7b91b9d07",
      "name": "Webhook Update Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        0
      ]
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Build JWT Assertion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build JWT Assertion": {
      "main": [
        [
          {
            "node": "Webhook Google Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Google Token": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7dc897c8-6997-4995-83c9-8e0336429f88",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-12T23:28:58.541Z",
      "createdAt": "2026-04-12T23:28:58.541Z",
      "role": "workflow:owner",
      "workflowId": "WLkUl2jrl2hW3yim",
      "projectId": "A9JoI2uB9gEuVNGo",
      "project": {
        "updatedAt": "2026-04-12T23:15:35.657Z",
        "createdAt": "2026-04-12T23:15:20.662Z",
        "id": "A9JoI2uB9gEuVNGo",
        "name": "Jericho jericho@blazintech.net <jericho@blazintech.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7c4876f-874b-42f0-baa1-c60e258e7170"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}