workflows/Retry Failed Amazon Metrics.json
{
  "name": "Retry Failed Amazon Metrics",
  "nodes": [
    {
      "parameters": {},
      "id": "ab2db611-344a-45f7-87c7-ee4c1c17d7d9",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1328,
        352
      ]
    },
    {
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "FAILED_METRIC_KEYS"
            },
            {
              "name": "MAX_RETRIES"
            },
            {
              "name": "RETRY_ROUND"
            },
            {
              "name": "✅START_DATE"
            },
            {
              "name": "✅END_DATE"
            },
            {
              "name": "✅AMAZON_ADS_CLIENT_ID"
            },
            {
              "name": "✅AMAZON_ADS_CLIENT_SECRET"
            },
            {
              "name": "✅AMAZON_ADS_REFRESH_TOKEN"
            },
            {
              "name": "✅AMAZON_ADS_PROFILE_ID"
            },
            {
              "name": "✅AMAZON_SP_CLIENT_ID"
            },
            {
              "name": "✅AMAZON_SP_CLIENT_SECRET: "
            },
            {
              "name": "✅AMAZON_SP_REFRESH_TOKEN"
            },
            {
              "name": "✅GOOGLE_SERVICE_ACCOUNT_EMAIL"
            },
            {
              "name": "✅GOOGLE_PRIVATE_KEY"
            },
            {
              "name": "✅GOOGLE_SCOPE"
            },
            {
              "name": "✅SPREADSHEET_URL_OR_ID"
            },
            {
              "name": "✅SPREADSHEET_ID"
            },
            {
              "name": "✅SHEET_NAME"
            },
            {
              "name": "✅RANGE"
            },
            {
              "name": "✅COLUMNS"
            },
            {
              "name": "✅AMAZON_MARKETPLACE_ID"
            }
          ]
        }
      },
      "id": "d31c83d3-8ef8-41da-851f-9247d55ca423",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1328,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "function normalizeMetricKeys(raw) {\n  if (Array.isArray(raw)) {\n    return raw.map((value) => String(value).trim()).filter(Boolean);\n  }\n  if (typeof raw === 'string') {\n    return raw.split(',').map((value) => value.trim()).filter(Boolean);\n  }\n  return [];\n}\n\nconst input = $input.first().json || {};\nconst remainingFailedMetricKeys = [...new Set(normalizeMetricKeys(input.FAILED_METRIC_KEYS ?? input.failedMetricKeys))];\nconst maxRetries = Math.max(1, Number(input.MAX_RETRIES || input.maxRetries || 3));\nconst retryRound = Math.max(1, Number(input.RETRY_ROUND || input.retryRound || 1));\n\nreturn [{\n  json: {\n    '✅START_DATE': input['✅START_DATE'],\n    '✅END_DATE': input['✅END_DATE'],\n    '✅SPREADSHEET_URL_OR_ID': input['✅SPREADSHEET_URL_OR_ID'],\n    '✅SPREADSHEET_ID': input['✅SPREADSHEET_ID'],\n    '✅SHEET_NAME': input['✅SHEET_NAME'],\n    '✅RANGE': input['✅RANGE'],\n    '✅COLUMNS': input['✅COLUMNS'],\n    '✅AMAZON_MARKETPLACE_ID': input['✅AMAZON_MARKETPLACE_ID'],\n    '✅AMAZON_ADS_CLIENT_ID': input['✅AMAZON_ADS_CLIENT_ID'],\n    '✅AMAZON_ADS_CLIENT_SECRET': input['✅AMAZON_ADS_CLIENT_SECRET'],\n    '✅AMAZON_ADS_REFRESH_TOKEN': input['✅AMAZON_ADS_REFRESH_TOKEN'],\n    '✅AMAZON_ADS_PROFILE_ID': input['✅AMAZON_ADS_PROFILE_ID'],\n    '✅AMAZON_SP_CLIENT_ID': input['✅AMAZON_SP_CLIENT_ID'],\n    '✅AMAZON_SP_CLIENT_SECRET: ': input['✅AMAZON_SP_CLIENT_SECRET: '],\n    '✅AMAZON_SP_REFRESH_TOKEN': input['✅AMAZON_SP_REFRESH_TOKEN'],\n    '✅GOOGLE_SERVICE_ACCOUNT_EMAIL': input['✅GOOGLE_SERVICE_ACCOUNT_EMAIL'],\n    '✅GOOGLE_PRIVATE_KEY': input['✅GOOGLE_PRIVATE_KEY'],\n    '✅GOOGLE_SCOPE': input['✅GOOGLE_SCOPE'],\n    remainingFailedMetricKeys,\n    retryRound,\n    maxRetries,\n    attempts: [],\n    finalSummary: Array.isArray(input.summary) ? input.summary : [],\n    completed: remainingFailedMetricKeys.length === 0,\n  },\n}];"
      },
      "id": "86b709df-790e-4f83-b65d-fcc11063078d",
      "name": "Initialize Retry State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-retry-targets",
              "leftValue": "={{ $json.remainingFailedMetricKeys.length > 0 ? 'true' : 'false' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7ec66399-a804-4f35-9880-8d161f526cab",
      "name": "If Has Retry Targets",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -880,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{\n  json: {\n    ...input,\n    INCLUDE_LIST: (input.remainingFailedMetricKeys || []).join(','),\n    ENABLE_RETRY_WORKFLOW: 'false',\n    MAX_RETRIES: String(input.maxRetries || 3),\n    RETRY_ROUND: String(input.retryRound || 1),\n  },\n}];"
      },
      "id": "c09425c7-aa12-4f64-94d8-12a6deee2c30",
      "name": "Prepare Retry Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        224
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Hh8rWhCpyt6n8QHT",
          "mode": "list",
          "cachedResultUrl": "/workflow/Hh8rWhCpyt6n8QHT",
          "cachedResultName": "Unified Amazon Metrics Orchestrator (Apr 16 at 05:30:45)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "✅START_DATE": "={{ $json[\"✅START_DATE\"] }}",
            "✅END_DATE": "={{ $json[\"✅END_DATE\"] }}",
            "✅SPREADSHEET_URL_OR_ID": "={{ $json[\"✅SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "✅SPREADSHEET_ID": "={{ $json[\"✅SPREADSHEET_ID\"] || \"\" }}",
            "✅SHEET_NAME": "={{ $json[\"✅SHEET_NAME\"] || \"\" }}",
            "✅RANGE": "={{ $json[\"✅RANGE\"] || \"\" }}",
            "✅COLUMNS": "={{ $json[\"✅COLUMNS\"] || \"\" }}",
            "✅AMAZON_MARKETPLACE_ID": "={{ $json[\"✅AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "✅AMAZON_ADS_CLIENT_ID": "={{ $json[\"✅AMAZON_ADS_CLIENT_ID\"] || \"\" }}",
            "✅AMAZON_ADS_CLIENT_SECRET": "={{ $json[\"✅AMAZON_ADS_CLIENT_SECRET\"] || \"\" }}",
            "✅AMAZON_ADS_REFRESH_TOKEN": "={{ $json[\"✅AMAZON_ADS_REFRESH_TOKEN\"] || \"\" }}",
            "✅AMAZON_ADS_PROFILE_ID": "={{ $json[\"✅AMAZON_ADS_PROFILE_ID\"] || \"\" }}",
            "✅AMAZON_SP_CLIENT_ID": "={{ $json[\"✅AMAZON_SP_CLIENT_ID\"] || \"\" }}",
            "✅AMAZON_SP_CLIENT_SECRET: ": "={{ $json[\"✅AMAZON_SP_CLIENT_SECRET: \"] || \"\" }}",
            "✅AMAZON_SP_REFRESH_TOKEN": "={{ $json[\"✅AMAZON_SP_REFRESH_TOKEN\"] || \"\" }}",
            "✅GOOGLE_SERVICE_ACCOUNT_EMAIL": "={{ $json[\"✅GOOGLE_SERVICE_ACCOUNT_EMAIL\"] || \"\" }}",
            "✅GOOGLE_PRIVATE_KEY": "={{ $json[\"✅GOOGLE_PRIVATE_KEY\"] || \"\" }}",
            "✅GOOGLE_SCOPE": "={{ $json[\"✅GOOGLE_SCOPE\"] || \"https://www.googleapis.com/auth/spreadsheets\" }}",
            "INCLUDE_LIST": "={{ $json.INCLUDE_LIST || \"\" }}",
            "MAX_RETRIES": "={{ $json.MAX_RETRIES || '3' }}",
            "ENABLE_RETRY_WORKFLOW": "false"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "dfc2ff24-b584-4d0d-b593-09036df5c348",
      "name": "Execute Unified Amazon Metrics Orchestrator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -432,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "function normalizeMetricKeys(raw) {\n  if (Array.isArray(raw)) {\n    return raw.map((value) => String(value).trim()).filter(Boolean);\n  }\n  if (typeof raw === 'string') {\n    return raw.split(',').map((value) => value.trim()).filter(Boolean);\n  }\n  return [];\n}\n\nconst state = $('Prepare Retry Request').first().json;\nconst payload = $input.first().json || {};\nconst summary = payload.finalSummary || payload.summary || [];\nconst failedMetricKeys = [...new Set(normalizeMetricKeys(payload.remainingFailedMetricKeys ?? payload.failedMetricKeys))];\nconst attempts = [\n  ...(state.attempts || []),\n  {\n    retryRound: state.retryRound,\n    includeList: state.INCLUDE_LIST || '',\n    failedMetricKeys,\n    summary,\n  },\n];\n\nreturn [{\n  json: {\n    ...state,\n    attempts,\n    finalSummary: summary,\n    remainingFailedMetricKeys: failedMetricKeys,\n    completed: failedMetricKeys.length === 0,\n  },\n}];"
      },
      "id": "ad04445f-66ee-45cb-b7f7-009ab0ab7afc",
      "name": "Capture Retry Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-retry-finished",
              "leftValue": "={{ $json.completed || $json.retryRound >= $json.maxRetries ? 'true' : 'false' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "17b25f98-c29c-4962-ae57-ce63d67637bf",
      "name": "If Retry Finished",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{\n  json: {\n    ...input,\n    retryRound: Number(input.retryRound || 1) + 1,\n  },\n}];"
      },
      "id": "8f11f94e-d9d3-41b2-9177-e933125d3e61",
      "name": "Advance Retry Round",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst attempts = input.attempts || [];\nconst remainingFailedMetricKeys = input.remainingFailedMetricKeys || [];\nconst completed = Boolean(input.completed || remainingFailedMetricKeys.length === 0);\nreturn [{\n  json: {\n    attemptsUsed: attempts.length,\n    maxRetries: Number(input.maxRetries || 3),\n    finalSummary: input.finalSummary || [],\n    remainingFailedMetricKeys,\n    completed,\n    attempts,\n  },\n}];"
      },
      "id": "84723c7d-b476-48ec-8601-0c5ad0f75af6",
      "name": "Finalize Retry Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        96
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Initialize Retry State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Initialize Retry State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Retry State": {
      "main": [
        [
          {
            "node": "If Has Retry Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Retry Targets": {
      "main": [
        [
          {
            "node": "Prepare Retry Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Retry Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retry Request": {
      "main": [
        [
          {
            "node": "Execute Unified Amazon Metrics Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Unified Amazon Metrics Orchestrator": {
      "main": [
        [
          {
            "node": "Capture Retry Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Retry Result": {
      "main": [
        [
          {
            "node": "If Retry Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Retry Finished": {
      "main": [
        [
          {
            "node": "Finalize Retry Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Advance Retry Round",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advance Retry Round": {
      "main": [
        [
          {
            "node": "Prepare Retry Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "60871845-2302-4ca1-b65a-76a0e6045e7d",
  "meta": {
    "instanceId": "582e8f3a4e2edb0b797050b4677cdb96bfd5ec1eea24ec30e2a8c807e54934cd"
  },
  "id": "sJw7kKf3NqP1tR8M",
  "tags": []
}
