workflows/Retry Failed Amazon Metrics.json
{
  "updatedAt": "2026-04-20T22:55:18.972Z",
  "createdAt": "2026-04-20T07:19:01.530Z",
  "id": "7qKcWP6U0y0xES06",
  "name": "Retry Failed Amazon Metrics",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "90331a7f-4920-4b5a-b906-e5b6850ab5f3",
      "name": "When clicking \u2018Execute workflow\u2019",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1552,
        176
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "FAILED_METRIC_KEYS"
            },
            {
              "name": "MAX_RETRIES"
            },
            {
              "name": "RETRY_ROUND"
            },
            {
              "name": "\u2705START_DATE"
            },
            {
              "name": "\u2705END_DATE"
            },
            {
              "name": "\u2705AMAZON_ADS_CLIENT_ID"
            },
            {
              "name": "\u2705AMAZON_ADS_CLIENT_SECRET"
            },
            {
              "name": "\u2705AMAZON_ADS_REFRESH_TOKEN"
            },
            {
              "name": "\u2705AMAZON_ADS_PROFILE_ID"
            },
            {
              "name": "\u2705AMAZON_SP_CLIENT_ID"
            },
            {
              "name": "\u2705AMAZON_SP_CLIENT_SECRET: "
            },
            {
              "name": "\u2705AMAZON_SP_REFRESH_TOKEN"
            },
            {
              "name": "\u2705GOOGLE_SERVICE_ACCOUNT_EMAIL"
            },
            {
              "name": "\u2705GOOGLE_PRIVATE_KEY"
            },
            {
              "name": "\u2705GOOGLE_SCOPE"
            },
            {
              "name": "\u2705SPREADSHEET_URL_OR_ID"
            },
            {
              "name": "\u2705SPREADSHEET_ID"
            },
            {
              "name": "\u2705SHEET_NAME"
            },
            {
              "name": "\u2705RANGE"
            },
            {
              "name": "\u2705COLUMNS"
            },
            {
              "name": "\u2705AMAZON_MARKETPLACE_ID"
            }
          ]
        }
      },
      "id": "1aeec2fc-d813-49f1-8854-011d53bed2e9",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1552,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "function normalizeMetricKeys(raw) {\n  if (Array.isArray(raw)) {\n    return raw.map((value) => String(value).trim()).filter(Boolean);\n  }\n  if (typeof raw === 'string') {\n    return raw.split(',').map((value) => value.trim()).filter(Boolean);\n  }\n  return [];\n}\n\nconst input = $input.first().json || {};\nconst remainingFailedMetricKeys = [...new Set(normalizeMetricKeys(input.FAILED_METRIC_KEYS ?? input.failedMetricKeys))];\nconst maxRetries = Math.max(1, Number(input.MAX_RETRIES || input.maxRetries || 3));\nconst retryRound = Math.max(1, Number(input.RETRY_ROUND || input.retryRound || 1));\n\nreturn [{\n  json: {\n    '\u2705START_DATE': input['\u2705START_DATE'],\n    '\u2705END_DATE': input['\u2705END_DATE'],\n    '\u2705SPREADSHEET_URL_OR_ID': input['\u2705SPREADSHEET_URL_OR_ID'],\n    '\u2705SPREADSHEET_ID': input['\u2705SPREADSHEET_ID'],\n    '\u2705SHEET_NAME': input['\u2705SHEET_NAME'],\n    '\u2705RANGE': input['\u2705RANGE'],\n    '\u2705COLUMNS': input['\u2705COLUMNS'],\n    '\u2705AMAZON_MARKETPLACE_ID': input['\u2705AMAZON_MARKETPLACE_ID'],\n    '\u2705AMAZON_ADS_CLIENT_ID': input['\u2705AMAZON_ADS_CLIENT_ID'],\n    '\u2705AMAZON_ADS_CLIENT_SECRET': input['\u2705AMAZON_ADS_CLIENT_SECRET'],\n    '\u2705AMAZON_ADS_REFRESH_TOKEN': input['\u2705AMAZON_ADS_REFRESH_TOKEN'],\n    '\u2705AMAZON_ADS_PROFILE_ID': input['\u2705AMAZON_ADS_PROFILE_ID'],\n    '\u2705AMAZON_SP_CLIENT_ID': input['\u2705AMAZON_SP_CLIENT_ID'],\n    '\u2705AMAZON_SP_CLIENT_SECRET: ': input['\u2705AMAZON_SP_CLIENT_SECRET: '],\n    '\u2705AMAZON_SP_REFRESH_TOKEN': input['\u2705AMAZON_SP_REFRESH_TOKEN'],\n    '\u2705GOOGLE_SERVICE_ACCOUNT_EMAIL': input['\u2705GOOGLE_SERVICE_ACCOUNT_EMAIL'],\n    '\u2705GOOGLE_PRIVATE_KEY': input['\u2705GOOGLE_PRIVATE_KEY'],\n    '\u2705GOOGLE_SCOPE': input['\u2705GOOGLE_SCOPE'],\n    remainingFailedMetricKeys,\n    retryRound,\n    maxRetries,\n    attempts: [],\n    finalSummary: Array.isArray(input.summary) ? input.summary : [],\n    completed: remainingFailedMetricKeys.length === 0,\n  },\n}];"
      },
      "id": "31c655e7-4933-4940-a40b-2b9ef521b127",
      "name": "Initialize Retry State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-retry-targets",
              "leftValue": "={{ $json.remainingFailedMetricKeys.length > 0 ? 'true' : 'false' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c720a480-35a2-4d50-ac0d-f4e51ba524a2",
      "name": "If Has Retry Targets",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1104,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{\n  json: {\n    ...input,\n    INCLUDE_LIST: (input.remainingFailedMetricKeys || []).join(','),\n    ENABLE_RETRY_WORKFLOW: 'false',\n    MAX_RETRIES: String(input.maxRetries || 3),\n    RETRY_ROUND: String(input.retryRound || 1),\n  },\n}];"
      },
      "id": "8d441a46-9b99-4efe-933c-3d14327aa81b",
      "name": "Prepare Retry Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        48
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Hh8rWhCpyt6n8QHT",
          "mode": "list",
          "cachedResultUrl": "/workflow/Hh8rWhCpyt6n8QHT",
          "cachedResultName": "Unified Amazon Metrics Orchestrator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "\u2705START_DATE": "={{ $json[\"\u2705START_DATE\"] }}",
            "\u2705END_DATE": "={{ $json[\"\u2705END_DATE\"] }}",
            "\u2705SPREADSHEET_URL_OR_ID": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "\u2705SPREADSHEET_ID": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
            "\u2705SHEET_NAME": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
            "\u2705RANGE": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
            "\u2705COLUMNS": "={{ $json[\"\u2705COLUMNS\"] || \"\" }}",
            "\u2705AMAZON_MARKETPLACE_ID": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "\u2705AMAZON_ADS_CLIENT_ID": "={{ $json[\"\u2705AMAZON_ADS_CLIENT_ID\"] || \"\" }}",
            "\u2705AMAZON_ADS_CLIENT_SECRET": "={{ $json[\"\u2705AMAZON_ADS_CLIENT_SECRET\"] || \"\" }}",
            "\u2705AMAZON_ADS_REFRESH_TOKEN": "={{ $json[\"\u2705AMAZON_ADS_REFRESH_TOKEN\"] || \"\" }}",
            "\u2705AMAZON_ADS_PROFILE_ID": "={{ $json[\"\u2705AMAZON_ADS_PROFILE_ID\"] || \"\" }}",
            "\u2705AMAZON_SP_CLIENT_ID": "={{ $json[\"\u2705AMAZON_SP_CLIENT_ID\"] || \"\" }}",
            "\u2705AMAZON_SP_CLIENT_SECRET: ": "={{ $json[\"\u2705AMAZON_SP_CLIENT_SECRET: \"] || \"\" }}",
            "\u2705AMAZON_SP_REFRESH_TOKEN": "={{ $json[\"\u2705AMAZON_SP_REFRESH_TOKEN\"] || \"\" }}",
            "\u2705GOOGLE_SERVICE_ACCOUNT_EMAIL": "={{ $json[\"\u2705GOOGLE_SERVICE_ACCOUNT_EMAIL\"] || \"\" }}",
            "\u2705GOOGLE_PRIVATE_KEY": "={{ $json[\"\u2705GOOGLE_PRIVATE_KEY\"] || \"\" }}",
            "\u2705GOOGLE_SCOPE": "={{ $json[\"\u2705GOOGLE_SCOPE\"] || \"https://www.googleapis.com/auth/spreadsheets\" }}",
            "INCLUDE_LIST": "={{ $json.INCLUDE_LIST || \"\" }}",
            "MAX_RETRIES": "={{ $json.MAX_RETRIES || '3' }}",
            "ENABLE_RETRY_WORKFLOW": "false"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "0cea0c35-8458-4ad2-b1d5-be8fe48c0e20",
      "name": "Execute Unified Amazon Metrics Orchestrator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -656,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "function normalizeMetricKeys(raw) {\n  if (Array.isArray(raw)) {\n    return raw.map((value) => String(value).trim()).filter(Boolean);\n  }\n  if (typeof raw === 'string') {\n    return raw.split(',').map((value) => value.trim()).filter(Boolean);\n  }\n  return [];\n}\n\nconst state = $('Prepare Retry Request').first().json;\nconst payload = $input.first().json || {};\nconst summary = payload.finalSummary || payload.summary || [];\nconst failedMetricKeys = [...new Set(normalizeMetricKeys(payload.remainingFailedMetricKeys ?? payload.failedMetricKeys))];\nconst attempts = [\n  ...(state.attempts || []),\n  {\n    retryRound: state.retryRound,\n    includeList: state.INCLUDE_LIST || '',\n    failedMetricKeys,\n    summary,\n  },\n];\n\nreturn [{\n  json: {\n    ...state,\n    attempts,\n    finalSummary: summary,\n    remainingFailedMetricKeys: failedMetricKeys,\n    completed: failedMetricKeys.length === 0,\n  },\n}];"
      },
      "id": "6d1e6f11-403f-4ef4-aa24-952f1df740a4",
      "name": "Capture Retry Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-retry-finished",
              "leftValue": "={{ $json.completed || $json.retryRound >= $json.maxRetries ? 'true' : 'false' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2e7f4eb3-56bc-48d2-acce-c49ed9978fd0",
      "name": "If Retry Finished",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{\n  json: {\n    ...input,\n    retryRound: Number(input.retryRound || 1) + 1,\n  },\n}];"
      },
      "id": "b66ad42a-0db9-40c0-8a8c-051408c7c461",
      "name": "Advance Retry Round",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst attempts = input.attempts || [];\nconst remainingFailedMetricKeys = input.remainingFailedMetricKeys || [];\nconst completed = Boolean(input.completed || remainingFailedMetricKeys.length === 0);\nreturn [{\n  json: {\n    attemptsUsed: attempts.length,\n    maxRetries: Number(input.maxRetries || 3),\n    finalSummary: input.finalSummary || [],\n    remainingFailedMetricKeys,\n    completed,\n    attempts,\n  },\n}];"
      },
      "id": "34ed861c-b45c-4fcc-98bc-319509d2530a",
      "name": "Finalize Retry Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -80
      ]
    }
  ],
  "connections": {
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Initialize Retry State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Initialize Retry State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Retry State": {
      "main": [
        [
          {
            "node": "If Has Retry Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Retry Targets": {
      "main": [
        [
          {
            "node": "Prepare Retry Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Retry Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retry Request": {
      "main": [
        [
          {
            "node": "Execute Unified Amazon Metrics Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Unified Amazon Metrics Orchestrator": {
      "main": [
        [
          {
            "node": "Capture Retry Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Retry Result": {
      "main": [
        [
          {
            "node": "If Retry Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Retry Finished": {
      "main": [
        [
          {
            "node": "Finalize Retry Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Advance Retry Round",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advance Retry Round": {
      "main": [
        [
          {
            "node": "Prepare Retry Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ebbf2e0d-77e3-4e1b-8766-12c4d5806d70",
  "activeVersionId": "ebbf2e0d-77e3-4e1b-8766-12c4d5806d70",
  "versionCounter": 9,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-20T07:19:01.539Z",
      "createdAt": "2026-04-20T07:19:01.539Z",
      "role": "workflow:owner",
      "workflowId": "7qKcWP6U0y0xES06",
      "projectId": "A9JoI2uB9gEuVNGo",
      "project": {
        "updatedAt": "2026-04-12T23:15:35.657Z",
        "createdAt": "2026-04-12T23:15:20.662Z",
        "id": "A9JoI2uB9gEuVNGo",
        "name": "Jericho jericho@blazintech.net <jericho@blazintech.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7c4876f-874b-42f0-baa1-c60e258e7170"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version ebbf2e0d",
    "description": ""
  }
}
