workflows/Sheet Snapshot Multi-Channel Notifier copy.json
{
  "updatedAt": "2026-04-16T00:18:43.000Z",
  "createdAt": "2026-04-16T00:18:27.706Z",
  "id": "90ZzpImMf6cgUPeN",
  "name": "Sheet Snapshot Multi-Channel Notifier copy",
  "description": "r",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "7b40b12d-84b2-458e-b14a-4521a2dc20b4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        344
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message-text",
              "name": "✅message",
              "type": "string",
              "value": "Amazon metrics snapshot is ready."
            },
            {
              "id": "report-date",
              "name": "✅reportDate",
              "type": "string",
              "value": "={{ $now.toISODate() }}"
            },
            {
              "id": "source-name",
              "name": "✅source",
              "type": "string",
              "value": "auto5april_final snapshot"
            },
            {
              "id": "spreadsheet-id",
              "name": "✅spreadsheetId",
              "type": "string",
              "value": "1RSbTS6Y1idmbG_LHUhCSPNx341eYxvUJty_Oxs9gK2o"
            },
            {
              "id": "sheet-gid",
              "name": "✅sheetGid",
              "type": "string",
              "value": "2062454125"
            },
            {
              "id": "sheet-name",
              "name": "✅sheetName",
              "type": "string",
              "value": "auto5april_final"
            },
            {
              "id": "slack-bot-token",
              "name": "✅slackBotToken",
              "type": "string",
              "value": "YOUR_SLACK_TOKEN"
            },
            {
              "id": "slack-channel-id",
              "name": "✅slackChannelId",
              "type": "string",
              "value": "C0AHPK1P33P"
            },
            {
              "id": "google-client-email",
              "name": "✅googleClientEmail",
              "type": "string",
              "value": "n8n-268@amazon-automation-493007.iam.gserviceaccount.com"
            },
            {
              "id": "google-private-key",
              "name": "✅googlePrivateKey",
              "type": "string",
              "value": "-----BEGIN PRIVATE KEY-----\\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQC8c0JZmC0qtMMW\\nH588LkS3fVUWusX30OQASwFyJY5jjndDvGva5kHxvORBTn+/YB7Ei9YyAIXqcZYU\\nFVAP1nCNJtNI9TiamZGP/c3P2XRdPlK0TLCqWMpYqg7iXp8Rrv4YOtpzEpnxeMsx\\n3saKrqccA969jAaSC9aCaa1O5wHmNQlk2pPD9TEywuBIMJeSllsZbxiTYQC7olWy\\nG1HhOFgU7xFVe7YVrQMI/O43uWXCB7BdpHUoCKGaxnOvWINOMbIIRLvi1GUTC30L\\nUPq14S0bDqnzu4En4Cd0WcpBqpsWutnqu9YEtDjV1eeFyg2F3DPYU2JmxeBX89eY\\nJUuL9S1lAgMBAAECggEAJPXvMr7Vxv0+kQmBM+64NAvNI0DdIJp0CXmsjix/BZg0\\n3JBpT/zevLCpTQS+KfUKe86YY2S2XzHJd2Vptz1+BDUz9eiAolPR2J21Htm9yKb3\\nVhz/fl2dTDAIbM4VoUSC2hI685xXnKRuJ/kTVDJmnKhGqML8q+rN9vSOlP3aYcG5\\nD84TH3xY2pjl0vV3L4Qm7gmzkBepbbz6IDPNZJKz1C5H7k9mitkQMwIlRsaj0BQ4\\n7Kdh1Hg/670vUu6AHFsebDtXmIQVpKln9D11wBszpH/D7NclwFnIiP102xBMgH5L\\n/7UUcavrUvOvoljICT41O0R41Ad295b+mT9K8fum0QKBgQD0cPhITWP9kUYFHDb5\\ntkga3p8pPajVWnuKGafuNvzt1/GzaDrg3/lwejua2Ht6KdSi/IkL8Ucx8SNaJk1/\\nROH4mfaS2lGG+7VPRD019iEkA7eqUoTvpQWyLFS4Rw/oTzaWdlWAgqzqyNlvaEON\\nD0Y+QAOgKoCWqMuhlRbUoXLeNQKBgQDFXIB97hX+BaRhuYFE5P9Wne7ymaojULt9\\nFitUezFVk8xJKDvkPJhrqh5N9hmdr/LxAD9nuR3ZrX0jTU6w1CKX4TesVGny8ZRG\\nlyzS0tdHJsv5TyV1Wrsr+opS4YgPcH254d5VA9TJf/pmsqQTMQxDWVT62kgBqRpv\\nYE/kE7+4cQKBgA5ZP0nHOTJeP7T3FgcMeykQnlkmZG25tPzDSsdB9RDlFywH10Ty\\nAMtocW1CfeUK5Y93sXfA/wPgesnE69GnsngMWZv/Mr/wsJDpmYo8W2+oxDQ8Sc9j\\naXUvAv4aNcXWOIcWhShZA1t41MKkZSq3ldD7ovrY49l0KRfgD4oFvB9tAoGAcdFV\\n3MoIbtWMJjuYHEZAJxCvs8MAxpsRdSLq3C6rleHFh08nswlrEXQrQ+SwgyrsXSY6\\narPsThPqPgigYAQG6zYcKEsKSuwdCdS3KeIj+smaCm4leRdZKBS13vRnxhemuiNT\\nWA38kjQ3ETDmxJadrt1+z6hArIx8TUzq5eqpv1ECgYAsNgy7dzdxPPaA6hH9LKMD\\nSNK2XNNTYFboktV6UEHIx1ZQ6sEim/W83KZZx4azV1leJ7olCsRkibzyQUHikVlC\\nvZuWbd/0oClYd+IPODafrgD310zcrYP43YbDPjZyK/C+ZztpwUjSkSQY9QLtqKQp\\njmyybrA+ZAHcBtdhnqKx+A==\\n-----END PRIVATE KEY-----\\n"
            },
            {
              "id": "google-scope",
              "name": "✅googleScope",
              "type": "string",
              "value": "https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/spreadsheets.readonly"
            }
          ]
        },
        "options": {}
      },
      "id": "1361f018-35f1-46b2-becb-e9ef504c735b",
      "name": "Set Credentials",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        344
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction b64urlFromString(str) {\n  return Buffer.from(str, 'utf8')\n    .toString('base64')\n    .replace(/=/g, '')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_');\n}\n\nconst input = $input.first().json;\nconst serviceAccountEmail = input['✅googleClientEmail'];\nconst privateKeyPem = String(input['✅googlePrivateKey'] || '').replace(/\\\\n/g, '\\n');\nconst scope = input['✅googleScope'] || 'https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/spreadsheets.readonly';\n\nif (!serviceAccountEmail || !privateKeyPem) {\n  throw new Error('Missing googleClientEmail or googlePrivateKey');\n}\n\nconst now = Math.floor(Date.now() / 1000);\nconst header = { alg: 'RS256', typ: 'JWT' };\nconst payload = {\n  iss: serviceAccountEmail,\n  scope,\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now,\n  exp: now + 3600,\n};\n\nconst encodedHeader = b64urlFromString(JSON.stringify(header));\nconst encodedPayload = b64urlFromString(JSON.stringify(payload));\nconst signingInput = `${encodedHeader}.${encodedPayload}`;\n\nconst signer = crypto.createSign('RSA-SHA256');\nsigner.update(signingInput);\nsigner.end();\n\nconst signature = signer\n  .sign(privateKeyPem, 'base64')\n  .replace(/=/g, '')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_');\n\nconst assertion = `${signingInput}.${signature}`;\n\nreturn [{ json: { ...input, assertion } }];"
      },
      "id": "52546127-eb16-41a4-829a-27bdb4d0edc3",
      "name": "Create Google JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        344
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $json.assertion }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0bb35eb4-aa1e-4977-b2c9-c11d344e01f5",
      "name": "Get Google Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        344
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://docs.google.com/spreadsheets/d/' + $('Set Credentials').first().json['✅spreadsheetId'] + '/export?format=pdf&gid=' + $('Set Credentials').first().json['✅sheetGid'] + '&single=true&size=7&portrait=false&fitw=true&sheetnames=false&printtitle=false&pagenumbers=false&gridlines=false&fzr=false' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfData"
            }
          }
        }
      },
      "id": "e6216c08-d7b6-45b1-b07b-c48c78571bf7",
      "name": "Export Snapshot PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1136,
        344
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/files.getUploadURLExternal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Set Credentials').first().json['✅slackBotToken'] }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "filename",
              "value": "={{ $json.fileName }}"
            },
            {
              "name": "length",
              "value": "={{ String($json.fileSize) }}"
            },
            {
              "name": "alt_txt",
              "value": "={{ $json.sheetName + ' snapshot' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9f1d44bc-0b29-4df7-8ee9-2a03f4bb3390",
      "name": "Slack Get Upload URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1584,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nif (!input.ok || !input.upload_url || !input.file_id) {\n  throw new Error(`Slack getUploadURLExternal failed: ${input.error || 'unknown_error'}`);\n}\nreturn [{ json: { uploadUrl: input.upload_url, fileId: input.file_id } }];"
      },
      "id": "53ed9106-3e4e-48ab-abed-e4651c1abc93",
      "name": "Extract Slack Upload Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst url = item.json.uploadUrl;\nif (!item.binary?.file) throw new Error('No binary named \"file\"');\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'file');\n\n// Verify PDF header\nconst header = buf.slice(0, 5).toString('ascii');\nconst isPdf = header === '%PDF-';\n\n// Upload raw binary - only get the body as string, no full response\nconst resp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: url,\n  body: buf,\n  headers: {\n    'Content-Type': 'application/octet-stream',\n    'Content-Length': String(buf.length),\n  },\n  json: false,\n});\n\nreturn [{json:{\n  uploadResponse: String(resp || '').substring(0, 200),\n  bytesUploaded: buf.length,\n  pdfHeaderValid: isPdf,\n  pdfHeader: header,\n}}];"
      },
      "id": "52a62ffe-c8ec-44b0-8596-ed3e4fdebd9e",
      "name": "Slack Upload Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/files.completeUploadExternal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Set Credentials').first().json['✅slackBotToken'] }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "files",
              "value": "={{ JSON.stringify([{id: $json.fileId, title: $json.sheetName + ' snapshot'}]) }}"
            },
            {
              "name": "channel_id",
              "value": "={{ $('Set Credentials').first().json['✅slackChannelId'] }}"
            },
            {
              "name": "initial_comment",
              "value": "={{ $('Attach PDF Metadata').first().json.message + ' - ' + $('Attach PDF Metadata').first().json.source + ' - Date: ' + $('Attach PDF Metadata').first().json.reportDate }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "e40f542b-c08b-40c7-bf1f-ff1087a0c7da",
      "name": "Slack Complete Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2704,
        344
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "647b5522-dd52-4014-887f-02173bc55bc5",
      "name": "Merge Slack Upload Meta",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2032,
        344
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "14ed2f71-d981-4b8d-a43f-e4e8845f988c",
      "name": "Merge Slack Complete Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2480,
        344
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Set Credentials').first().json;\nconst item = $input.first();\nconst pdfBinary = item.binary?.pdfData;\n\nif (!pdfBinary) {\n  throw new Error('Expected exported PDF binary at item.binary.pdfData');\n}\n\n// Get the actual buffer size\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'pdfData');\n\nreturn [{\n  json: {\n    fileName: payload['✅sheetName'] + '-' + payload['✅reportDate'] + '.pdf',\n    reportDate: payload['✅reportDate'],\n    source: payload['✅source'],\n    message: payload['✅message'],\n    sheetName: payload['✅sheetName'],\n    fileSize: buf.length,\n  },\n  binary: {\n    file: pdfBinary,\n  },\n}];"
      },
      "id": "ab13c60c-f008-4818-98dc-4585537236cd",
      "name": "Attach PDF Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        344
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Set Credentials').first().json['✅slackBotToken'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { channel: $('Set Credentials').first().json['✅slackChannelId'], text: $('Attach PDF Metadata').first().json.message + ' - ' + $('Attach PDF Metadata').first().json.source + ' - Date: ' + $('Attach PDF Metadata').first().json.reportDate + '\\n' + $json.files[0].permalink, unfurl_links: true, unfurl_media: true } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "0e90b4b4-9dea-41f0-ad92-4116e699a9db",
      "name": "Slack Share File Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2928,
        344
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Create Google JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google JWT": {
      "main": [
        [
          {
            "node": "Get Google Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Google Access Token": {
      "main": [
        [
          {
            "node": "Export Snapshot PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Snapshot PDF": {
      "main": [
        [
          {
            "node": "Attach PDF Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Get Upload URL": {
      "main": [
        [
          {
            "node": "Extract Slack Upload Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Slack Upload Meta": {
      "main": [
        [
          {
            "node": "Merge Slack Upload Meta",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Slack Upload Meta": {
      "main": [
        [
          {
            "node": "Slack Upload Binary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Slack Complete Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Slack Upload Binary": {
      "main": [
        [
          {
            "node": "Merge Slack Complete Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Slack Complete Context": {
      "main": [
        [
          {
            "node": "Slack Complete Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach PDF Metadata": {
      "main": [
        [
          {
            "node": "Slack Get Upload URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Slack Upload Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Complete Upload": {
      "main": [
        [
          {
            "node": "Slack Share File Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timeSavedPerExecution": 10
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "cfacd373-4a13-4884-b976-e342d8cb3f9f",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-16T00:18:27.721Z",
      "createdAt": "2026-04-16T00:18:27.721Z",
      "role": "workflow:owner",
      "workflowId": "90ZzpImMf6cgUPeN",
      "projectId": "A9JoI2uB9gEuVNGo",
      "project": {
        "updatedAt": "2026-04-12T23:15:35.657Z",
        "createdAt": "2026-04-12T23:15:20.662Z",
        "id": "A9JoI2uB9gEuVNGo",
        "name": "Jericho jericho@blazintech.net <jericho@blazintech.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7c4876f-874b-42f0-baa1-c60e258e7170"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}