workflows/Sheet Snapshot Multi-Channel Notifier.json
{
  "updatedAt": "2026-04-15T05:11:24.000Z",
  "createdAt": "2026-04-15T04:21:03.039Z",
  "id": "5zBWa3Zw2RRPveay",
  "name": "Sheet Snapshot Multi-Channel Notifier",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "set-payload",
      "name": "Set Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message-text",
              "name": "message",
              "type": "string",
              "value": "Amazon metrics snapshot is ready."
            },
            {
              "id": "sheet-url",
              "name": "sheetUrl",
              "type": "string",
              "value": "https://docs.google.com/spreadsheets/d/1RSbTS6Y1idmbG_LHUhCSPNx341eYxvUJty_Oxs9gK2o/edit?gid=2062454125#gid=2062454125"
            },
            {
              "id": "report-date",
              "name": "reportDate",
              "type": "string",
              "value": "={{ $now.toISODate() }}"
            },
            {
              "id": "source-name",
              "name": "source",
              "type": "string",
              "value": "MAIN_SKU / MOBILITY snapshot"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "send-slack",
      "name": "Send Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        760,
        120
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { text: `${$json.message}\\n${$json.sheetUrl}\\nDate: ${$json.reportDate}` } }}",
        "options": {}
      }
    },
    {
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        760,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://api.telegram.org/bot${$env.TELEGRAM_BOT_TOKEN}/sendMessage` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { chat_id: $env.TELEGRAM_CHAT_ID, text: `${$json.message}\\n${$json.sheetUrl}\\nDate: ${$json.reportDate}` } }}",
        "options": {}
      }
    },
    {
      "id": "send-whatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        760,
        480
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ `https://graph.facebook.com/v22.0/${$env.WHATSAPP_PHONE_NUMBER_ID}/messages` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ `Bearer ${$env.WHATSAPP_TOKEN}` }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { messaging_product: 'whatsapp', to: $env.WHATSAPP_TO_NUMBER, type: 'text', text: { body: `${$json.message}\\n${$json.sheetUrl}\\nDate: ${$json.reportDate}` } } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload": {
      "main": [
        [
          {
            "node": "Send Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "cfee3e20-aeb8-4b1d-9837-36966f76b09e",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-15T04:21:03.078Z",
      "createdAt": "2026-04-15T04:21:03.078Z",
      "role": "workflow:owner",
      "workflowId": "5zBWa3Zw2RRPveay",
      "projectId": "A9JoI2uB9gEuVNGo",
      "project": {
        "updatedAt": "2026-04-12T23:15:35.657Z",
        "createdAt": "2026-04-12T23:15:20.662Z",
        "id": "A9JoI2uB9gEuVNGo",
        "name": "Jericho jericho@blazintech.net <jericho@blazintech.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7c4876f-874b-42f0-baa1-c60e258e7170"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}