workflows/Unified Amazon Metrics Group - Ads.json
{
  "updatedAt": "2026-04-16T23:44:42.606Z",
  "createdAt": "2026-04-16T22:01:41.247Z",
  "id": "vmOB9dWgN8q6LJVk",
  "name": "Unified Amazon Metrics Group - Ads",
  "description": "Self-contained ads grouped workflow with inlined ads metric logic and parent-callable entry.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3744,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const registry = [\n  {\n    \"metricKey\": \"ads_spend\",\n    \"displayName\": \"Get Ad Spend\",\n    \"dateMode\": \"range-ready\"\n  },\n  {\n    \"metricKey\": \"ctr\",\n    \"displayName\": \"Get CTR\",\n    \"dateMode\": \"range-ready\"\n  },\n  {\n    \"metricKey\": \"sales_ppc\",\n    \"displayName\": \"Get Sales PPC\",\n    \"dateMode\": \"range-ready\"\n  },\n  {\n    \"metricKey\": \"clicks\",\n    \"displayName\": \"Get Clicks\",\n    \"dateMode\": \"range-ready\"\n  },\n  {\n    \"metricKey\": \"units_ppc\",\n    \"displayName\": \"Get Units PPC\",\n    \"dateMode\": \"range-ready\"\n  }\n];\nconst raw = String($json.INCLUDE_LIST || '').trim().toLowerCase();\nconst selectedMetrics = raw ? [...new Set(raw.split(',').map((value) => value.trim()).filter(Boolean).filter((metricKey) => registry.some((entry) => entry.metricKey === metricKey)))] : [];\nreturn [{\n  json: {\n    ...$json,\n    INCLUDE_LIST: selectedMetrics.join(','),\n    selectedMetrics,\n    runAll: selectedMetrics.length === 0,\n    groupKey: 'ads',\n    groupMetrics: registry.map((entry) => entry.metricKey),\n    summary: [],\n    registry,\n    remainingRegistry: registry,\n  },\n}];"
      },
      "id": "9ab7ff96-a858-4f5d-89dd-6eae4df70259",
      "name": "Build Workflow Registry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        616
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst summary = (input.summary || []).map((item) => ({\n  groupKey: 'ads',\n  metricKey: item.metricKey,\n  displayName: item.displayName,\n  selected: item.selected,\n  status: item.status,\n  errorMessage: item.errorMessage ?? null,\n  startedAt: item.startedAt ?? null,\n  finishedAt: item.finishedAt ?? null,\n}));\nconst totals = summary.reduce((acc, item) => {\n  acc.total += 1;\n  acc[item.status] = (acc[item.status] || 0) + 1;\n  return acc;\n}, { total: 0, success: 0, failed: 0, skipped: 0 });\nconst firstFailure = summary.find((item) => item.status === 'failed');\nconst selectedMetrics = input.runAll ? (input.groupMetrics || []) : (input.selectedMetrics || []);\nconst groupStatus = totals.failed > 0 ? 'failed' : totals.success > 0 ? 'success' : 'skipped';\nconst startedAt = summary.find((item) => item.startedAt)?.startedAt || null;\nconst finishedAt = new Date().toISOString();\nreturn [{\n  json: {\n    groupKey: 'ads',\n    groups: [{\n      groupKey: 'ads',\n      status: groupStatus,\n      selectedMetrics,\n      errorMessage: firstFailure ? firstFailure.errorMessage : null,\n      startedAt,\n      finishedAt,\n    }],\n    summary,\n    totals,\n  },\n}];"
      },
      "id": "cb2054c8-299b-414e-86a3-b578d73d746f",
      "name": "Final Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.amazon.com/auth/o2/token",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "=refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json[\"✅AMAZON_ADS_REFRESH_TOKEN\"] }}"
            },
            {
              "name": "client_id",
              "value": "={{ $json[\"✅AMAZON_ADS_CLIENT_ID\"] }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json[\"✅AMAZON_ADS_CLIENT_SECRET\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "131724be-1194-4fa4-ad8e-87fd0c534d33",
      "name": "Mint Amazon Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3296,
        616
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "04c59770-30d9-42ea-9d31-b768024eef39",
      "name": "Refresh Amazon Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        616
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $json.assertion }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2a201658-f325-423c-b8dc-7da5cad61342",
      "name": "Mint Google Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2624,
        616
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "13be27ef-0fcb-4dfa-83f2-ba8e40ec6978",
      "name": "Refresh Google Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        616
      ]
    },
    {
      "parameters": {
        "jsCode": "const seed = $('Set Credentials').first().json;\nconst input = $input.first().json;\nconst issuedAt = new Date().toISOString();\n\nconst refreshBufferSeconds = Number(seed.AUTH_REFRESH_BUFFER_SECONDS || input.AUTH_REFRESH_BUFFER_SECONDS || 300);\n\nconst amazonAdsNode = $('Mint Amazon Access Token').first().json;\nconst googleNode = $('Mint Google Access Token').first().json;\nconst spNode = $('Mint SP Access Token').first().json;\n\nconst amazonExpiresIn = Number(amazonAdsNode.expires_in || 3600);\nconst googleExpiresIn = Number(googleNode.expires_in || 3600);\nconst spExpiresIn = Number(spNode.expires_in || 3600);\n\nreturn [{\n  json: {\n    ...seed,\n    ...input,\n    auth: {\n      amazon: {\n        accessToken: amazonAdsNode.access_token,\n        clientId: seed['✅AMAZON_ADS_CLIENT_ID'],\n        profileId: seed['✅AMAZON_ADS_PROFILE_ID'],\n        issuedAt,\n        expiresAt: new Date(Date.now() + amazonExpiresIn * 1000).toISOString(),\n        spAccessToken: spNode.access_token,\n        spIssuedAt: issuedAt,\n        spExpiresAt: new Date(Date.now() + spExpiresIn * 1000).toISOString(),\n      },\n      google: {\n        accessToken: googleNode.access_token,\n        scope: seed['✅GOOGLE_SCOPE'] || 'https://www.googleapis.com/auth/spreadsheets',\n        issuedAt: seed.googleIssuedAt || input.googleIssuedAt || issuedAt,\n        expiresAt: seed.googleExpiresAt || input.googleExpiresAt || new Date(Date.now() + googleExpiresIn * 1000).toISOString(),\n      },\n      meta: {\n        refreshBufferSeconds,\n      },\n    },\n  },\n}];"
      },
      "id": "196cd93e-f36a-4b77-bb65-3a1677c07974",
      "name": "Attach Shared Auth Bundle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1952,
        616
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76a6c500-c2c0-4339-8299-682826c4452b",
              "name": "✅START_DATE",
              "value": "={{ $json['✅START_DATE'] || '2026-04-07' }}",
              "type": "string"
            },
            {
              "id": "2a1915cd-7949-44ff-952b-9ab2aa6365f5",
              "name": "✅END_DATE",
              "value": "={{ $json['✅END_DATE'] || $json['✅START_DATE'] || '2026-04-07' }}",
              "type": "string"
            },
            {
              "id": "6944e5f6-f22f-4bf8-9746-13b9e5ee8f91",
              "name": "INCLUDE_LIST",
              "value": "={{ Array.isArray($json.selectedMetrics) && $json.selectedMetrics.length ? $json.selectedMetrics.join(',') : ($json.INCLUDE_LIST || '') }}",
              "type": "string"
            },
            {
              "id": "d2a87c47-b55e-4641-90c9-4b7c204d8955",
              "name": "✅AMAZON_ADS_CLIENT_ID",
              "value": "YOUR_AMAZON_CLIENT_ID",
              "type": "string"
            },
            {
              "id": "f6bcc963-0897-455c-ac16-e86f3deca6ef",
              "name": "✅AMAZON_ADS_CLIENT_SECRET",
              "value": "amzn1.oa2-cs.v1.c8d866128f6e2dbe406785ea446654c10bc921de4d1ac4256fa96a63f5a47971",
              "type": "string"
            },
            {
              "id": "6e513cbb-157d-4f5b-a18f-6f2b212157f5",
              "name": "✅AMAZON_ADS_REFRESH_TOKEN",
              "value": "Atzr|IwEBID_-DsgS6HGOaBkUmeUGN3_4CG7Skx-lQJuchtu5WaP852TE32iP4z9PUNBlnkOJPJoyn4nbKFnAGXJDbedu5th0VlxqZFU125TiPIpGkYLBieEPgkiIMSLV6vJOjB6Xm7nnmNd4_KXtLnH4x69IkhJ0cYSQgWpy9nc1c71hEX8lht3kD7qHsAByw4Wd8sYuOlfzxCeepOAHsv2h76XSA629pZglhVNNXQLPFKpXBRwoVjaI1j_EueHE0iQ50IPNWjC38A7WT2ZEaRlj7pkjSvmh13v-zeLHvpkWD31g5mIj-SeCUalwlFDkdMgOLM2wI1zCW_GhpI3bipRYbjrT2Deog_suuskEK1l8hCBtnUAZZflZLo3e6s3SIeSPJDTmShRDuBDjGPX3Qz1rDa1LUk0UU0ON-Z-eLXbhSKOdYQKLhFNA0UMc9cHT1polWR_iuvd13z7u2OrB-Q5EF6sdhxyLFR9QiqwNqT9T5-XUfRgNUWexJyEYQVsrcClCdTjrwg-y0xo8EmkCLAgoRCaXPnVd",
              "type": "string"
            },
            {
              "id": "15f4bb08-6a83-4e2f-bf3f-706b362ee4af",
              "name": "✅AMAZON_ADS_PROFILE_ID",
              "value": "873689645456341",
              "type": "string"
            },
            {
              "id": "55f35d9b-4dd4-4594-af0c-08185938f2ac",
              "name": "✅AMAZON_SP_CLIENT_ID",
              "value": "YOUR_AMAZON_CLIENT_ID",
              "type": "string"
            },
            {
              "id": "2aa06f79-f2f4-4d4f-8a4a-bf328f2de798",
              "name": "✅AMAZON_SP_CLIENT_SECRET: ",
              "value": "amzn1.oa2-cs.v1.7952b2a0ac9fc179d52a158485b1755be99e2f56c256c5009bf5b23c373ac7f4",
              "type": "string"
            },
            {
              "id": "518c7b45-f2de-42ad-b944-6342308f9e41",
              "name": "✅AMAZON_SP_REFRESH_TOKEN",
              "value": "Atzr|IwEBIIvWPTsQK2VYjuqsRqPryHsxWgSLgEqW54kRaFox8SHBd9VIV60_VVt0p2XJMvBPT7-1YJ7amEx8kuoRL-wT6-lkg2yDOMnMo1SswpohWcq5Pune77FhhIg5NYacOZIFUUqwsPCnLijKtHqWFdhOmXFzc-1Q7tbhJYvmi3EC7NQDJupcQ8xMw6sbqQCOInwGReb0Be6uHxN_M1-IN_VLDdN-6iaYCkN8eDBcZWrOunKpSUnzjp72RraWSF2pekXs88zrMOhT78vMdevSDus18Nrp2V6GdNSmPci3QLlqam2FDHCDFgQQM6hHnz3Zwv4t9pM",
              "type": "string"
            },
            {
              "id": "d02eed0a-85e5-4723-97a0-2ef963c0cb91",
              "name": "✅GOOGLE_SERVICE_ACCOUNT_EMAIL",
              "value": "n8n-268@amazon-automation-493007.iam.gserviceaccount.com",
              "type": "string"
            },
            {
              "id": "fe461a50-becf-4868-9675-eba1f00317b1",
              "name": "✅GOOGLE_PRIVATE_KEY",
              "value": "-----BEGIN PRIVATE KEY-----\\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQC8c0JZmC0qtMMW\\nH588LkS3fVUWusX30OQASwFyJY5jjndDvGva5kHxvORBTn+/YB7Ei9YyAIXqcZYU\\nFVAP1nCNJtNI9TiamZGP/c3P2XRdPlK0TLCqWMpYqg7iXp8Rrv4YOtpzEpnxeMsx\\n3saKrqccA969jAaSC9aCaa1O5wHmNQlk2pPD9TEywuBIMJeSllsZbxiTYQC7olWy\\nG1HhOFgU7xFVe7YVrQMI/O43uWXCB7BdpHUoCKGaxnOvWINOMbIIRLvi1GUTC30L\\nUPq14S0bDqnzu4En4Cd0WcpBqpsWutnqu9YEtDjV1eeFyg2F3DPYU2JmxeBX89eY\\nJUuL9S1lAgMBAAECggEAJPXvMr7Vxv0+kQmBM+64NAvNI0DdIJp0CXmsjix/BZg0\\n3JBpT/zevLCpTQS+KfUKe86YY2S2XzHJd2Vptz1+BDUz9eiAolPR2J21Htm9yKb3\\nVhz/fl2dTDAIbM4VoUSC2hI685xXnKRuJ/kTVDJmnKhGqML8q+rN9vSOlP3aYcG5\\nD84TH3xY2pjl0vV3L4Qm7gmzkBepbbz6IDPNZJKz1C5H7k9mitkQMwIlRsaj0BQ4\\n7Kdh1Hg/670vUu6AHFsebDtXmIQVpKln9D11wBszpH/D7NclwFnIiP102xBMgH5L\\n/7UUcavrUvOvoljICT41O0R41Ad295b+mT9K8fum0QKBgQD0cPhITWP9kUYFHDb5\\ntkga3p8pPajVWnuKGafuNvzt1/GzaDrg3/lwejua2Ht6KdSi/IkL8Ucx8SNaJk1/\\nROH4mfaS2lGG+7VPRD019iEkA7eqUoTvpQWyLFS4Rw/oTzaWdlWAgqzqyNlvaEON\\nD0Y+QAOgKoCWqMuhlRbUoXLeNQKBgQDFXIB97hX+BaRhuYFE5P9Wne7ymaojULt9\\nFitUezFVk8xJKDvkPJhrqh5N9hmdr/LxAD9nuR3ZrX0jTU6w1CKX4TesVGny8ZRG\\nlyzS0tdHJsv5TyV1Wrsr+opS4YgPcH254d5VA9TJf/pmsqQTMQxDWVT62kgBqRpv\\nYE/kE7+4cQKBgA5ZP0nHOTJeP7T3FgcMeykQnlkmZG25tPzDSsdB9RDlFywH10Ty\\nAMtocW1CfeUK5Y93sXfA/wPgesnE69GnsngMWZv/Mr/wsJDpmYo8W2+oxDQ8Sc9j\\naXUvAv4aNcXWOIcWhShZA1t41MKkZSq3ldD7ovrY49l0KRfgD4oFvB9tAoGAcdFV\\n3MoIbtWMJjuYHEZAJxCvs8MAxpsRdSLq3C6rleHFh08nswlrEXQrQ+SwgyrsXSY6\\narPsThPqPgigYAQG6zYcKEsKSuwdCdS3KeIj+smaCm4leRdZKBS13vRnxhemuiNT\\nWA38kjQ3ETDmxJadrt1+z6hArIx8TUzq5eqpv1ECgYAsNgy7dzdxPPaA6hH9LKMD\\nSNK2XNNTYFboktV6UEHIx1ZQ6sEim/W83KZZx4azV1leJ7olCsRkibzyQUHikVlC\\nvZuWbd/0oClYd+IPODafrgD310zcrYP43YbDPjZyK/C+ZztpwUjSkSQY9QLtqKQp\\njmyybrA+ZAHcBtdhnqKx+A==\\n-----END PRIVATE KEY-----\\n",
              "type": "string"
            },
            {
              "id": "51f84e29-8590-46e0-bb22-c92f5900bcd7",
              "name": "✅GOOGLE_SCOPE",
              "value": "https://www.googleapis.com/auth/spreadsheets",
              "type": "string"
            },
            {
              "id": "297bd6d8-b645-41fa-baf6-9ac1a3b4a682",
              "name": "✅SPREADSHEET_URL_OR_ID",
              "value": "https://docs.google.com/spreadsheets/d/1RSbTS6Y1idmbG_LHUhCSPNx341eYxvUJty_Oxs9gK2o/",
              "type": "string"
            },
            {
              "id": "c0aec1b6-f8fc-49fd-82aa-03fbb686df99",
              "name": "✅SHEET_NAME",
              "value": "MOBILITY",
              "type": "string"
            },
            {
              "id": "163475ec-2602-4c9e-9200-3277ef26934d",
              "name": "✅RANGE",
              "value": "A:Z",
              "type": "string"
            },
            {
              "id": "7cc097e4-78a8-4ff3-8f04-a50764c10b41",
              "name": "✅START_DATE",
              "value": "2026-04-09",
              "type": "string"
            },
            {
              "id": "8d2c39d2-0cca-468a-bdb6-8a4ec6d9ad01",
              "name": "✅END_DATE",
              "value": "2026-04-09",
              "type": "string"
            },
            {
              "id": "05c6613c-5ce9-418b-9067-8ca2a91dec71",
              "name": "✅COLUMNS",
              "value": "[\"cost\", \"clicks\", \"impressions\", \"advertisedAsin\", \"advertisedSku\"]",
              "type": "string"
            },
            {
              "id": "e05654b1-70f3-45f6-ba57-3f3b7bb1a8bf",
              "name": "✅SPREADSHEET_ID",
              "value": "1RSbTS6Y1idmbG_LHUhCSPNx341eYxvUJty_Oxs9gK2o",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3520,
        616
      ],
      "id": "cf0346ef-113a-4bf8-9537-56adc7df7f82",
      "name": "Set Credentials"
    },
    {
      "parameters": {
        "jsCode": "function b64urlFromString(str) {\n  return Buffer.from(str, 'utf8')\n    .toString('base64')\n    .replace(/=/g, '')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_');\n}\n\nfunction b64urlFromBytes(bytes) {\n  return Buffer.from(bytes)\n    .toString('base64')\n    .replace(/=/g, '')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_');\n}\n\nfunction hexToBytes(hex) {\n  const out = new Uint8Array(hex.length / 2);\n  for (let i = 0; i < out.length; i++) {\n    out[i] = parseInt(hex.slice(i * 2, i * 2 + 2), 16);\n  }\n  return out;\n}\n\nfunction bytesToBigInt(bytes) {\n  let n = 0n;\n  for (let i = 0; i < bytes.length; i++) {\n    n = (n << 8n) | BigInt(bytes[i]);\n  }\n  return n;\n}\n\nfunction bigIntToBytes(num, length) {\n  const out = new Uint8Array(length);\n  let x = num;\n  for (let i = length - 1; i >= 0; i--) {\n    out[i] = Number(x & 0xffn);\n    x >>= 8n;\n  }\n  return out;\n}\n\nfunction modPow(base, exp, mod) {\n  let result = 1n;\n  let b = base % mod;\n  let e = exp;\n  while (e > 0n) {\n    if (e & 1n) result = (result * b) % mod;\n    b = (b * b) % mod;\n    e >>= 1n;\n  }\n  return result;\n}\n\nfunction readAsn1Element(bytes, offset) {\n  const tag = bytes[offset++];\n  const lenByte = bytes[offset++];\n  let length = 0;\n  if ((lenByte & 0x80) === 0) {\n    length = lenByte;\n  } else {\n    const numBytes = lenByte & 0x7f;\n    for (let i = 0; i < numBytes; i++) {\n      length = (length << 8) | bytes[offset++];\n    }\n  }\n  const valueStart = offset;\n  const valueEnd = valueStart + length;\n  return { tag, valueStart, valueEnd, nextOffset: valueEnd };\n}\n\nfunction readAsn1Integer(bytes, offset) {\n  const el = readAsn1Element(bytes, offset);\n  if (el.tag !== 0x02) throw new Error('Invalid ASN.1 INTEGER');\n  let start = el.valueStart;\n  while (start < el.valueEnd - 1 && bytes[start] === 0x00) start++;\n  return { value: bytesToBigInt(bytes.slice(start, el.valueEnd)), nextOffset: el.nextOffset };\n}\n\nfunction parsePkcs8RsaPrivateKey(pem) {\n  const der = Buffer.from(\n    pem\n      .replace(/-----BEGIN PRIVATE KEY-----/g, '')\n      .replace(/-----END PRIVATE KEY-----/g, '')\n      .replace(/\\s+/g, ''),\n    'base64'\n  );\n  const bytes = new Uint8Array(der);\n\n  const top = readAsn1Element(bytes, 0);\n  if (top.tag !== 0x30) throw new Error('Invalid PKCS#8');\n\n  let o = top.valueStart;\n  const version = readAsn1Element(bytes, o);\n  if (version.tag !== 0x02) throw new Error('Invalid PKCS#8 version');\n  o = version.nextOffset;\n\n  const alg = readAsn1Element(bytes, o);\n  if (alg.tag !== 0x30) throw new Error('Invalid PKCS#8 algorithm identifier');\n  o = alg.nextOffset;\n\n  const pk = readAsn1Element(bytes, o);\n  if (pk.tag !== 0x04) throw new Error('Invalid PKCS#8 privateKey');\n\n  const rsaBytes = bytes.slice(pk.valueStart, pk.valueEnd);\n  const rsaSeq = readAsn1Element(rsaBytes, 0);\n  if (rsaSeq.tag !== 0x30) throw new Error('Invalid RSAPrivateKey');\n\n  let r = rsaSeq.valueStart;\n  r = readAsn1Element(rsaBytes, r).nextOffset; // version\n  const nEl = readAsn1Integer(rsaBytes, r); r = nEl.nextOffset;\n  const eEl = readAsn1Integer(rsaBytes, r); r = eEl.nextOffset;\n  const dEl = readAsn1Integer(rsaBytes, r);\n\n  return {\n    n: nEl.value,\n    e: eEl.value,\n    d: dEl.value,\n  };\n}\n\nfunction rotr(x, n) {\n  return ((x >>> n) | (x << (32 - n))) >>> 0;\n}\n\nfunction sha256(msgBytes) {\n  const K = [\n    0x428a2f98, 0x71374491, 0xb5c0fbcf, 0xe9b5dba5, 0x3956c25b, 0x59f111f1, 0x923f82a4, 0xab1c5ed5,\n    0xd807aa98, 0x12835b01, 0x243185be, 0x550c7dc3, 0x72be5d74, 0x80deb1fe, 0x9bdc06a7, 0xc19bf174,\n    0xe49b69c1, 0xefbe4786, 0x0fc19dc6, 0x240ca1cc, 0x2de92c6f, 0x4a7484aa, 0x5cb0a9dc, 0x76f988da,\n    0x983e5152, 0xa831c66d, 0xb00327c8, 0xbf597fc7, 0xc6e00bf3, 0xd5a79147, 0x06ca6351, 0x14292967,\n    0x27b70a85, 0x2e1b2138, 0x4d2c6dfc, 0x53380d13, 0x650a7354, 0x766a0abb, 0x81c2c92e, 0x92722c85,\n    0xa2bfe8a1, 0xa81a664b, 0xc24b8b70, 0xc76c51a3, 0xd192e819, 0xd6990624, 0xf40e3585, 0x106aa070,\n    0x19a4c116, 0x1e376c08, 0x2748774c, 0x34b0bcb5, 0x391c0cb3, 0x4ed8aa4a, 0x5b9cca4f, 0x682e6ff3,\n    0x748f82ee, 0x78a5636f, 0x84c87814, 0x8cc70208, 0x90befffa, 0xa4506ceb, 0xbef9a3f7, 0xc67178f2,\n  ];\n\n  const H = [\n    0x6a09e667, 0xbb67ae85, 0x3c6ef372, 0xa54ff53a,\n    0x510e527f, 0x9b05688c, 0x1f83d9ab, 0x5be0cd19,\n  ];\n\n  const bitLen = msgBytes.length * 8;\n  const withOne = msgBytes.length + 1;\n  const padLen = (64 - ((withOne + 8) % 64)) % 64;\n  const totalLen = withOne + padLen + 8;\n  const data = new Uint8Array(totalLen);\n  data.set(msgBytes, 0);\n  data[msgBytes.length] = 0x80;\n  const hi = Math.floor(bitLen / 0x100000000);\n  const lo = bitLen >>> 0;\n  data[totalLen - 8] = (hi >>> 24) & 0xff;\n  data[totalLen - 7] = (hi >>> 16) & 0xff;\n  data[totalLen - 6] = (hi >>> 8) & 0xff;\n  data[totalLen - 5] = hi & 0xff;\n  data[totalLen - 4] = (lo >>> 24) & 0xff;\n  data[totalLen - 3] = (lo >>> 16) & 0xff;\n  data[totalLen - 2] = (lo >>> 8) & 0xff;\n  data[totalLen - 1] = lo & 0xff;\n\n  const W = new Uint32Array(64);\n\n  for (let i = 0; i < data.length; i += 64) {\n    for (let t = 0; t < 16; t++) {\n      const j = i + t * 4;\n      W[t] = ((data[j] << 24) | (data[j + 1] << 16) | (data[j + 2] << 8) | data[j + 3]) >>> 0;\n    }\n    for (let t = 16; t < 64; t++) {\n      const s0 = (rotr(W[t - 15], 7) ^ rotr(W[t - 15], 18) ^ (W[t - 15] >>> 3)) >>> 0;\n      const s1 = (rotr(W[t - 2], 17) ^ rotr(W[t - 2], 19) ^ (W[t - 2] >>> 10)) >>> 0;\n      W[t] = (((W[t - 16] + s0) >>> 0) + ((W[t - 7] + s1) >>> 0)) >>> 0;\n    }\n\n    let a = H[0], b = H[1], c = H[2], d = H[3];\n    let e = H[4], f = H[5], g = H[6], h = H[7];\n\n    for (let t = 0; t < 64; t++) {\n      const S1 = (rotr(e, 6) ^ rotr(e, 11) ^ rotr(e, 25)) >>> 0;\n      const ch = ((e & f) ^ (~e & g)) >>> 0;\n      const temp1 = (((((h + S1) >>> 0) + ch) >>> 0) + ((K[t] + W[t]) >>> 0)) >>> 0;\n      const S0 = (rotr(a, 2) ^ rotr(a, 13) ^ rotr(a, 22)) >>> 0;\n      const maj = ((a & b) ^ (a & c) ^ (b & c)) >>> 0;\n      const temp2 = (S0 + maj) >>> 0;\n\n      h = g;\n      g = f;\n      f = e;\n      e = (d + temp1) >>> 0;\n      d = c;\n      c = b;\n      b = a;\n      a = (temp1 + temp2) >>> 0;\n    }\n\n    H[0] = (H[0] + a) >>> 0;\n    H[1] = (H[1] + b) >>> 0;\n    H[2] = (H[2] + c) >>> 0;\n    H[3] = (H[3] + d) >>> 0;\n    H[4] = (H[4] + e) >>> 0;\n    H[5] = (H[5] + f) >>> 0;\n    H[6] = (H[6] + g) >>> 0;\n    H[7] = (H[7] + h) >>> 0;\n  }\n\n  const out = new Uint8Array(32);\n  for (let i = 0; i < 8; i++) {\n    out[i * 4] = (H[i] >>> 24) & 0xff;\n    out[i * 4 + 1] = (H[i] >>> 16) & 0xff;\n    out[i * 4 + 2] = (H[i] >>> 8) & 0xff;\n    out[i * 4 + 3] = H[i] & 0xff;\n  }\n  return out;\n}\n\nfunction rsassaPkcs1V15Sha256Sign(messageUtf8, privateKeyPem) {\n  const key = parsePkcs8RsaPrivateKey(privateKeyPem);\n  const k = Math.ceil(key.n.toString(2).length / 8);\n\n  const hash = sha256(new TextEncoder().encode(messageUtf8));\n  const digestInfoPrefix = hexToBytes('3031300d060960864801650304020105000420');\n  const tLen = digestInfoPrefix.length + hash.length;\n  const psLen = k - tLen - 3;\n  if (psLen < 8) throw new Error('RSA key too short for PKCS#1 v1.5 SHA-256');\n\n  const em = new Uint8Array(k);\n  em[0] = 0x00;\n  em[1] = 0x01;\n  for (let i = 0; i < psLen; i++) em[2 + i] = 0xff;\n  em[2 + psLen] = 0x00;\n  em.set(digestInfoPrefix, 3 + psLen);\n  em.set(hash, 3 + psLen + digestInfoPrefix.length);\n\n  const m = bytesToBigInt(em);\n  const s = modPow(m, key.d, key.n);\n  return bigIntToBytes(s, k);\n}\n\nconst input = $input.first().json;\nconst serviceAccountEmail = $('Set Credentials').first().json[\"✅GOOGLE_SERVICE_ACCOUNT_EMAIL\"];\nconst privateKeyPem = String($('Set Credentials').first().json[\"✅GOOGLE_PRIVATE_KEY\"] || '').replace(/\\\\n/g, '\\n');\nconst scope = $('Set Credentials').first().json[\"✅GOOGLE_SCOPE\"] || 'https://www.googleapis.com/auth/spreadsheets.readonly';\n\nif (!serviceAccountEmail || !privateKeyPem) {\n  throw new Error('Missing GOOGLE_SERVICE_ACCOUNT_EMAIL or GOOGLE_PRIVATE_KEY');\n}\n\nconst now = Math.floor(Date.now() / 1000);\nconst header = { alg: 'RS256', typ: 'JWT' };\nconst payload = {\n  iss: serviceAccountEmail,\n  scope,\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now,\n  exp: now + 3600,\n};\n\nconst encodedHeader = b64urlFromString(JSON.stringify(header));\nconst encodedPayload = b64urlFromString(JSON.stringify(payload));\nconst signingInput = `${encodedHeader}.${encodedPayload}`;\n\nconst signatureBytes = rsassaPkcs1V15Sha256Sign(signingInput, privateKeyPem);\nconst signature = b64urlFromBytes(signatureBytes);\nconst assertion = `${signingInput}.${signature}`;\n\nreturn [\n  {\n    json: {\n      ...input,\n      assertion,\n    },\n  },\n];\n"
      },
      "id": "ccccc996-2d47-48fe-a659-6c8e16dc18de",
      "name": "Build JWT Assertion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2848,
        616
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.amazon.com/auth/o2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "=refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Set Credentials').first().json[\"✅AMAZON_SP_REFRESH_TOKEN\"] }}"
            },
            {
              "name": "client_id",
              "value": "={{ $('Set Credentials').first().json[\"✅AMAZON_SP_CLIENT_ID\"] }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Set Credentials').first().json[\"✅AMAZON_SP_CLIENT_SECRET: \"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "afc9b8b5-cf21-4e96-9860-7880ca67dd81",
      "name": "Mint SP Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2176,
        616
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Number($json.nextWaitSeconds || 60)) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        64
      ],
      "id": "e46d228c-faa8-4d37-b3f1-9b0d716d1c14",
      "name": "Wait",
      "webhookId": "fb1d0ad9-152c-4ebc-bb06-cc4534464931"
    },
    {
      "parameters": {
        "url": "=https://advertising-api.amazon.com/reporting/reports/{{ $if($('Extract Report Id From Error').isExecuted, $('Extract Report Id From Error').item.json.reportId, $('Send a Request for Report').item.json.reportId) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('If Run Current Metric').item.json.auth.amazon.accessToken }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('If Run Current Metric').item.json.auth.amazon.clientId }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('If Run Current Metric').item.json.auth.amazon.profileId }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        64
      ],
      "id": "7af0a32e-9c7d-4eca-a951-23b90ae50c3f",
      "name": "Check if its okay",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6dc1f201-1399-4fbe-b87e-159bc4991fe2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        64
      ],
      "id": "d442f23f-6208-492e-b71d-7620c3677fb4",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/reporting/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.auth.amazon.accessToken }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $json.auth.amazon.clientId }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $json.auth.amazon.profileId }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"SKU_Ads_Spend_{{$now.toISO()}}\",\n  \"startDate\": \"{{ $json['✅START_DATE'] }}\",\n  \"endDate\": \"{{ $json['✅END_DATE'] }}\",\n  \"configuration\": {\n    \"adProduct\": \"SPONSORED_PRODUCTS\",\n    \"reportTypeId\": \"spAdvertisedProduct\",\n    \"format\": \"GZIP_JSON\",\n    \"timeUnit\": \"DAILY\",\n    \"groupBy\": [\"advertiser\"],\n    \"columns\": {{ $('Set Credentials').item.json['✅COLUMNS'] }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        64
      ],
      "id": "c8db178c-77b4-4974-b670-f62e73560dfa",
      "name": "Send a Request for Report",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        64
      ],
      "id": "8e9ac5f7-3abe-4645-87c4-434cc0cafc97",
      "name": "Download the File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        1184,
        64
      ],
      "id": "b94735e0-5eff-4e14-ad2a-4f49b1915573",
      "name": "Decompress"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "82e38b85-a2dc-4377-a438-afbf307e9425",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        64
      ],
      "id": "6740deec-510a-4cee-b1d4-5ab6df07e932",
      "name": "If error"
    },
    {
      "parameters": {
        "jsCode": "const errorMsg = String($input.first().json.error?.message || '');\nconst match = errorMsg.match(/duplicate of\\s*:\\s*([a-f0-9-]+)/i);\n\nif (!match) {\n  throw new Error(errorMsg || 'Amazon Ads create-report request failed without duplicate report id');\n}\n\nreturn [{ json: { reportId: match[1] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        64
      ],
      "id": "d2b04147-4845-421e-a191-b60d77cb9e1d",
      "name": "Extract Report Id From Error"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "file_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1408,
        64
      ],
      "id": "3d7090f6-af64-4ac6-85fd-b8b847413879",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "function parseRetryAfterSeconds(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : 0;\n}\n\nfunction nextBackoffSeconds(previousAttempt, retryAfterSeconds) {\n  const capped = Math.min(300, 60 * (2 ** Math.max(1, previousAttempt + 1)));\n  const jitter = Math.floor(Math.random() * 31);\n  return Math.max(capped + jitter, retryAfterSeconds || 0, 60);\n}\n\nconst input = $input.first().json || {};\nconst previousAttempt = Number(input.pollAttempt || 0);\nconst error = input.error || null;\nconst rawStatus = String(input.status || '').toUpperCase();\n\nif (error) {\n  const message = String(error.message || input.message || 'Unknown polling error');\n  const httpCode = Number(error.httpCode || input.httpCode || 0);\n  const retryAfterSeconds = parseRetryAfterSeconds(error.retryAfter || error.headers?.['retry-after'] || error.response?.headers?.['retry-after']);\n\n  if (httpCode === 429 || message.toLowerCase().includes('too many requests')) {\n    return [{\n      json: {\n        ...input,\n        status: 'THROTTLED',\n        pollAttempt: previousAttempt + 1,\n        nextWaitSeconds: nextBackoffSeconds(previousAttempt, retryAfterSeconds),\n      },\n    }];\n  }\n\n  throw new Error(message);\n}\n\nif (rawStatus === 'FAILED' || rawStatus === 'CANCELLED') {\n  throw new Error(`Amazon Ads report ${rawStatus}: ${input.failureReason || 'No failure reason provided'}`);\n}\n\nif (rawStatus === 'COMPLETED') {\n  return [{\n    json: {\n      ...input,\n      status: 'COMPLETED',\n      pollAttempt: previousAttempt,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    status: rawStatus || 'PENDING',\n    pollAttempt: previousAttempt + 1,\n    nextWaitSeconds: nextBackoffSeconds(previousAttempt, 0),\n  },\n}];"
      },
      "id": "f4471658-de1a-4912-ab88-6955c7fecda2",
      "name": "Normalize Poll Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        64
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json[\"✅SPREADSHEET_ID\"] }}/values/{{ encodeURIComponent($('Set Credentials').item.json[\"✅SHEET_NAME\"] || 'MOBILITY') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Refresh Google Token').item.json.access_token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "e1731d65-57e8-453c-8eaa-bc1804d224ef",
      "name": "Webhook Read Google Sheet1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1632,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node[\"Set Credentials\"].json[\"✅SPREADSHEET_ID\"] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Refresh Google Token').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "c55e263c-8b63-419d-bb22-898975d15789",
      "name": "Webhook Update Google Sheet1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2080,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined) return 0;\n  const s = String(v).replace(/[$,%\\s,]/g, '');\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction normalize(value) {\n  return String(value || '').trim().replace(/[ _]+/g, ' ').toUpperCase();\n}\n\nfunction colToA1(colIndex1Based) {\n  let n = colIndex1Based;\n  let out = '';\n  while (n > 0) {\n    const m = (n - 1) % 26;\n    out = String.fromCharCode(65 + m) + out;\n    n = Math.floor((n - 1) / 26);\n  }\n  return out;\n}\n\nconst sheet = $json;\nconst values = sheet.values || [];\nconst reportData = $('Extract from File').first().json.data || [];\nconst sheetName = $('Set Credentials').first().json['✅SHEET_NAME'] || 'MOBILITY';\nconst row2 = values[1] || [];\n\nconst skuCol = row2.findIndex((cell) => normalize(cell) === 'SKU');\nconst adsCol = row2.findIndex((cell) => normalize(cell) === 'ADS SPEND');\n\nif (skuCol === -1 || adsCol === -1) {\n  throw new Error('Could not find SKU and Ads spend columns from row 2');\n}\n\nconst adsBySku = new Map();\nfor (const r of reportData) {\n  const sku = String(r.advertisedSku || '').trim();\n  if (!sku) continue;\n  const cost = toNumber(r.cost);\n  adsBySku.set(sku, (adsBySku.get(sku) || 0) + cost);\n}\n\nconst data = [];\nfor (let i = 2; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  if (!sku || /^SKU$/i.test(sku) || /^IMG$/i.test(sku) || /_TOTALS$/i.test(sku)) continue;\n  if (!adsBySku.has(sku)) continue;\n\n  const newAds = Number(adsBySku.get(sku).toFixed(2));\n  const rowNumber = i + 1;\n  const adsColA1 = colToA1(adsCol + 1);\n\n  data.push({\n    range: `${sheetName}!${adsColA1}${rowNumber}`,\n    values: [[newAds]]\n  });\n}\n\nreturn [{\n  json: {\n    valueInputOption: 'USER_ENTERED',\n    data,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        64
      ],
      "id": "e698a1ee-9eb3-4bdf-aa6f-ff6df95fdc91",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Number($json.nextWaitSeconds || 60)) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        -512
      ],
      "id": "ec9d8438-2161-494b-b3ab-58b1f64a5817",
      "name": "Wait1",
      "webhookId": "d5ca95fc-2506-46ac-9690-adae224fceab"
    },
    {
      "parameters": {
        "url": "=https://advertising-api.amazon.com/reporting/reports/{{ $if($('Extract Report Id From Error1').isExecuted, $('Extract Report Id From Error1').item.json.reportId, $('Send a Request for Report1').item.json.reportId) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('If Run Current Metric').item.json.auth.amazon.accessToken }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('If Run Current Metric').item.json.auth.amazon.clientId }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('If Run Current Metric').item.json.auth.amazon.profileId }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        -512
      ],
      "id": "99ee6169-dd68-40a2-8430-14e6a9840a6b",
      "name": "Check if its okay1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6dc1f201-1399-4fbe-b87e-159bc4991fe2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        -512
      ],
      "id": "9b730844-cad5-490f-bf18-6432bfa0777e",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/reporting/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.auth.amazon.accessToken }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $json.auth.amazon.clientId }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $json.auth.amazon.profileId }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"SKU_CTR_{{$now.toISO()}}\",\n  \"startDate\": \"{{ $('Set Credentials').first().json['✅START_DATE'] || $('Set Credentials').first().json.DATE }}\",\n  \"endDate\": \"{{ $('Set Credentials').first().json['✅END_DATE'] || $('Set Credentials').first().json.DATE }}\",\n  \"configuration\": {\n    \"adProduct\": \"SPONSORED_PRODUCTS\",\n    \"reportTypeId\": \"spAdvertisedProduct\",\n    \"format\": \"GZIP_JSON\",\n    \"timeUnit\": \"DAILY\",\n    \"groupBy\": [\"advertiser\"],\n    \"columns\": {{ $('Set Credentials').item.json['✅COLUMNS'] }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        -512
      ],
      "id": "6b64965e-64f1-419c-967b-157f4ebbebb1",
      "name": "Send a Request for Report1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        -512
      ],
      "id": "9ed05d94-2b8e-4a40-8129-cbaa794bf4c0",
      "name": "Download the File1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        1184,
        -512
      ],
      "id": "b5f0bd81-739c-4f17-9adf-35ceaec36f01",
      "name": "Decompress1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "82e38b85-a2dc-4377-a438-afbf307e9425",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        -512
      ],
      "id": "09753611-434b-4c58-8084-ff48ceaf3496",
      "name": "If error1"
    },
    {
      "parameters": {
        "jsCode": "const errorMsg = String($input.first().json.error?.message || '');\nconst match = errorMsg.match(/duplicate of\\s*:\\s*([a-f0-9-]+)/i);\n\nif (!match) {\n  throw new Error(errorMsg || 'Amazon Ads create-report request failed without duplicate report id');\n}\n\nreturn [{ json: { reportId: match[1] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -512
      ],
      "id": "018510fa-bad4-47de-8ea0-4d9efb50c1d6",
      "name": "Extract Report Id From Error1"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "file_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1408,
        -512
      ],
      "id": "f6523060-d4af-48b8-b7a7-32e7a24503ae",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json[\"✅SPREADSHEET_ID\"] }}/values/{{ encodeURIComponent(($('Set Credentials').item.json[\"✅SHEET_NAME\"] || 'MOBILITY') + '!' + ($('Set Credentials').item.json[\"✅RANGE\"] || 'A:Z')) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('If Run Current Metric').item.json.auth.google.accessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "c55b441b-dca1-48d7-b77e-03cef4ffc01a",
      "name": "Webhook Read Google Sheet2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1632,
        -512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node[\"Set Credentials\"].json[\"✅SPREADSHEET_ID\"] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Attach Shared Auth Bundle').first().json.auth.google.accessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "3884d7c3-5aec-48a4-bd6f-c80ed4fdca91",
      "name": "Webhook Update Google Sheet2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2080,
        -512
      ]
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined) return 0;\n  const s = String(v).replace(/[$,%\\s,]/g, '');\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction colToA1(colIndex1Based) {\n  let n = colIndex1Based;\n  let out = '';\n  while (n > 0) {\n    const m = (n - 1) % 26;\n    out = String.fromCharCode(65 + m) + out;\n    n = Math.floor((n - 1) / 26);\n  }\n  return out;\n}\n\nconst sheet = $json; // from Webhook Read Google Sheet\nconst values = sheet.values || [];\nconst reportData = $('Extract from File1').first().json.data || [];\nconst sheetName = $('Set Credentials').first().json['✅SHEET_NAME'] || 'MOBILITY';\n\n// Aggregate clicks and impressions by SKU, then derive CTR.\nconst metricsBySku = new Map();\nfor (const row of reportData) {\n  const sku = String(row.advertisedSku || '').trim();\n  if (!sku) continue;\n\n  const clicks = toNumber(row.clicks);\n  const impressions = toNumber(row.impressions);\n\n  if (!metricsBySku.has(sku)) {\n    metricsBySku.set(sku, {\n      clicks: 0,\n      impressions: 0,\n    });\n  }\n\n  const bucket = metricsBySku.get(sku);\n  bucket.clicks = Number((bucket.clicks + clicks).toFixed(4));\n  bucket.impressions = Number((bucket.impressions + impressions).toFixed(4));\n}\n\nconst ctrBySku = new Map();\nfor (const [sku, metrics] of metricsBySku.entries()) {\n  const ctr = metrics.impressions > 0\n    ? Number(((metrics.clicks / metrics.impressions) * 100).toFixed(4))\n    : 0;\n  ctrBySku.set(sku, ctr);\n}\n\n// Detect the header row by finding the SKU column in the top section.\nlet headerRowIdx = -1;\nlet skuCol = -1;\nfor (let i = 0; i < Math.min(values.length, 12); i++) {\n  const row = values[i] || [];\n  const skuIdx = row.findIndex((cell) => String(cell).trim().toUpperCase() === 'SKU');\n  if (skuIdx !== -1) {\n    headerRowIdx = i;\n    skuCol = skuIdx;\n  }\n}\n\nif (headerRowIdx === -1 || skuCol === -1) {\n  throw new Error('Could not find header row with SKU column');\n}\n\nconst data = [];\nconst ctrColA1 = colToA1(12); // Column L\n\nfor (let i = headerRowIdx + 1; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  if (!sku || !ctrBySku.has(sku)) continue;\n\n  const rowNumber = i + 1;\n  data.push({\n    range: `${sheetName}!${ctrColA1}${rowNumber}`,\n    values: [[ctrBySku.get(sku)]],\n  });\n}\n\nreturn [{\n  json: {\n    valueInputOption: 'USER_ENTERED',\n    data,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        -512
      ],
      "id": "df649ed7-f6e5-4e98-a6e3-aa92bd0f3510",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "function parseRetryAfterSeconds(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : 0;\n}\n\nfunction nextBackoffSeconds(previousAttempt, retryAfterSeconds) {\n  const capped = Math.min(300, 60 * (2 ** Math.max(1, previousAttempt + 1)));\n  const jitter = Math.floor(Math.random() * 31);\n  return Math.max(capped + jitter, retryAfterSeconds || 0, 60);\n}\n\nconst input = $input.first().json || {};\nconst previousAttempt = Number(input.pollAttempt || 0);\nconst error = input.error || null;\nconst rawStatus = String(input.status || '').toUpperCase();\n\nif (error) {\n  const message = String(error.message || input.message || 'Unknown polling error');\n  const httpCode = Number(error.httpCode || input.httpCode || 0);\n  const retryAfterSeconds = parseRetryAfterSeconds(error.retryAfter || error.headers?.['retry-after'] || error.response?.headers?.['retry-after']);\n\n  if (httpCode === 429 || message.toLowerCase().includes('too many requests')) {\n    return [{\n      json: {\n        ...input,\n        status: 'THROTTLED',\n        pollAttempt: previousAttempt + 1,\n        nextWaitSeconds: nextBackoffSeconds(previousAttempt, retryAfterSeconds),\n      },\n    }];\n  }\n\n  throw new Error(message);\n}\n\nif (rawStatus === 'FAILED' || rawStatus === 'CANCELLED') {\n  throw new Error(`Amazon Ads report ${rawStatus}: ${input.failureReason || 'No failure reason provided'}`);\n}\n\nif (rawStatus === 'COMPLETED') {\n  return [{\n    json: {\n      ...input,\n      status: 'COMPLETED',\n      pollAttempt: previousAttempt,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    status: rawStatus || 'PENDING',\n    pollAttempt: previousAttempt + 1,\n    nextWaitSeconds: nextBackoffSeconds(previousAttempt, 0),\n  },\n}];"
      },
      "id": "64cdbabe-ff05-4d72-a909-8a87a4828cba",
      "name": "Normalize Poll Status1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -512
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Number($json.nextWaitSeconds || 60)) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        352
      ],
      "id": "6e0eb4e3-6102-42c1-83a7-68fb1a27236c",
      "name": "Wait2",
      "webhookId": "d6068b12-ad75-49df-b262-f0a0a7e1d15e"
    },
    {
      "parameters": {
        "url": "=https://advertising-api.amazon.com/reporting/reports/{{ $if($('Extract Report Id From Error2').isExecuted, $('Extract Report Id From Error2').item.json.reportId, $('Send a Request for Report2').item.json.reportId) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Attach Shared Auth Bundle').first().json.auth.amazon.spAccessToken }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_CLIENT_ID }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_PROFILE_ID }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        352
      ],
      "id": "edf798d7-28c1-4631-86cc-7dcb5b626450",
      "name": "Check if its okay2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6dc1f201-1399-4fbe-b87e-159bc4991fe2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        352
      ],
      "id": "b5c1a287-a790-454b-9445-cd82a1c961a0",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/reporting/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Attach Shared Auth Bundle').first().json.auth.amazon.spAccessToken }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_CLIENT_ID }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Set Credentials').first().json.AMAZON_ADS_PROFILE_ID }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"SKU_Sales_PPC_{{$now.toISO()}}\",\n  \"startDate\": \"{{ $('Set Credentials').first().json['✅START_DATE'] || $('Set Credentials').first().json.DATE }}\",\n  \"endDate\": \"{{ $('Set Credentials').first().json['✅END_DATE'] || $('Set Credentials').first().json.DATE }}\",\n  \"configuration\": {\n    \"adProduct\": \"SPONSORED_PRODUCTS\",\n    \"reportTypeId\": \"spAdvertisedProduct\",\n    \"format\": \"GZIP_JSON\",\n    \"timeUnit\": \"DAILY\",\n    \"groupBy\": [\"advertiser\"],\n    \"columns\": {{ $('Set Credentials').first().json.COLUMNS }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        352
      ],
      "id": "8d595a3d-e364-4f46-bd68-15814bcb3aba",
      "name": "Send a Request for Report2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        352
      ],
      "id": "7649b3d5-7ead-4800-8c06-4d9115d6905a",
      "name": "Download the File2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        1184,
        352
      ],
      "id": "2e6c1d6e-f318-4aaf-9e22-4245595501e0",
      "name": "Decompress2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "82e38b85-a2dc-4377-a438-afbf307e9425",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        352
      ],
      "id": "330919da-e6d3-4ea7-8f07-dbf73502778d",
      "name": "If error2"
    },
    {
      "parameters": {
        "jsCode": "const errorMsg = String($input.first().json.error?.message || '');\nconst match = errorMsg.match(/duplicate of\\s*:\\s*([a-f0-9-]+)/i);\n\nif (!match) {\n  throw new Error(errorMsg || 'Amazon Ads create-report request failed without duplicate report id');\n}\n\nreturn [{ json: { reportId: match[1] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        352
      ],
      "id": "a94ac49f-c1c2-44f9-a923-fbc9cd3513a3",
      "name": "Extract Report Id From Error2"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "file_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1408,
        352
      ],
      "id": "c326c101-46cb-47ce-97c3-d39f5dbb61c7",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json[\"✅SPREADSHEET_ID\"] }}/values/{{ encodeURIComponent(($('Set Credentials').item.json[\"✅SHEET_NAME\"] || 'MOBILITY') + '!' + ($('Set Credentials').item.json[\"✅RANGE\"] || 'A:Z')) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Attach Shared Auth Bundle').first().json.auth.google.accessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "fd902769-b6b4-43d7-90bd-11b819b1ba27",
      "name": "Webhook Read Google Sheet4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1632,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node[\"Set Credentials\"].json[\"✅SPREADSHEET_ID\"] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Attach Shared Auth Bundle').first().json.auth.google.accessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "b5866687-81b3-44b1-97c5-d66da12ccc8b",
      "name": "Webhook Update Google Sheet4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2080,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined || v === '') return 0;\n  const s = String(v).replace(/[$,%\\s,]/g, '');\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction colToA1(colIndex1Based) {\n  let n = colIndex1Based;\n  let out = '';\n  while (n > 0) {\n    const m = (n - 1) % 26;\n    out = String.fromCharCode(65 + m) + out;\n    n = Math.floor((n - 1) / 26);\n  }\n  return out;\n}\n\nfunction normalizeHeader(value) {\n  return String(value || '').replace(/[^A-Za-z0-9]/g, '').toUpperCase();\n}\n\nconst sheet = $json;\nconst values = sheet.values || [];\nconst reportData = $('Extract from File2').first().json.data || [];\nconst sheetName = $('Set Credentials').first().json['✅SHEET_NAME'] || 'MOBILITY';\n\nconst salesField = reportData.find((row) => row && (row.sales7d !== undefined || row.attributedSales7d !== undefined))?.sales7d !== undefined\n  ? 'sales7d'\n  : 'attributedSales7d';\n\nconst salesBySku = new Map();\nfor (const row of reportData) {\n  const sku = String(row.advertisedSku || '').trim();\n  if (!sku) continue;\n\n  const sales = toNumber(row[salesField]);\n  salesBySku.set(sku, Number(((salesBySku.get(sku) || 0) + sales).toFixed(2)));\n}\n\nlet headerRowIdx = -1;\nlet skuCol = -1;\nlet salesPpcCol = -1;\nfor (let i = 0; i < Math.min(values.length, 12); i++) {\n  const row = values[i] || [];\n  const skuIdx = row.findIndex((cell) => normalizeHeader(cell) === 'SKU');\n  if (skuIdx !== -1) {\n    headerRowIdx = i;\n    skuCol = skuIdx;\n  }\n\n  const salesPpcIdx = row.findIndex((cell) => normalizeHeader(cell) === 'SALESPPC');\n  if (salesPpcIdx !== -1) {\n    salesPpcCol = salesPpcIdx;\n  }\n}\n\nif (headerRowIdx === -1 || skuCol === -1) {\n  throw new Error('Could not find header row with SKU column');\n}\n\nif (salesPpcCol === -1) {\n  throw new Error('Could not find SalesPPC column');\n}\n\nconst data = [];\nconst salesPpcColA1 = colToA1(salesPpcCol + 1);\n\nfor (let i = headerRowIdx + 1; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  if (!sku || /_TOTALS$/i.test(sku)) continue;\n\n  const rowNumber = i + 1;\n  const sales = Number((salesBySku.get(sku) || 0).toFixed(2));\n  data.push({\n    range: `${sheetName}!${salesPpcColA1}${rowNumber}`,\n    values: [[sales]],\n  });\n}\n\nreturn [{\n  json: {\n    valueInputOption: 'USER_ENTERED',\n    data,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        352
      ],
      "id": "e76e8f5c-4a77-4be1-9d72-66caa73a0f10",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "function parseRetryAfterSeconds(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : 0;\n}\n\nfunction nextBackoffSeconds(previousAttempt, retryAfterSeconds) {\n  const capped = Math.min(300, 60 * (2 ** Math.max(1, previousAttempt + 1)));\n  const jitter = Math.floor(Math.random() * 31);\n  return Math.max(capped + jitter, retryAfterSeconds || 0, 60);\n}\n\nconst input = $input.first().json || {};\nconst previousAttempt = Number(input.pollAttempt || 0);\nconst error = input.error || null;\nconst rawStatus = String(input.status || '').toUpperCase();\n\nif (error) {\n  const message = String(error.message || input.message || 'Unknown polling error');\n  const httpCode = Number(error.httpCode || input.httpCode || 0);\n  const retryAfterSeconds = parseRetryAfterSeconds(error.retryAfter || error.headers?.['retry-after'] || error.response?.headers?.['retry-after']);\n\n  if (httpCode === 429 || message.toLowerCase().includes('too many requests')) {\n    return [{\n      json: {\n        ...input,\n        status: 'THROTTLED',\n        pollAttempt: previousAttempt + 1,\n        nextWaitSeconds: nextBackoffSeconds(previousAttempt, retryAfterSeconds),\n      },\n    }];\n  }\n\n  throw new Error(message);\n}\n\nif (rawStatus === 'FAILED' || rawStatus === 'CANCELLED') {\n  throw new Error(`Amazon Ads report ${rawStatus}: ${input.failureReason || 'No failure reason provided'}`);\n}\n\nif (rawStatus === 'COMPLETED') {\n  return [{\n    json: {\n      ...input,\n      status: 'COMPLETED',\n      pollAttempt: previousAttempt,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    status: rawStatus || 'PENDING',\n    pollAttempt: previousAttempt + 1,\n    nextWaitSeconds: nextBackoffSeconds(previousAttempt, 0),\n  },\n}];"
      },
      "id": "5606a89c-8c30-4376-97b7-79c1034bd8e2",
      "name": "Normalize Poll Status2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        352
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Number($json.nextWaitSeconds || 60)) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        -800
      ],
      "id": "a09394b2-78ea-4f74-8089-fc1001485b7f",
      "name": "Wait3",
      "webhookId": "82b9119f-2f9a-4b81-8f12-1b16f617eefe"
    },
    {
      "parameters": {
        "url": "=https://advertising-api.amazon.com/reporting/reports/{{ $if($('Extract Report Id From Error3').isExecuted, $('Extract Report Id From Error3').item.json.reportId, $('Send a Request for Report3').item.json.reportId) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Mint Amazon Access Token').item.json.access_token }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Set Credentials').item.json['✅AMAZON_ADS_CLIENT_ID'] }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Set Credentials').item.json['✅AMAZON_ADS_PROFILE_ID'] }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        -800
      ],
      "id": "002cf3b3-66d2-42f3-a81a-df758249f6a9",
      "name": "Check if its okay3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6dc1f201-1399-4fbe-b87e-159bc4991fe2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        -800
      ],
      "id": "6844a126-c583-4bbe-a80c-81b578e9b171",
      "name": "If3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/reporting/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Mint Amazon Access Token').item.json.access_token }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Set Credentials').item.json['✅AMAZON_ADS_REFRESH_TOKEN'] }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Set Credentials').item.json['✅AMAZON_ADS_PROFILE_ID'] }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"SKU_Clicks_{{$now.toISO()}}\",\n  \"startDate\": \"{{ $('Set Credentials').first().json['✅START_DATE'] || $('Set Credentials').first().json.DATE }}\",\n  \"endDate\": \"{{ $('Set Credentials').first().json['✅END_DATE'] || $('Set Credentials').first().json.DATE }}\",\n  \"configuration\": {\n    \"adProduct\": \"SPONSORED_PRODUCTS\",\n    \"reportTypeId\": \"spAdvertisedProduct\",\n    \"format\": \"GZIP_JSON\",\n    \"timeUnit\": \"DAILY\",\n    \"groupBy\": [\"advertiser\"],\n    \"columns\": {{ $('Set Credentials').item.json['✅COLUMNS'] }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        -800
      ],
      "id": "534013a8-2f4a-4358-a591-2573e8ada6cc",
      "name": "Send a Request for Report3",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        -800
      ],
      "id": "ccf231f2-af1f-4312-905b-bb41d9d11fbd",
      "name": "Download the File3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        1184,
        -800
      ],
      "id": "e1fead57-c781-4c16-bbfc-ee7b1989b5a2",
      "name": "Decompress3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "82e38b85-a2dc-4377-a438-afbf307e9425",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        -800
      ],
      "id": "62de8487-e717-497c-8f8b-573ff14264cc",
      "name": "If error3"
    },
    {
      "parameters": {
        "jsCode": "const errorMsg = String($input.first().json.error?.message || '');\nconst match = errorMsg.match(/duplicate of\\s*:\\s*([a-f0-9-]+)/i);\n\nif (!match) {\n  throw new Error(errorMsg || 'Amazon Ads create-report request failed without duplicate report id');\n}\n\nreturn [{ json: { reportId: match[1] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -800
      ],
      "id": "ab740bd9-960a-4431-9cca-fa23b3949d1e",
      "name": "Extract Report Id From Error3"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "file_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1408,
        -800
      ],
      "id": "3d3acbdc-732f-4a5c-b2dd-b5ab58d5146a",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json[\"✅SPREADSHEET_ID\"] }}/values/{{ encodeURIComponent(($('Set Credentials').item.json[\"✅SHEET_NAME\"] || 'MOBILITY') + '!' + ($('Set Credentials').item.json[\"✅RANGE\"] || 'A:Z')) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Mint Google Access Token').item.json.access_token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "7baeecf4-bb70-4ca0-8462-f43943cdfcfa",
      "name": "Webhook Read Google Sheet5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1632,
        -800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node[\"Set Credentials\"].json[\"✅SPREADSHEET_ID\"] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Mint Google Access Token').item.json.access_token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "1da6c47b-9419-47da-8444-98fac4d9633c",
      "name": "Webhook Update Google Sheet5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2080,
        -800
      ]
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined || v === '') return 0;\n  const s = String(v).replace(/[$,%\\s,]/g, '');\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n}\n\nconst sheet = $json;\nconst values = sheet.values || [];\nconst reportData = $('Extract from File3').first().json.data || [];\nconst sheetName = $('Set Credentials').first().json['✅SHEET_NAME'] || 'MOBILITY';\n\nconst clicksBySku = new Map();\nfor (const row of reportData) {\n  const sku = String(row.advertisedSku || '').trim();\n  if (!sku) continue;\n  const clicks = toNumber(row.clicks);\n  clicksBySku.set(sku, Number(((clicksBySku.get(sku) || 0) + clicks).toFixed(2)));\n}\n\nlet headerRowIdx = -1;\nlet skuCol = -1;\nfor (let i = 0; i < Math.min(values.length, 12); i++) {\n  const row = values[i] || [];\n  const skuIdx = row.findIndex((cell) => String(cell).trim().toUpperCase() === 'SKU');\n  if (skuIdx !== -1) {\n    headerRowIdx = i;\n    skuCol = skuIdx;\n  }\n}\n\nif (headerRowIdx === -1 || skuCol === -1) {\n  throw new Error('Could not find header row with SKU column');\n}\n\nconst data = [];\nconst clicksColA1 = 'AQ';\n\nfor (let i = headerRowIdx + 1; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  if (!sku || /_TOTALS$/i.test(sku)) continue;\n\n  const rowNumber = i + 1;\n  const clicks = Number((clicksBySku.get(sku) || 0).toFixed(2));\n  data.push({\n    range: `${sheetName}!${clicksColA1}${rowNumber}`,\n    values: [[clicks]],\n  });\n}\n\nreturn [{\n  json: {\n    valueInputOption: 'USER_ENTERED',\n    data,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        -800
      ],
      "id": "7bda0528-a476-423f-911f-d5984ee47983",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "function parseRetryAfterSeconds(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : 0;\n}\n\nfunction nextBackoffSeconds(previousAttempt, retryAfterSeconds) {\n  const capped = Math.min(300, 60 * (2 ** Math.max(1, previousAttempt + 1)));\n  const jitter = Math.floor(Math.random() * 31);\n  return Math.max(capped + jitter, retryAfterSeconds || 0, 60);\n}\n\nconst input = $input.first().json || {};\nconst previousAttempt = Number(input.pollAttempt || 0);\nconst error = input.error || null;\nconst rawStatus = String(input.status || '').toUpperCase();\n\nif (error) {\n  const message = String(error.message || input.message || 'Unknown polling error');\n  const httpCode = Number(error.httpCode || input.httpCode || 0);\n  const retryAfterSeconds = parseRetryAfterSeconds(error.retryAfter || error.headers?.['retry-after'] || error.response?.headers?.['retry-after']);\n\n  if (httpCode === 429 || message.toLowerCase().includes('too many requests')) {\n    return [{\n      json: {\n        ...input,\n        status: 'THROTTLED',\n        pollAttempt: previousAttempt + 1,\n        nextWaitSeconds: nextBackoffSeconds(previousAttempt, retryAfterSeconds),\n      },\n    }];\n  }\n\n  throw new Error(message);\n}\n\nif (rawStatus === 'FAILED' || rawStatus === 'CANCELLED') {\n  throw new Error(`Amazon Ads report ${rawStatus}: ${input.failureReason || 'No failure reason provided'}`);\n}\n\nif (rawStatus === 'COMPLETED') {\n  return [{\n    json: {\n      ...input,\n      status: 'COMPLETED',\n      pollAttempt: previousAttempt,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    status: rawStatus || 'PENDING',\n    pollAttempt: previousAttempt + 1,\n    nextWaitSeconds: nextBackoffSeconds(previousAttempt, 0),\n  },\n}];"
      },
      "id": "819cc386-2daa-4c5c-9d53-5e8a8c8ef8b9",
      "name": "Normalize Poll Status3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -800
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Number($json.nextWaitSeconds || 60)) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        -224
      ],
      "id": "a83c2dc4-484c-4817-847b-b795d9cf5678",
      "name": "Wait4",
      "webhookId": "861f686a-3306-47e9-9038-6065ecbaa78e"
    },
    {
      "parameters": {
        "url": "=https://advertising-api.amazon.com/reporting/reports/{{ $if($('Extract Report Id From Error4').isExecuted, $('Extract Report Id From Error4').item.json.reportId, $('Send a Request for Report4').item.json.reportId) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Mint Amazon Access Token').item.json.access_token }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Set Credentials').item.json['✅AMAZON_ADS_CLIENT_ID'] }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Set Credentials').item.json['✅AMAZON_ADS_PROFILE_ID'] }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        -224
      ],
      "id": "3fd5f5c8-6037-4fe8-888f-a33aac251f3f",
      "name": "Check if its okay4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6dc1f201-1399-4fbe-b87e-159bc4991fe2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        736,
        -224
      ],
      "id": "9b45a40b-c2df-41cc-85f5-8f97c0b0c495",
      "name": "If4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://advertising-api.amazon.com/reporting/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Mint Amazon Access Token').item.json.access_token }}"
            },
            {
              "name": "Amazon-Advertising-API-ClientId",
              "value": "={{ $('Set Credentials').item.json['✅AMAZON_ADS_CLIENT_ID'] }}"
            },
            {
              "name": "Amazon-Advertising-API-Scope",
              "value": "={{ $('Set Credentials').item.json['✅AMAZON_ADS_PROFILE_ID'] }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.createasyncreportrequest.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"SKU_Units_PPC_{{$now.toISO()}}\",\n  \"startDate\": \"{{ $('Set Credentials').first().json['✅START_DATE'] || $('Set Credentials').first().json.DATE }}\",\n  \"endDate\": \"{{ $('Set Credentials').first().json['✅END_DATE'] || $('Set Credentials').first().json.DATE }}\",\n  \"configuration\": {\n    \"adProduct\": \"SPONSORED_PRODUCTS\",\n    \"reportTypeId\": \"spAdvertisedProduct\",\n    \"format\": \"GZIP_JSON\",\n    \"timeUnit\": \"DAILY\",\n    \"groupBy\": [\"advertiser\"],\n    \"columns\": {{ $('Set Credentials').item.json['✅COLUMNS'] }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        -224
      ],
      "id": "fb6a1aee-94f9-4e0c-ab4e-6a723e5ec309",
      "name": "Send a Request for Report4",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        -224
      ],
      "id": "8ab9afcd-39f6-44a9-be7d-22d002425dfa",
      "name": "Download the File4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        1184,
        -224
      ],
      "id": "02a6b563-7131-4056-aadb-428a7d5fe53a",
      "name": "Decompress4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "82e38b85-a2dc-4377-a438-afbf307e9425",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        -224
      ],
      "id": "b1817bab-c908-4453-970a-b7a6c7afa27e",
      "name": "If error4"
    },
    {
      "parameters": {
        "jsCode": "const errorMsg = String($input.first().json.error?.message || '');\nconst match = errorMsg.match(/duplicate of\\s*:\\s*([a-f0-9-]+)/i);\n\nif (!match) {\n  throw new Error(errorMsg || 'Amazon Ads create-report request failed without duplicate report id');\n}\n\nreturn [{ json: { reportId: match[1] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -224
      ],
      "id": "be488568-e4e6-457d-bd9d-246f79ed964f",
      "name": "Extract Report Id From Error4"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "file_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1408,
        -224
      ],
      "id": "6271ea0b-e73c-4fc7-939e-2b8bf70b82db",
      "name": "Extract from File4"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json[\"✅SPREADSHEET_ID\"] }}/values/{{ encodeURIComponent(($('Set Credentials').item.json[\"✅SHEET_NAME\"] || 'MOBILITY') + '!' + ($('Set Credentials').item.json[\"✅RANGE\"] || 'A:Z')) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Mint Google Access Token').item.json.access_token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "81ff99c0-9ed0-435d-ad59-5c6ee878d3e3",
      "name": "Webhook Read Google Sheet6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1632,
        -224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node[\"Set Credentials\"].json[\"✅SPREADSHEET_ID\"] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Mint Google Access Token').item.json.access_token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "e2919d5d-b9a5-4774-ba2b-eceaba56b64a",
      "name": "Webhook Update Google Sheet6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2080,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined || v === '') return 0;\n  const s = String(v).replace(/[$,%\\s,]/g, '');\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n}\n\nconst sheet = $json;\nconst values = sheet.values || [];\nconst reportData = $('Extract from File4').first().json.data || [];\nconst sheetName = $('Set Credentials').first().json['✅SHEET_NAME'] || 'MOBILITY';\n\nconst unitsField = reportData.find((row) => row && (row.unitsSoldClicks7d !== undefined || row.unitsSold7d !== undefined))?.unitsSoldClicks7d !== undefined\n  ? 'unitsSoldClicks7d'\n  : 'unitsSold7d';\n\nconst unitsBySku = new Map();\nfor (const row of reportData) {\n  const sku = String(row.advertisedSku || '').trim();\n  if (!sku) continue;\n  const units = toNumber(row[unitsField]);\n  unitsBySku.set(sku, Number(((unitsBySku.get(sku) || 0) + units).toFixed(2)));\n}\n\nlet headerRowIdx = -1;\nlet skuCol = -1;\nfor (let i = 0; i < Math.min(values.length, 12); i++) {\n  const row = values[i] || [];\n  const skuIdx = row.findIndex((cell) => String(cell).trim().toUpperCase() === 'SKU');\n  if (skuIdx !== -1) {\n    headerRowIdx = i;\n    skuCol = skuIdx;\n  }\n}\n\nif (headerRowIdx === -1 || skuCol === -1) {\n  throw new Error('Could not find header row with SKU column');\n}\n\nconst data = [];\nconst unitsColA1 = 'BD';\n\nfor (let i = headerRowIdx + 1; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  if (!sku || /_TOTALS$/i.test(sku)) continue;\n\n  const rowNumber = i + 1;\n  const units = Number((unitsBySku.get(sku) || 0).toFixed(2));\n  data.push({\n    range: `${sheetName}!${unitsColA1}${rowNumber}`,\n    values: [[units]],\n  });\n}\n\nreturn [{\n  json: {\n    valueInputOption: 'USER_ENTERED',\n    data,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        -224
      ],
      "id": "aeda3070-b716-41e3-b1be-5b00a370f383",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "jsCode": "function parseRetryAfterSeconds(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : 0;\n}\n\nfunction nextBackoffSeconds(previousAttempt, retryAfterSeconds) {\n  const capped = Math.min(300, 60 * (2 ** Math.max(1, previousAttempt + 1)));\n  const jitter = Math.floor(Math.random() * 31);\n  return Math.max(capped + jitter, retryAfterSeconds || 0, 60);\n}\n\nconst input = $input.first().json || {};\nconst previousAttempt = Number(input.pollAttempt || 0);\nconst error = input.error || null;\nconst rawStatus = String(input.status || '').toUpperCase();\n\nif (error) {\n  const message = String(error.message || input.message || 'Unknown polling error');\n  const httpCode = Number(error.httpCode || input.httpCode || 0);\n  const retryAfterSeconds = parseRetryAfterSeconds(error.retryAfter || error.headers?.['retry-after'] || error.response?.headers?.['retry-after']);\n\n  if (httpCode === 429 || message.toLowerCase().includes('too many requests')) {\n    return [{\n      json: {\n        ...input,\n        status: 'THROTTLED',\n        pollAttempt: previousAttempt + 1,\n        nextWaitSeconds: nextBackoffSeconds(previousAttempt, retryAfterSeconds),\n      },\n    }];\n  }\n\n  throw new Error(message);\n}\n\nif (rawStatus === 'FAILED' || rawStatus === 'CANCELLED') {\n  throw new Error(`Amazon Ads report ${rawStatus}: ${input.failureReason || 'No failure reason provided'}`);\n}\n\nif (rawStatus === 'COMPLETED') {\n  return [{\n    json: {\n      ...input,\n      status: 'COMPLETED',\n      pollAttempt: previousAttempt,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    status: rawStatus || 'PENDING',\n    pollAttempt: previousAttempt + 1,\n    nextWaitSeconds: nextBackoffSeconds(previousAttempt, 0),\n  },\n}];"
      },
      "id": "4f344fde-8a0d-4e44-99a8-2b66f63bc87c",
      "name": "Normalize Poll Status4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst remainingRegistry = Array.isArray(input.remainingRegistry) ? input.remainingRegistry : [];\nif (remainingRegistry.length === 0) {\n  return [{ json: { ...input, currentMetric: null, currentSelected: 'false', currentStartedAt: null, done: true } }];\n}\nconst [currentMetric, ...rest] = remainingRegistry;\nconst selected = input.runAll || (input.selectedMetrics || []).includes(currentMetric.metricKey);\nreturn [{\n  json: {\n    ...input,\n    remainingRegistry: rest,\n    currentMetric,\n    currentSelected: selected ? 'true' : 'false',\n    currentStartedAt: selected ? new Date().toISOString() : null,\n    done: false,\n  },\n}];"
      },
      "id": "7fb6cf8a-0fdc-4d5c-9001-a99bbc33828d",
      "name": "Prepare Next Metric",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        616
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.done }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "condition-has-current-metric"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "519c6c61-acfb-4105-8edc-6f2f23ef0e01",
      "name": "If Has Current Metric",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1280,
        72
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentSelected }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-run-current-metric"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bc59c1d5-858a-4ffc-8669-2e0fc7610e9e",
      "name": "If Run Current Metric",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1056,
        -24
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 6,
        "output": "={{ ({ ads_spend: 0, ctr: 1, sales_ppc: 2, clicks: 3, units_ppc: 4 })[$json.currentMetric.metricKey] ?? 5 }}"
      },
      "id": "823e7be9-a464-45d5-81a2-d579ee636437",
      "name": "Route Metric",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -832,
        -216
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.currentMetric;\nreturn [{\n  json: {\n    ...input,\n    summary: [\n      ...(input.summary || []),\n      {\n        metricKey: current.metricKey,\n        displayName: current.displayName,\n        selected: false,\n        status: 'skipped',\n        errorMessage: null,\n        startedAt: null,\n        finishedAt: new Date().toISOString(),\n      },\n    ],\n  },\n}];"
      },
      "id": "616063dc-3e7f-4d0b-a805-34dbe8399ed2",
      "name": "Record Metric Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        376
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('If Run Current Metric').item.json;\nconst current = previous.currentMetric;\nconst payload = $input.first().json || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn [{\n  json: {\n    ...previous,\n    summary: [\n      ...(previous.summary || []),\n      {\n        metricKey: current.metricKey,\n        displayName: current.displayName,\n        selected: true,\n        status: error ? 'failed' : 'success',\n        errorMessage: error ? String(error.message || payload.message || 'Metric execution failed') : null,\n        startedAt: previous.currentStartedAt || null,\n        finishedAt: new Date().toISOString(),\n      },\n    ],\n  },\n}];"
      },
      "id": "28bc8d38-4aab-4acc-a2d6-90c80a823fef",
      "name": "Record Metric Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        -232
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "ads-execute-subworkflow-trigger",
      "name": "Execute Sub-workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3744,
        688
      ]
    }
  ],
  "connections": {
    "Mint Amazon Access Token": {
      "main": [
        [
          {
            "node": "Refresh Amazon Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Amazon Token": {
      "main": [
        [
          {
            "node": "Build JWT Assertion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mint Google Access Token": {
      "main": [
        [
          {
            "node": "Refresh Google Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Shared Auth Bundle": {
      "main": [
        [
          {
            "node": "Build Workflow Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Mint Amazon Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build JWT Assertion": {
      "main": [
        [
          {
            "node": "Mint Google Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Google Token": {
      "main": [
        [
          {
            "node": "Mint SP Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mint SP Access Token": {
      "main": [
        [
          {
            "node": "Attach Shared Auth Bundle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check if its okay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if its okay": {
      "main": [
        [
          {
            "node": "Normalize Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download the File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Request for Report": {
      "main": [
        [
          {
            "node": "If error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the File": {
      "main": [
        [
          {
            "node": "Decompress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If error": {
      "main": [
        [
          {
            "node": "Extract Report Id From Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Report Id From Error": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Poll Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Check if its okay1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if its okay1": {
      "main": [
        [
          {
            "node": "Normalize Poll Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Download the File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Request for Report1": {
      "main": [
        [
          {
            "node": "If error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the File1": {
      "main": [
        [
          {
            "node": "Decompress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If error1": {
      "main": [
        [
          {
            "node": "Extract Report Id From Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Report Id From Error1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Poll Status1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Check if its okay2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if its okay2": {
      "main": [
        [
          {
            "node": "Normalize Poll Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Download the File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Request for Report2": {
      "main": [
        [
          {
            "node": "If error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the File2": {
      "main": [
        [
          {
            "node": "Decompress2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If error2": {
      "main": [
        [
          {
            "node": "Extract Report Id From Error2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Report Id From Error2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet4": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Poll Status2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Check if its okay3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if its okay3": {
      "main": [
        [
          {
            "node": "Normalize Poll Status3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Download the File3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Request for Report3": {
      "main": [
        [
          {
            "node": "If error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the File3": {
      "main": [
        [
          {
            "node": "Decompress3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress3": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If error3": {
      "main": [
        [
          {
            "node": "Extract Report Id From Error3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Report Id From Error3": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet5": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Poll Status3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Check if its okay4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if its okay4": {
      "main": [
        [
          {
            "node": "Normalize Poll Status4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Download the File4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Request for Report4": {
      "main": [
        [
          {
            "node": "If error4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the File4": {
      "main": [
        [
          {
            "node": "Decompress4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress4": {
      "main": [
        [
          {
            "node": "Extract from File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If error4": {
      "main": [
        [
          {
            "node": "Extract Report Id From Error4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Report Id From Error4": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File4": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet6": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Poll Status4": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Workflow Registry": {
      "main": [
        [
          {
            "node": "Prepare Next Metric",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Next Metric": {
      "main": [
        [
          {
            "node": "If Has Current Metric",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Current Metric": {
      "main": [
        [
          {
            "node": "If Run Current Metric",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Current Metric": {
      "main": [
        [
          {
            "node": "Route Metric",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Metric Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Metric": {
      "main": [
        [
          {
            "node": "Send a Request for Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a Request for Report1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a Request for Report2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a Request for Report3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a Request for Report4",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Record Metric Skipped": {
      "main": [
        [
          {
            "node": "Prepare Next Metric",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Metric Result": {
      "main": [
        [
          {
            "node": "Prepare Next Metric",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update Google Sheet1": {
      "main": [
        [
          {
            "node": "Record Metric Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update Google Sheet2": {
      "main": [
        [
          {
            "node": "Record Metric Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update Google Sheet4": {
      "main": [
        [
          {
            "node": "Record Metric Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update Google Sheet5": {
      "main": [
        [
          {
            "node": "Record Metric Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update Google Sheet6": {
      "main": [
        [
          {
            "node": "Record Metric Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Sub-workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {},
  "pinData": {},
  "versionId": "468fa8b5-1b55-4490-8062-36e7cc8e008d",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-16T22:01:41.254Z",
      "createdAt": "2026-04-16T22:01:41.254Z",
      "role": "workflow:owner",
      "workflowId": "vmOB9dWgN8q6LJVk",
      "projectId": "A9JoI2uB9gEuVNGo",
      "project": {
        "updatedAt": "2026-04-12T23:15:35.657Z",
        "createdAt": "2026-04-12T23:15:20.662Z",
        "id": "A9JoI2uB9gEuVNGo",
        "name": "Jericho jericho@blazintech.net <jericho@blazintech.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7c4876f-874b-42f0-baa1-c60e258e7170"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}