workflows/Unified Amazon Metrics Group - SP.json
{
  "updatedAt": "2026-04-16T23:44:50.474Z",
  "createdAt": "2026-04-16T22:18:49.012Z",
  "id": "lI6VdPxTKRYvgIUn",
  "name": "Unified Amazon Metrics Group - SP",
  "description": "Self-contained SP grouped workflow with inlined SP metric logic and parent-callable entry.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3744,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const registry = [\n  {\n    \"metricKey\": \"refunds\",\n    \"displayName\": \"Get Refund\",\n    \"dateMode\": \"range-ready\"\n  },\n  {\n    \"metricKey\": \"sales_organic\",\n    \"displayName\": \"Get Sales Organic\",\n    \"dateMode\": \"range-ready\"\n  },\n  {\n    \"metricKey\": \"units_organic\",\n    \"displayName\": \"Get Units Organic\",\n    \"dateMode\": \"range-ready\"\n  },\n  {\n    \"metricKey\": \"reversal_reimbursement\",\n    \"displayName\": \"Get Reversal Reimbursement\",\n    \"dateMode\": \"range-ready\"\n  }\n];\nconst raw = String($json.INCLUDE_LIST || '').trim().toLowerCase();\nconst selectedMetrics = raw ? [...new Set(raw.split(',').map((value) => value.trim()).filter(Boolean).filter((metricKey) => registry.some((entry) => entry.metricKey === metricKey)))] : [];\nreturn [{\n  json: {\n    ...$json,\n    INCLUDE_LIST: selectedMetrics.join(','),\n    selectedMetrics,\n    runAll: selectedMetrics.length === 0,\n    groupKey: 'sp',\n    groupMetrics: registry.map((entry) => entry.metricKey),\n    summary: [],\n    registry,\n    remainingRegistry: registry,\n  },\n}];"
      },
      "id": "9ab7ff96-a858-4f5d-89dd-6eae4df70259",
      "name": "Build Workflow Registry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst summary = (input.summary || []).map((item) => ({\n  groupKey: 'sp',\n  metricKey: item.metricKey,\n  displayName: item.displayName,\n  selected: item.selected,\n  status: item.status,\n  errorMessage: item.errorMessage ?? null,\n  startedAt: item.startedAt ?? null,\n  finishedAt: item.finishedAt ?? null,\n}));\nconst totals = summary.reduce((acc, item) => {\n  acc.total += 1;\n  acc[item.status] = (acc[item.status] || 0) + 1;\n  return acc;\n}, { total: 0, success: 0, failed: 0, skipped: 0 });\nconst firstFailure = summary.find((item) => item.status === 'failed');\nconst selectedMetrics = input.runAll ? (input.groupMetrics || []) : (input.selectedMetrics || []);\nconst groupStatus = totals.failed > 0 ? 'failed' : totals.success > 0 ? 'success' : 'skipped';\nconst startedAt = summary.find((item) => item.startedAt)?.startedAt || null;\nconst finishedAt = new Date().toISOString();\nreturn [{\n  json: {\n    groupKey: 'sp',\n    groups: [{\n      groupKey: 'sp',\n      status: groupStatus,\n      selectedMetrics,\n      errorMessage: firstFailure ? firstFailure.errorMessage : null,\n      startedAt,\n      finishedAt,\n    }],\n    summary,\n    totals,\n  },\n}];"
      },
      "id": "cb2054c8-299b-414e-86a3-b578d73d746f",
      "name": "Final Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.amazon.com/auth/o2/token",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "=refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json[\"✅AMAZON_ADS_REFRESH_TOKEN\"] }}"
            },
            {
              "name": "client_id",
              "value": "={{ $json[\"✅AMAZON_ADS_CLIENT_ID\"] }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json[\"✅AMAZON_ADS_CLIENT_SECRET\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "131724be-1194-4fa4-ad8e-87fd0c534d33",
      "name": "Mint Amazon Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3296,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "04c59770-30d9-42ea-9d31-b768024eef39",
      "name": "Refresh Amazon Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3072,
        704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $json.assertion }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2a201658-f325-423c-b8dc-7da5cad61342",
      "name": "Mint Google Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2624,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "13be27ef-0fcb-4dfa-83f2-ba8e40ec6978",
      "name": "Refresh Google Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const seed = $('Set Credentials').first().json;\nconst input = $input.first().json;\nconst issuedAt = new Date().toISOString();\n\nconst refreshBufferSeconds = Number(seed.AUTH_REFRESH_BUFFER_SECONDS || input.AUTH_REFRESH_BUFFER_SECONDS || 300);\n\nconst amazonAdsNode = $('Mint Amazon Access Token').first().json;\nconst googleNode = $('Mint Google Access Token').first().json;\nconst spNode = $('Mint SP Access Token').first().json;\n\nconst amazonExpiresIn = Number(amazonAdsNode.expires_in || 3600);\nconst googleExpiresIn = Number(googleNode.expires_in || 3600);\nconst spExpiresIn = Number(spNode.expires_in || 3600);\n\nreturn [{\n  json: {\n    ...seed,\n    ...input,\n    auth: {\n      amazon: {\n        accessToken: amazonAdsNode.access_token,\n        clientId: seed['✅AMAZON_ADS_CLIENT_ID'],\n        profileId: seed['✅AMAZON_ADS_PROFILE_ID'],\n        issuedAt,\n        expiresAt: new Date(Date.now() + amazonExpiresIn * 1000).toISOString(),\n        spAccessToken: spNode.access_token,\n        spIssuedAt: issuedAt,\n        spExpiresAt: new Date(Date.now() + spExpiresIn * 1000).toISOString(),\n      },\n      google: {\n        accessToken: googleNode.access_token,\n        scope: seed['✅GOOGLE_SCOPE'] || 'https://www.googleapis.com/auth/spreadsheets',\n        issuedAt: seed.googleIssuedAt || input.googleIssuedAt || issuedAt,\n        expiresAt: seed.googleExpiresAt || input.googleExpiresAt || new Date(Date.now() + googleExpiresIn * 1000).toISOString(),\n      },\n      meta: {\n        refreshBufferSeconds,\n      },\n    },\n  },\n}];"
      },
      "id": "196cd93e-f36a-4b77-bb65-3a1677c07974",
      "name": "Attach Shared Auth Bundle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1952,
        704
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76a6c500-c2c0-4339-8299-682826c4452b",
              "name": "✅START_DATE",
              "value": "={{ $json['✅START_DATE'] || '2026-04-07' }}",
              "type": "string"
            },
            {
              "id": "2a1915cd-7949-44ff-952b-9ab2aa6365f5",
              "name": "✅END_DATE",
              "value": "={{ $json['✅END_DATE'] || $json['✅START_DATE'] || '2026-04-07' }}",
              "type": "string"
            },
            {
              "id": "6944e5f6-f22f-4bf8-9746-13b9e5ee8f91",
              "name": "INCLUDE_LIST",
              "value": "={{ Array.isArray($json.selectedMetrics) && $json.selectedMetrics.length ? $json.selectedMetrics.join(',') : ($json.INCLUDE_LIST || '') }}",
              "type": "string"
            },
            {
              "id": "d2a87c47-b55e-4641-90c9-4b7c204d8955",
              "name": "✅AMAZON_ADS_CLIENT_ID",
              "value": "YOUR_AMAZON_CLIENT_ID",
              "type": "string"
            },
            {
              "id": "f6bcc963-0897-455c-ac16-e86f3deca6ef",
              "name": "✅AMAZON_ADS_CLIENT_SECRET",
              "value": "amzn1.oa2-cs.v1.c8d866128f6e2dbe406785ea446654c10bc921de4d1ac4256fa96a63f5a47971",
              "type": "string"
            },
            {
              "id": "6e513cbb-157d-4f5b-a18f-6f2b212157f5",
              "name": "✅AMAZON_ADS_REFRESH_TOKEN",
              "value": "Atzr|IwEBID_-DsgS6HGOaBkUmeUGN3_4CG7Skx-lQJuchtu5WaP852TE32iP4z9PUNBlnkOJPJoyn4nbKFnAGXJDbedu5th0VlxqZFU125TiPIpGkYLBieEPgkiIMSLV6vJOjB6Xm7nnmNd4_KXtLnH4x69IkhJ0cYSQgWpy9nc1c71hEX8lht3kD7qHsAByw4Wd8sYuOlfzxCeepOAHsv2h76XSA629pZglhVNNXQLPFKpXBRwoVjaI1j_EueHE0iQ50IPNWjC38A7WT2ZEaRlj7pkjSvmh13v-zeLHvpkWD31g5mIj-SeCUalwlFDkdMgOLM2wI1zCW_GhpI3bipRYbjrT2Deog_suuskEK1l8hCBtnUAZZflZLo3e6s3SIeSPJDTmShRDuBDjGPX3Qz1rDa1LUk0UU0ON-Z-eLXbhSKOdYQKLhFNA0UMc9cHT1polWR_iuvd13z7u2OrB-Q5EF6sdhxyLFR9QiqwNqT9T5-XUfRgNUWexJyEYQVsrcClCdTjrwg-y0xo8EmkCLAgoRCaXPnVd",
              "type": "string"
            },
            {
              "id": "15f4bb08-6a83-4e2f-bf3f-706b362ee4af",
              "name": "✅AMAZON_ADS_PROFILE_ID",
              "value": "873689645456341",
              "type": "string"
            },
            {
              "id": "55f35d9b-4dd4-4594-af0c-08185938f2ac",
              "name": "✅AMAZON_SP_CLIENT_ID",
              "value": "YOUR_AMAZON_CLIENT_ID",
              "type": "string"
            },
            {
              "id": "2aa06f79-f2f4-4d4f-8a4a-bf328f2de798",
              "name": "✅AMAZON_SP_CLIENT_SECRET: ",
              "value": "amzn1.oa2-cs.v1.7952b2a0ac9fc179d52a158485b1755be99e2f56c256c5009bf5b23c373ac7f4",
              "type": "string"
            },
            {
              "id": "518c7b45-f2de-42ad-b944-6342308f9e41",
              "name": "✅AMAZON_SP_REFRESH_TOKEN",
              "value": "Atzr|IwEBIIvWPTsQK2VYjuqsRqPryHsxWgSLgEqW54kRaFox8SHBd9VIV60_VVt0p2XJMvBPT7-1YJ7amEx8kuoRL-wT6-lkg2yDOMnMo1SswpohWcq5Pune77FhhIg5NYacOZIFUUqwsPCnLijKtHqWFdhOmXFzc-1Q7tbhJYvmi3EC7NQDJupcQ8xMw6sbqQCOInwGReb0Be6uHxN_M1-IN_VLDdN-6iaYCkN8eDBcZWrOunKpSUnzjp72RraWSF2pekXs88zrMOhT78vMdevSDus18Nrp2V6GdNSmPci3QLlqam2FDHCDFgQQM6hHnz3Zwv4t9pM",
              "type": "string"
            },
            {
              "id": "d02eed0a-85e5-4723-97a0-2ef963c0cb91",
              "name": "✅GOOGLE_SERVICE_ACCOUNT_EMAIL",
              "value": "n8n-268@amazon-automation-493007.iam.gserviceaccount.com",
              "type": "string"
            },
            {
              "id": "fe461a50-becf-4868-9675-eba1f00317b1",
              "name": "✅GOOGLE_PRIVATE_KEY",
              "value": "-----BEGIN PRIVATE KEY-----\\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQC8c0JZmC0qtMMW\\nH588LkS3fVUWusX30OQASwFyJY5jjndDvGva5kHxvORBTn+/YB7Ei9YyAIXqcZYU\\nFVAP1nCNJtNI9TiamZGP/c3P2XRdPlK0TLCqWMpYqg7iXp8Rrv4YOtpzEpnxeMsx\\n3saKrqccA969jAaSC9aCaa1O5wHmNQlk2pPD9TEywuBIMJeSllsZbxiTYQC7olWy\\nG1HhOFgU7xFVe7YVrQMI/O43uWXCB7BdpHUoCKGaxnOvWINOMbIIRLvi1GUTC30L\\nUPq14S0bDqnzu4En4Cd0WcpBqpsWutnqu9YEtDjV1eeFyg2F3DPYU2JmxeBX89eY\\nJUuL9S1lAgMBAAECggEAJPXvMr7Vxv0+kQmBM+64NAvNI0DdIJp0CXmsjix/BZg0\\n3JBpT/zevLCpTQS+KfUKe86YY2S2XzHJd2Vptz1+BDUz9eiAolPR2J21Htm9yKb3\\nVhz/fl2dTDAIbM4VoUSC2hI685xXnKRuJ/kTVDJmnKhGqML8q+rN9vSOlP3aYcG5\\nD84TH3xY2pjl0vV3L4Qm7gmzkBepbbz6IDPNZJKz1C5H7k9mitkQMwIlRsaj0BQ4\\n7Kdh1Hg/670vUu6AHFsebDtXmIQVpKln9D11wBszpH/D7NclwFnIiP102xBMgH5L\\n/7UUcavrUvOvoljICT41O0R41Ad295b+mT9K8fum0QKBgQD0cPhITWP9kUYFHDb5\\ntkga3p8pPajVWnuKGafuNvzt1/GzaDrg3/lwejua2Ht6KdSi/IkL8Ucx8SNaJk1/\\nROH4mfaS2lGG+7VPRD019iEkA7eqUoTvpQWyLFS4Rw/oTzaWdlWAgqzqyNlvaEON\\nD0Y+QAOgKoCWqMuhlRbUoXLeNQKBgQDFXIB97hX+BaRhuYFE5P9Wne7ymaojULt9\\nFitUezFVk8xJKDvkPJhrqh5N9hmdr/LxAD9nuR3ZrX0jTU6w1CKX4TesVGny8ZRG\\nlyzS0tdHJsv5TyV1Wrsr+opS4YgPcH254d5VA9TJf/pmsqQTMQxDWVT62kgBqRpv\\nYE/kE7+4cQKBgA5ZP0nHOTJeP7T3FgcMeykQnlkmZG25tPzDSsdB9RDlFywH10Ty\\nAMtocW1CfeUK5Y93sXfA/wPgesnE69GnsngMWZv/Mr/wsJDpmYo8W2+oxDQ8Sc9j\\naXUvAv4aNcXWOIcWhShZA1t41MKkZSq3ldD7ovrY49l0KRfgD4oFvB9tAoGAcdFV\\n3MoIbtWMJjuYHEZAJxCvs8MAxpsRdSLq3C6rleHFh08nswlrEXQrQ+SwgyrsXSY6\\narPsThPqPgigYAQG6zYcKEsKSuwdCdS3KeIj+smaCm4leRdZKBS13vRnxhemuiNT\\nWA38kjQ3ETDmxJadrt1+z6hArIx8TUzq5eqpv1ECgYAsNgy7dzdxPPaA6hH9LKMD\\nSNK2XNNTYFboktV6UEHIx1ZQ6sEim/W83KZZx4azV1leJ7olCsRkibzyQUHikVlC\\nvZuWbd/0oClYd+IPODafrgD310zcrYP43YbDPjZyK/C+ZztpwUjSkSQY9QLtqKQp\\njmyybrA+ZAHcBtdhnqKx+A==\\n-----END PRIVATE KEY-----\\n",
              "type": "string"
            },
            {
              "id": "51f84e29-8590-46e0-bb22-c92f5900bcd7",
              "name": "✅GOOGLE_SCOPE",
              "value": "https://www.googleapis.com/auth/spreadsheets",
              "type": "string"
            },
            {
              "id": "297bd6d8-b645-41fa-baf6-9ac1a3b4a682",
              "name": "✅SPREADSHEET_URL_OR_ID",
              "value": "https://docs.google.com/spreadsheets/d/1RSbTS6Y1idmbG_LHUhCSPNx341eYxvUJty_Oxs9gK2o/",
              "type": "string"
            },
            {
              "id": "c0aec1b6-f8fc-49fd-82aa-03fbb686df99",
              "name": "✅SHEET_NAME",
              "value": "MOBILITY",
              "type": "string"
            },
            {
              "id": "163475ec-2602-4c9e-9200-3277ef26934d",
              "name": "✅RANGE",
              "value": "A:Z",
              "type": "string"
            },
            {
              "id": "7cc097e4-78a8-4ff3-8f04-a50764c10b41",
              "name": "✅START_DATE",
              "value": "2026-04-09",
              "type": "string"
            },
            {
              "id": "8d2c39d2-0cca-468a-bdb6-8a4ec6d9ad01",
              "name": "✅END_DATE",
              "value": "2026-04-09",
              "type": "string"
            },
            {
              "id": "05c6613c-5ce9-418b-9067-8ca2a91dec71",
              "name": "✅COLUMNS",
              "value": "[\"cost\", \"clicks\", \"impressions\", \"advertisedAsin\", \"advertisedSku\"]",
              "type": "string"
            },
            {
              "id": "e05654b1-70f3-45f6-ba57-3f3b7bb1a8bf",
              "name": "✅SPREADSHEET_ID",
              "value": "1RSbTS6Y1idmbG_LHUhCSPNx341eYxvUJty_Oxs9gK2o",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3520,
        704
      ],
      "id": "cf0346ef-113a-4bf8-9537-56adc7df7f82",
      "name": "Set Credentials"
    },
    {
      "parameters": {
        "jsCode": "function b64urlFromString(str) {\n  return Buffer.from(str, 'utf8')\n    .toString('base64')\n    .replace(/=/g, '')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_');\n}\n\nfunction b64urlFromBytes(bytes) {\n  return Buffer.from(bytes)\n    .toString('base64')\n    .replace(/=/g, '')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_');\n}\n\nfunction hexToBytes(hex) {\n  const out = new Uint8Array(hex.length / 2);\n  for (let i = 0; i < out.length; i++) {\n    out[i] = parseInt(hex.slice(i * 2, i * 2 + 2), 16);\n  }\n  return out;\n}\n\nfunction bytesToBigInt(bytes) {\n  let n = 0n;\n  for (let i = 0; i < bytes.length; i++) {\n    n = (n << 8n) | BigInt(bytes[i]);\n  }\n  return n;\n}\n\nfunction bigIntToBytes(num, length) {\n  const out = new Uint8Array(length);\n  let x = num;\n  for (let i = length - 1; i >= 0; i--) {\n    out[i] = Number(x & 0xffn);\n    x >>= 8n;\n  }\n  return out;\n}\n\nfunction modPow(base, exp, mod) {\n  let result = 1n;\n  let b = base % mod;\n  let e = exp;\n  while (e > 0n) {\n    if (e & 1n) result = (result * b) % mod;\n    b = (b * b) % mod;\n    e >>= 1n;\n  }\n  return result;\n}\n\nfunction readAsn1Element(bytes, offset) {\n  const tag = bytes[offset++];\n  const lenByte = bytes[offset++];\n  let length = 0;\n  if ((lenByte & 0x80) === 0) {\n    length = lenByte;\n  } else {\n    const numBytes = lenByte & 0x7f;\n    for (let i = 0; i < numBytes; i++) {\n      length = (length << 8) | bytes[offset++];\n    }\n  }\n  const valueStart = offset;\n  const valueEnd = valueStart + length;\n  return { tag, valueStart, valueEnd, nextOffset: valueEnd };\n}\n\nfunction readAsn1Integer(bytes, offset) {\n  const el = readAsn1Element(bytes, offset);\n  if (el.tag !== 0x02) throw new Error('Invalid ASN.1 INTEGER');\n  let start = el.valueStart;\n  while (start < el.valueEnd - 1 && bytes[start] === 0x00) start++;\n  return { value: bytesToBigInt(bytes.slice(start, el.valueEnd)), nextOffset: el.nextOffset };\n}\n\nfunction parsePkcs8RsaPrivateKey(pem) {\n  const der = Buffer.from(\n    pem\n      .replace(/-----BEGIN PRIVATE KEY-----/g, '')\n      .replace(/-----END PRIVATE KEY-----/g, '')\n      .replace(/\\s+/g, ''),\n    'base64'\n  );\n  const bytes = new Uint8Array(der);\n\n  const top = readAsn1Element(bytes, 0);\n  if (top.tag !== 0x30) throw new Error('Invalid PKCS#8');\n\n  let o = top.valueStart;\n  const version = readAsn1Element(bytes, o);\n  if (version.tag !== 0x02) throw new Error('Invalid PKCS#8 version');\n  o = version.nextOffset;\n\n  const alg = readAsn1Element(bytes, o);\n  if (alg.tag !== 0x30) throw new Error('Invalid PKCS#8 algorithm identifier');\n  o = alg.nextOffset;\n\n  const pk = readAsn1Element(bytes, o);\n  if (pk.tag !== 0x04) throw new Error('Invalid PKCS#8 privateKey');\n\n  const rsaBytes = bytes.slice(pk.valueStart, pk.valueEnd);\n  const rsaSeq = readAsn1Element(rsaBytes, 0);\n  if (rsaSeq.tag !== 0x30) throw new Error('Invalid RSAPrivateKey');\n\n  let r = rsaSeq.valueStart;\n  r = readAsn1Element(rsaBytes, r).nextOffset; // version\n  const nEl = readAsn1Integer(rsaBytes, r); r = nEl.nextOffset;\n  const eEl = readAsn1Integer(rsaBytes, r); r = eEl.nextOffset;\n  const dEl = readAsn1Integer(rsaBytes, r);\n\n  return {\n    n: nEl.value,\n    e: eEl.value,\n    d: dEl.value,\n  };\n}\n\nfunction rotr(x, n) {\n  return ((x >>> n) | (x << (32 - n))) >>> 0;\n}\n\nfunction sha256(msgBytes) {\n  const K = [\n    0x428a2f98, 0x71374491, 0xb5c0fbcf, 0xe9b5dba5, 0x3956c25b, 0x59f111f1, 0x923f82a4, 0xab1c5ed5,\n    0xd807aa98, 0x12835b01, 0x243185be, 0x550c7dc3, 0x72be5d74, 0x80deb1fe, 0x9bdc06a7, 0xc19bf174,\n    0xe49b69c1, 0xefbe4786, 0x0fc19dc6, 0x240ca1cc, 0x2de92c6f, 0x4a7484aa, 0x5cb0a9dc, 0x76f988da,\n    0x983e5152, 0xa831c66d, 0xb00327c8, 0xbf597fc7, 0xc6e00bf3, 0xd5a79147, 0x06ca6351, 0x14292967,\n    0x27b70a85, 0x2e1b2138, 0x4d2c6dfc, 0x53380d13, 0x650a7354, 0x766a0abb, 0x81c2c92e, 0x92722c85,\n    0xa2bfe8a1, 0xa81a664b, 0xc24b8b70, 0xc76c51a3, 0xd192e819, 0xd6990624, 0xf40e3585, 0x106aa070,\n    0x19a4c116, 0x1e376c08, 0x2748774c, 0x34b0bcb5, 0x391c0cb3, 0x4ed8aa4a, 0x5b9cca4f, 0x682e6ff3,\n    0x748f82ee, 0x78a5636f, 0x84c87814, 0x8cc70208, 0x90befffa, 0xa4506ceb, 0xbef9a3f7, 0xc67178f2,\n  ];\n\n  const H = [\n    0x6a09e667, 0xbb67ae85, 0x3c6ef372, 0xa54ff53a,\n    0x510e527f, 0x9b05688c, 0x1f83d9ab, 0x5be0cd19,\n  ];\n\n  const bitLen = msgBytes.length * 8;\n  const withOne = msgBytes.length + 1;\n  const padLen = (64 - ((withOne + 8) % 64)) % 64;\n  const totalLen = withOne + padLen + 8;\n  const data = new Uint8Array(totalLen);\n  data.set(msgBytes, 0);\n  data[msgBytes.length] = 0x80;\n  const hi = Math.floor(bitLen / 0x100000000);\n  const lo = bitLen >>> 0;\n  data[totalLen - 8] = (hi >>> 24) & 0xff;\n  data[totalLen - 7] = (hi >>> 16) & 0xff;\n  data[totalLen - 6] = (hi >>> 8) & 0xff;\n  data[totalLen - 5] = hi & 0xff;\n  data[totalLen - 4] = (lo >>> 24) & 0xff;\n  data[totalLen - 3] = (lo >>> 16) & 0xff;\n  data[totalLen - 2] = (lo >>> 8) & 0xff;\n  data[totalLen - 1] = lo & 0xff;\n\n  const W = new Uint32Array(64);\n\n  for (let i = 0; i < data.length; i += 64) {\n    for (let t = 0; t < 16; t++) {\n      const j = i + t * 4;\n      W[t] = ((data[j] << 24) | (data[j + 1] << 16) | (data[j + 2] << 8) | data[j + 3]) >>> 0;\n    }\n    for (let t = 16; t < 64; t++) {\n      const s0 = (rotr(W[t - 15], 7) ^ rotr(W[t - 15], 18) ^ (W[t - 15] >>> 3)) >>> 0;\n      const s1 = (rotr(W[t - 2], 17) ^ rotr(W[t - 2], 19) ^ (W[t - 2] >>> 10)) >>> 0;\n      W[t] = (((W[t - 16] + s0) >>> 0) + ((W[t - 7] + s1) >>> 0)) >>> 0;\n    }\n\n    let a = H[0], b = H[1], c = H[2], d = H[3];\n    let e = H[4], f = H[5], g = H[6], h = H[7];\n\n    for (let t = 0; t < 64; t++) {\n      const S1 = (rotr(e, 6) ^ rotr(e, 11) ^ rotr(e, 25)) >>> 0;\n      const ch = ((e & f) ^ (~e & g)) >>> 0;\n      const temp1 = (((((h + S1) >>> 0) + ch) >>> 0) + ((K[t] + W[t]) >>> 0)) >>> 0;\n      const S0 = (rotr(a, 2) ^ rotr(a, 13) ^ rotr(a, 22)) >>> 0;\n      const maj = ((a & b) ^ (a & c) ^ (b & c)) >>> 0;\n      const temp2 = (S0 + maj) >>> 0;\n\n      h = g;\n      g = f;\n      f = e;\n      e = (d + temp1) >>> 0;\n      d = c;\n      c = b;\n      b = a;\n      a = (temp1 + temp2) >>> 0;\n    }\n\n    H[0] = (H[0] + a) >>> 0;\n    H[1] = (H[1] + b) >>> 0;\n    H[2] = (H[2] + c) >>> 0;\n    H[3] = (H[3] + d) >>> 0;\n    H[4] = (H[4] + e) >>> 0;\n    H[5] = (H[5] + f) >>> 0;\n    H[6] = (H[6] + g) >>> 0;\n    H[7] = (H[7] + h) >>> 0;\n  }\n\n  const out = new Uint8Array(32);\n  for (let i = 0; i < 8; i++) {\n    out[i * 4] = (H[i] >>> 24) & 0xff;\n    out[i * 4 + 1] = (H[i] >>> 16) & 0xff;\n    out[i * 4 + 2] = (H[i] >>> 8) & 0xff;\n    out[i * 4 + 3] = H[i] & 0xff;\n  }\n  return out;\n}\n\nfunction rsassaPkcs1V15Sha256Sign(messageUtf8, privateKeyPem) {\n  const key = parsePkcs8RsaPrivateKey(privateKeyPem);\n  const k = Math.ceil(key.n.toString(2).length / 8);\n\n  const hash = sha256(new TextEncoder().encode(messageUtf8));\n  const digestInfoPrefix = hexToBytes('3031300d060960864801650304020105000420');\n  const tLen = digestInfoPrefix.length + hash.length;\n  const psLen = k - tLen - 3;\n  if (psLen < 8) throw new Error('RSA key too short for PKCS#1 v1.5 SHA-256');\n\n  const em = new Uint8Array(k);\n  em[0] = 0x00;\n  em[1] = 0x01;\n  for (let i = 0; i < psLen; i++) em[2 + i] = 0xff;\n  em[2 + psLen] = 0x00;\n  em.set(digestInfoPrefix, 3 + psLen);\n  em.set(hash, 3 + psLen + digestInfoPrefix.length);\n\n  const m = bytesToBigInt(em);\n  const s = modPow(m, key.d, key.n);\n  return bigIntToBytes(s, k);\n}\n\nconst input = $input.first().json;\nconst serviceAccountEmail = $('Set Credentials').first().json[\"✅GOOGLE_SERVICE_ACCOUNT_EMAIL\"];\nconst privateKeyPem = String($('Set Credentials').first().json[\"✅GOOGLE_PRIVATE_KEY\"] || '').replace(/\\\\n/g, '\\n');\nconst scope = $('Set Credentials').first().json[\"✅GOOGLE_SCOPE\"] || 'https://www.googleapis.com/auth/spreadsheets.readonly';\n\nif (!serviceAccountEmail || !privateKeyPem) {\n  throw new Error('Missing GOOGLE_SERVICE_ACCOUNT_EMAIL or GOOGLE_PRIVATE_KEY');\n}\n\nconst now = Math.floor(Date.now() / 1000);\nconst header = { alg: 'RS256', typ: 'JWT' };\nconst payload = {\n  iss: serviceAccountEmail,\n  scope,\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now,\n  exp: now + 3600,\n};\n\nconst encodedHeader = b64urlFromString(JSON.stringify(header));\nconst encodedPayload = b64urlFromString(JSON.stringify(payload));\nconst signingInput = `${encodedHeader}.${encodedPayload}`;\n\nconst signatureBytes = rsassaPkcs1V15Sha256Sign(signingInput, privateKeyPem);\nconst signature = b64urlFromBytes(signatureBytes);\nconst assertion = `${signingInput}.${signature}`;\n\nreturn [\n  {\n    json: {\n      ...input,\n      assertion,\n    },\n  },\n];\n"
      },
      "id": "ccccc996-2d47-48fe-a659-6c8e16dc18de",
      "name": "Build JWT Assertion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2848,
        704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.amazon.com/auth/o2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "=refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Set Credentials').first().json[\"✅AMAZON_SP_REFRESH_TOKEN\"] }}"
            },
            {
              "name": "client_id",
              "value": "={{ $('Set Credentials').first().json[\"✅AMAZON_SP_CLIENT_ID\"] }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Set Credentials').first().json[\"✅AMAZON_SP_CLIENT_SECRET: \"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "afc9b8b5-cf21-4e96-9860-7880ca67dd81",
      "name": "Mint SP Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2176,
        704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Attach Shared Auth Bundle').first().json.auth.amazon.spAccessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reportType\": \"GET_FBA_FULFILLMENT_CUSTOMER_RETURNS_DATA\",\n  \"marketplaceIds\": [\"ATVPDKIKX0DER\"],\n  \"dataStartTime\": \"{{ $('Set Credentials').item.json['✅START_DATE'] }}T00:00:00Z\",\n  \"dataEndTime\": \"{{ $('Set Credentials').item.json['✅END_DATE'] }}T23:59:59Z\"\n}",
        "options": {}
      },
      "id": "19ca2ce3-74e9-4d84-80bc-a20c0cae34a6",
      "name": "SP Create Returns Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        440
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Number($json.nextWaitSeconds || 60)) }}"
      },
      "id": "412e68a6-e355-4272-ab8d-4107020b4cc5",
      "name": "SP Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -384,
        440
      ],
      "webhookId": "fabc5886-e39c-439e-a391-2b7772e1092f"
    },
    {
      "parameters": {
        "url": "=https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports/{{ $('SP Create Returns Report').item.json.reportId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Attach Shared Auth Bundle').first().json.auth.amazon.spAccessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "042fab39-e925-44e5-a09f-81530115a9d2",
      "name": "SP Check Report Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        368
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11fa5373-bef8-477a-a2ee-f1f61005f843",
              "leftValue": "={{ $json.processingStatus }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "25f81694-a303-4215-8a75-0b4b16e63095",
      "name": "SP If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        440
      ]
    },
    {
      "parameters": {
        "url": "=https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/documents/{{ $('SP Check Report Status').item.json.reportDocumentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Attach Shared Auth Bundle').first().json.auth.amazon.spAccessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "0d081089-02ee-40cc-a8a9-7500f2d0ab8d",
      "name": "SP Get Report Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        440
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "f0c321ea-70f4-47d9-b6be-e4958facaf7d",
      "name": "SP Download Report File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "function escapeRegExp(s) {\n  return String(s).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n}\n\nconst expectedSkus = [\n  'Choco-12pack-1200g', 'Choco-Blueberry-100g', 'Choco-Brownie-100g', 'Choco-Caramel-100g',\n  'Choco-Coconut-100g', 'Choco-Cookie-100g', 'Choco-Dark-100g', 'Choco-Dark-200g',\n  'Choco-Hazelnut-100g', 'Choco-Matcha-100g', 'Choco-Milk-100g', 'Choco-Milk-200g',\n  'Choco-Orange-100g', 'Choco-Pumpkin-100g', 'Choco-Raspberry-160g', 'Choco-Strawberry-100g',\n  'Choco-White-100g', 'Choco-White-200g', 'Cone-DubaiMint-6pack-450g', 'Cone-StrawCookie-6pack-450g',\n  'Dried-Kadayif-10KG', 'Dried-Kadayif-180gm', 'Dried-Kadayif-400gm', 'Dried-Kadayif-5KG',\n  'Roasted-Kadayif-10KG', 'Roasted-Kadayif-5KG', 'Roasted-Kataifi-180g', 'Roasted-Kataifi-400g',\n  'Pistachio-Butter-200g-New2', 'Pistachio-Cream-1kg-New2', 'Pistachio-Cream-200g-New2',\n  'Pistachio-Cream-5kg-New2', 'Pistachio-Sauce-700g-New2',\n];\n\nlet text = String($json.reportText || $json.data || '').trim();\nif (!text) {\n  return [{ json: { refundsBySku: {}, skuCount: 0, parseWarning: 'SP Extract Report Text returned empty text' } }];\n}\n\nif (!text.includes('\\n') && text.includes('\\\\n')) {\n  text = text.replace(/\\\\r\\\\n/g, '\\n').replace(/\\\\n/g, '\\n').replace(/\\\\t/g, '\\t');\n}\n\nconst refundsBySku = {};\nfor (const sku of expectedSkus) {\n  const count = (text.match(new RegExp(escapeRegExp(sku), 'g')) || []).length;\n  if (count > 0) refundsBySku[sku] = count;\n}\n\nreturn [{\n  json: {\n    refundsBySku,\n    skuCount: Object.keys(refundsBySku).length,\n    sampleRows: text.split(/\\r?\\n/).filter((l) => l.trim()).slice(0, 10),\n    parseWarning: Object.keys(refundsBySku).length ? null : 'No expected SKU found in extracted report text',\n  },\n}];"
      },
      "id": "1d201d64-950c-4570-82cb-36af8529aef4",
      "name": "SP Parse Returns by SKU",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        440
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "reportText",
        "options": {
          "encoding": "utf8",
          "stripBOM": true
        }
      },
      "id": "471b43b3-8599-4dcf-8952-d4780d2d3d23",
      "name": "SP Extract Report Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        960,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseRetryAfterSeconds(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : 0;\n}\n\nfunction nextBackoffSeconds(previousAttempt, retryAfterSeconds) {\n  const capped = Math.min(300, 60 * (2 ** Math.max(1, previousAttempt + 1)));\n  const jitter = Math.floor(Math.random() * 31);\n  return Math.max(capped + jitter, retryAfterSeconds || 0, 60);\n}\n\nconst input = $input.first().json || {};\nconst previousAttempt = Number(input.pollAttempt || 0);\nconst error = input.error || null;\nconst rawStatus = String(input.processingStatus || '').toUpperCase();\n\nif (error) {\n  const message = String(error.message || input.message || 'Unknown polling error');\n  const httpCode = Number(error.httpCode || input.httpCode || 0);\n  const retryAfterSeconds = parseRetryAfterSeconds(error.retryAfter || error.headers?.['retry-after'] || error.response?.headers?.['retry-after']);\n\n  if (httpCode === 429 || message.toLowerCase().includes('too many requests') || message.toLowerCase().includes('thrott')) {\n    return [{\n      json: {\n        ...input,\n        processingStatus: 'THROTTLED',\n        pollAttempt: previousAttempt + 1,\n        nextWaitSeconds: nextBackoffSeconds(previousAttempt, retryAfterSeconds),\n      },\n    }];\n  }\n\n  throw new Error(message);\n}\n\nif (rawStatus === 'FATAL' || rawStatus === 'CANCELLED') {\n  throw new Error(`SP report ${rawStatus}: ${input.processingEndTime || input.reportId || 'No report details provided'}`);\n}\n\nif (rawStatus === 'DONE') {\n  return [{\n    json: {\n      ...input,\n      processingStatus: 'DONE',\n      pollAttempt: previousAttempt,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    processingStatus: rawStatus || 'IN_PROGRESS',\n    pollAttempt: previousAttempt + 1,\n    nextWaitSeconds: nextBackoffSeconds(previousAttempt, 0),\n  },\n}];"
      },
      "id": "57782dfb-a147-4e88-b1cf-94b0e797a994",
      "name": "SP Normalize Poll Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        368
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json[\"✅SPREADSHEET_ID\"] }}/values/{{ encodeURIComponent(($('Set Credentials').item.json[\"✅SHEET_NAME\"] || 'MOBILITY') + '!' + ($('Set Credentials').item.json[\"✅RANGE\"] || 'A:Z')) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Attach Shared Auth Bundle').first().json.auth.google.accessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "434dc949-45fd-4fae-8e41-27c9c34ac391",
      "name": "Webhook Read Google Sheet3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1408,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node[\"Set Credentials\"].json[\"✅SPREADSHEET_ID\"] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Attach Shared Auth Bundle').first().json.auth.google.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "738cf49e-51f7-4f64-8e69-ebe6d747fee9",
      "name": "Webhook Update Google Sheet3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1856,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined) return 0;\n  const n = Number(String(v).replace(/[$,%\\s,]/g, ''));\n  return Number.isFinite(n) ? n : 0;\n}\n\nconst sheet = $('Webhook Read Google Sheet3').first().json || {};\nconst values = sheet.values || [];\nconst refundsObj = $('SP Parse Returns by SKU').first().json.refundsBySku || {};\nconst sheetName = $('Set Credentials').first().json[\"✅SHEET_NAME\"] || 'MOBILITY';\n\nlet headerRowIdx = -1;\nlet skuCol = -1;\n\nfor (let i = 0; i < Math.min(values.length, 12); i++) {\n  const row = values[i] || [];\n  const foundSkuCol = row.findIndex((c) => String(c).trim().toUpperCase() === 'SKU');\n  if (foundSkuCol !== -1) {\n    headerRowIdx = i;\n    skuCol = foundSkuCol;\n    break;\n  }\n}\n\nif (headerRowIdx === -1 || skuCol === -1) {\n  throw new Error('Could not find SKU header column');\n}\n\nconst refundColA1 = 'P';\nconst data = [];\n\nfor (let i = headerRowIdx + 1; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  if (!sku) continue;\n\n  const refundQty = toNumber(refundsObj[sku] || 0);\n\n  data.push({\n    range: `${sheetName}!${refundColA1}${i + 1}`,\n    values: [[refundQty]],\n  });\n}\n\nreturn [{\n  json: {\n    valueInputOption: 'USER_ENTERED',\n    data,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        440
      ],
      "id": "9e136db7-8378-4fdf-b3a9-d44b4e0a0a79",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json[\"✅SPREADSHEET_ID\"] }}/values/{{ encodeURIComponent(($('Set Credentials').item.json[\"✅SHEET_NAME\"] || 'MOBILITY') + '!' + ($('Set Credentials').item.json[\"✅RANGE\"] || 'A:Z')) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Attach Shared Auth Bundle').first().json.auth.google.accessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "d6c9ffad-a8de-4174-93a2-e7fee70f297a",
      "name": "Webhook Read Google Sheet8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1408,
        -424
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node[\"Set Credentials\"].json[\"✅SPREADSHEET_ID\"] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Attach Shared Auth Bundle').first().json.auth.google.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "4cffc82c-6fd8-4346-8cb2-dcc2796f727a",
      "name": "Webhook Update Google Sheet8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1856,
        -424
      ]
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined) return 0;\n  const n = Number(String(v).replace(/[$,%\\s,]/g, ''));\n  return Number.isFinite(n) ? n : 0;\n}\nconst sheet = $('Webhook Read Google Sheet8').first().json || {};\nconst values = sheet.values || [];\nconst totalsBySku = $('SP Parse Returns by SKU2').first().json.bySku || {};\nconst sheetName = $('Set Credentials').first().json['✅SHEET_NAME'] || 'MOBILITY';\nlet headerRowIdx = -1;\nlet skuCol = -1;\nfor (let i = 0; i < Math.min(values.length, 12); i++) {\n  const row = values[i] || [];\n  const foundSkuCol = row.findIndex((c) => String(c).trim().toUpperCase() === 'SKU');\n  if (foundSkuCol !== -1) {\n    headerRowIdx = i;\n    skuCol = foundSkuCol;\n    break;\n  }\n}\nif (headerRowIdx === -1 || skuCol === -1) throw new Error('Could not find SKU header column');\nconst salesPpcColA1 = 'AS';\nconst salesPpcIdx = 44;\nconst salesOrganicColA1 = 'AR';\nconst data = [];\nfor (let i = headerRowIdx + 1; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  if (!sku || /^SKU$/i.test(sku) || /^IMG$/i.test(sku) || /_TOTALS$/i.test(sku)) continue;\n  const totalSales = toNumber(totalsBySku[sku]?.totalSales || 0);\n  const salesPpc = toNumber(row[salesPpcIdx] || 0);\n  const salesOrganic = Number(Math.max(0, totalSales - salesPpc).toFixed(2));\n  data.push({ range: `${sheetName}!${salesOrganicColA1}${i + 1}`, values: [[salesOrganic]] });\n}\nreturn [{ json: { valueInputOption: 'USER_ENTERED', data } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        -424
      ],
      "id": "ce800ef9-8135-40ff-b099-a7b30590e7c1",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Attach Shared Auth Bundle').first().json.auth.amazon.spAccessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reportType\": \"GET_FLAT_FILE_ALL_ORDERS_DATA_BY_ORDER_DATE_GENERAL\",\n  \"marketplaceIds\": [\"ATVPDKIKX0DER\"],\n  \"dataStartTime\": \"{{ $('Set Credentials').item.json['✅START_DATE'] }}T00:00:00Z\",\n  \"dataEndTime\": \"{{ $('Set Credentials').item.json['✅END_DATE'] }}T23:59:59Z\"\n}",
        "options": {}
      },
      "id": "b85d5003-e048-4947-9a02-f9c3f2c04047",
      "name": "SP Create Returns Report2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        -424
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Number($json.nextWaitSeconds || 60)) }}"
      },
      "id": "a7ff7dc6-67f4-4202-9582-3aeeef4a893c",
      "name": "SP Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -384,
        -424
      ],
      "webhookId": "6b2a771b-a82b-47bd-9e85-c64855c0bac5"
    },
    {
      "parameters": {
        "url": "=https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports/{{ $('SP Create Returns Report2').item.json.reportId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Attach Shared Auth Bundle').first().json.auth.amazon.spAccessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "5db71206-6c64-4014-8517-77fa23effb3c",
      "name": "SP Check Report Status2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        -496
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11fa5373-bef8-477a-a2ee-f1f61005f843",
              "leftValue": "={{ $json.processingStatus }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9af71f9e-f6b9-451b-a826-0c9603d89d81",
      "name": "SP If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        -424
      ]
    },
    {
      "parameters": {
        "url": "=https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/documents/{{ $('SP Check Report Status2').item.json.reportDocumentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Attach Shared Auth Bundle').first().json.auth.amazon.spAccessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "07c00cbd-a47f-4f47-810e-cd0568c3c91f",
      "name": "SP Get Report Document2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        -424
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "3091a664-5e95-4091-9e02-6f6ecb366e41",
      "name": "SP Download Report File2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        -424
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseDelimitedLine(line, delimiter) {\n  const out = [];\n  let current = '';\n  let inQuotes = false;\n  for (let i = 0; i < line.length; i++) {\n    const ch = line[i];\n    if (ch === '\"') {\n      if (inQuotes && line[i + 1] === '\"') {\n        current += '\"';\n        i++;\n      } else {\n        inQuotes = !inQuotes;\n      }\n      continue;\n    }\n    if (ch === delimiter && !inQuotes) {\n      out.push(current);\n      current = '';\n      continue;\n    }\n    current += ch;\n  }\n  out.push(current);\n  return out.map((value) => String(value || '').trim());\n}\nfunction toNumber(input) {\n  if (input === null || input === undefined || input === '') return 0;\n  const n = Number(String(input).replace(/[\\s,$]/g, ''));\n  return Number.isFinite(n) ? n : 0;\n}\nlet text = String($json.reportText || '').trim();\nif (!text) {\n  return [{ json: { bySku: {}, skuCount: 0, parseWarning: 'Order report text empty' } }];\n}\nif (!text.includes('\\n') && text.includes('\\\\n')) {\n  text = text.replace(/\\\\r\\\\n/g, '\\n').replace(/\\\\n/g, '\\n').replace(/\\\\t/g, '\\t');\n}\nconst lines = text.split(/\\r?\\n/).filter((line) => line.trim());\nif (lines.length < 2) {\n  return [{ json: { bySku: {}, skuCount: 0, parseWarning: 'Order report has no data rows' } }];\n}\nconst delimiter = lines[0].includes('\\t') ? '\\t' : ',';\nconst headers = parseDelimitedLine(lines[0], delimiter);\nconst normalized = headers.map((header) => header.toLowerCase().replace(/[^a-z0-9]/g, ''));\nconst pickIndex = (candidates) => normalized.findIndex((header) => candidates.includes(header));\nconst skuIdx = pickIndex(['sku','sellersku','merchantsku']);\nconst salesIdx = pickIndex(['itemprice','productsales','itempriceperunit']);\nconst qtyIdx = pickIndex(['quantity','quantitypurchased','unitsordered']);\nconst statusIdx = pickIndex(['orderstatus','status']);\nif (skuIdx === -1 || salesIdx === -1 || qtyIdx === -1) {\n  throw new Error('Could not locate sku, sales, and quantity columns in orders report');\n}\nconst skipStatuses = new Set(['CANCELLED','PENDING']);\nconst bySku = {};\nfor (let i = 1; i < lines.length; i++) {\n  const cols = parseDelimitedLine(lines[i], delimiter);\n  const sku = String(cols[skuIdx] || '').trim();\n  if (!sku) continue;\n  const status = statusIdx === -1 ? '' : String(cols[statusIdx] || '').trim().toUpperCase();\n  if (skipStatuses.has(status)) continue;\n  const sales = toNumber(cols[salesIdx]);\n  const units = toNumber(cols[qtyIdx]);\n  const record = bySku[sku] || { sku, totalSales: 0, totalUnits: 0 };\n  record.totalSales = Number((record.totalSales + sales).toFixed(2));\n  record.totalUnits = Number((record.totalUnits + units).toFixed(2));\n  bySku[sku] = record;\n}\nreturn [{ json: { bySku, skuCount: Object.keys(bySku).length, parseWarning: null } }];"
      },
      "id": "5cb8943c-fbb0-4ba5-9e95-450ba0df6273",
      "name": "SP Parse Returns by SKU2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -424
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "reportText",
        "options": {
          "encoding": "utf8",
          "stripBOM": true
        }
      },
      "id": "89fb4539-826c-4b59-8a25-e2aa162faff4",
      "name": "SP Extract Report Text2",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        960,
        -424
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseRetryAfterSeconds(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : 0;\n}\n\nfunction nextBackoffSeconds(previousAttempt, retryAfterSeconds) {\n  const capped = Math.min(300, 60 * (2 ** Math.max(1, previousAttempt + 1)));\n  const jitter = Math.floor(Math.random() * 31);\n  return Math.max(capped + jitter, retryAfterSeconds || 0, 60);\n}\n\nconst input = $input.first().json || {};\nconst previousAttempt = Number(input.pollAttempt || 0);\nconst error = input.error || null;\nconst rawStatus = String(input.processingStatus || '').toUpperCase();\n\nif (error) {\n  const message = String(error.message || input.message || 'Unknown polling error');\n  const httpCode = Number(error.httpCode || input.httpCode || 0);\n  const retryAfterSeconds = parseRetryAfterSeconds(error.retryAfter || error.headers?.['retry-after'] || error.response?.headers?.['retry-after']);\n\n  if (httpCode === 429 || message.toLowerCase().includes('too many requests') || message.toLowerCase().includes('thrott')) {\n    return [{\n      json: {\n        ...input,\n        processingStatus: 'THROTTLED',\n        pollAttempt: previousAttempt + 1,\n        nextWaitSeconds: nextBackoffSeconds(previousAttempt, retryAfterSeconds),\n      },\n    }];\n  }\n\n  throw new Error(message);\n}\n\nif (rawStatus === 'FATAL' || rawStatus === 'CANCELLED') {\n  throw new Error(`SP report ${rawStatus}: ${input.processingEndTime || input.reportId || 'No report details provided'}`);\n}\n\nif (rawStatus === 'DONE') {\n  return [{\n    json: {\n      ...input,\n      processingStatus: 'DONE',\n      pollAttempt: previousAttempt,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    processingStatus: rawStatus || 'IN_PROGRESS',\n    pollAttempt: previousAttempt + 1,\n    nextWaitSeconds: nextBackoffSeconds(previousAttempt, 0),\n  },\n}];"
      },
      "id": "7382067e-be9b-447c-a7b0-e8756a6dc3e1",
      "name": "SP Normalize Poll Status2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -496
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json[\"✅SPREADSHEET_ID\"] }}/values/{{ encodeURIComponent(($('Set Credentials').item.json[\"✅SHEET_NAME\"] || 'MOBILITY') + '!' + ($('Set Credentials').item.json[\"✅RANGE\"] || 'A:Z')) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Attach Shared Auth Bundle').first().json.auth.google.accessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "8b1e465a-e232-4632-941a-a2b278f3339c",
      "name": "Webhook Read Google Sheet9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1408,
        -136
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node[\"Set Credentials\"].json[\"✅SPREADSHEET_ID\"] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Attach Shared Auth Bundle').first().json.auth.google.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "cd918754-3194-4afc-9ae1-b0dc8bd14a54",
      "name": "Webhook Update Google Sheet9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1856,
        -136
      ]
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined) return 0;\n  const n = Number(String(v).replace(/[$,%\\s,]/g, ''));\n  return Number.isFinite(n) ? n : 0;\n}\nconst sheet = $('Webhook Read Google Sheet9').first().json || {};\nconst values = sheet.values || [];\nconst totalsBySku = $('SP Parse Returns by SKU3').first().json.bySku || {};\nconst sheetName = $('Set Credentials').first().json['✅SHEET_NAME'] || 'MOBILITY';\nlet headerRowIdx = -1;\nlet skuCol = -1;\nfor (let i = 0; i < Math.min(values.length, 12); i++) {\n  const row = values[i] || [];\n  const foundSkuCol = row.findIndex((c) => String(c).trim().toUpperCase() === 'SKU');\n  if (foundSkuCol !== -1) {\n    headerRowIdx = i;\n    skuCol = foundSkuCol;\n    break;\n  }\n}\nif (headerRowIdx === -1 || skuCol === -1) throw new Error('Could not find SKU header column');\nconst unitsPpcIdx = 55;\nconst unitsOrganicColA1 = 'BC';\nconst data = [];\nfor (let i = headerRowIdx + 1; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  if (!sku || /^SKU$/i.test(sku) || /^IMG$/i.test(sku) || /_TOTALS$/i.test(sku)) continue;\n  const totalUnits = toNumber(totalsBySku[sku]?.totalUnits || 0);\n  const unitsPpc = toNumber(row[unitsPpcIdx] || 0);\n  const unitsOrganic = Number(Math.max(0, totalUnits - unitsPpc).toFixed(2));\n  data.push({ range: `${sheetName}!${unitsOrganicColA1}${i + 1}`, values: [[unitsOrganic]] });\n}\nreturn [{ json: { valueInputOption: 'USER_ENTERED', data } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        -136
      ],
      "id": "708a92fd-67e8-4801-a44c-34b9adcf3592",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Attach Shared Auth Bundle').first().json.auth.amazon.spAccessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reportType\": \"GET_FLAT_FILE_ALL_ORDERS_DATA_BY_ORDER_DATE_GENERAL\",\n  \"marketplaceIds\": [\"ATVPDKIKX0DER\"],\n  \"dataStartTime\": \"{{ $('Set Credentials').item.json['✅START_DATE'] }}T00:00:00Z\",\n  \"dataEndTime\": \"{{ $('Set Credentials').item.json['✅END_DATE'] }}T23:59:59Z\"\n}",
        "options": {}
      },
      "id": "42c08d26-c4e8-4661-b486-ccb4bc229117",
      "name": "SP Create Returns Report3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        -136
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Number($json.nextWaitSeconds || 60)) }}"
      },
      "id": "2cb34d05-a970-47ac-adef-31033a448da6",
      "name": "SP Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -384,
        -136
      ],
      "webhookId": "364b763c-5c47-41f4-8a2d-2f17e8db650f"
    },
    {
      "parameters": {
        "url": "=https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports/{{ $('SP Create Returns Report3').item.json.reportId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Attach Shared Auth Bundle').first().json.auth.amazon.spAccessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "cce8747e-8576-4299-97db-039b63ab0be4",
      "name": "SP Check Report Status3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        -208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11fa5373-bef8-477a-a2ee-f1f61005f843",
              "leftValue": "={{ $json.processingStatus }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2c644b6d-868b-40bd-a8ef-b0d916e078de",
      "name": "SP If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        -136
      ]
    },
    {
      "parameters": {
        "url": "=https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/documents/{{ $('SP Check Report Status3').item.json.reportDocumentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Attach Shared Auth Bundle').first().json.auth.amazon.spAccessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "e0466db1-82ae-4a9b-8fba-388726ce4d3b",
      "name": "SP Get Report Document3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        -136
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "87af9c38-6af6-4c12-b4cc-8566f788fc24",
      "name": "SP Download Report File3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        -136
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseDelimitedLine(line, delimiter) {\n  const out = [];\n  let current = '';\n  let inQuotes = false;\n  for (let i = 0; i < line.length; i++) {\n    const ch = line[i];\n    if (ch === '\"') {\n      if (inQuotes && line[i + 1] === '\"') {\n        current += '\"';\n        i++;\n      } else {\n        inQuotes = !inQuotes;\n      }\n      continue;\n    }\n    if (ch === delimiter && !inQuotes) {\n      out.push(current);\n      current = '';\n      continue;\n    }\n    current += ch;\n  }\n  out.push(current);\n  return out.map((value) => String(value || '').trim());\n}\nfunction toNumber(input) {\n  if (input === null || input === undefined || input === '') return 0;\n  const n = Number(String(input).replace(/[\\s,$]/g, ''));\n  return Number.isFinite(n) ? n : 0;\n}\nlet text = String($json.reportText || '').trim();\nif (!text) {\n  return [{ json: { bySku: {}, skuCount: 0, parseWarning: 'Order report text empty' } }];\n}\nif (!text.includes('\\n') && text.includes('\\\\n')) {\n  text = text.replace(/\\\\r\\\\n/g, '\\n').replace(/\\\\n/g, '\\n').replace(/\\\\t/g, '\\t');\n}\nconst lines = text.split(/\\r?\\n/).filter((line) => line.trim());\nif (lines.length < 2) {\n  return [{ json: { bySku: {}, skuCount: 0, parseWarning: 'Order report has no data rows' } }];\n}\nconst delimiter = lines[0].includes('\\t') ? '\\t' : ',';\nconst headers = parseDelimitedLine(lines[0], delimiter);\nconst normalized = headers.map((header) => header.toLowerCase().replace(/[^a-z0-9]/g, ''));\nconst pickIndex = (candidates) => normalized.findIndex((header) => candidates.includes(header));\nconst skuIdx = pickIndex(['sku','sellersku','merchantsku']);\nconst salesIdx = pickIndex(['itemprice','productsales','itempriceperunit']);\nconst qtyIdx = pickIndex(['quantity','quantitypurchased','unitsordered']);\nconst statusIdx = pickIndex(['orderstatus','status']);\nif (skuIdx === -1 || salesIdx === -1 || qtyIdx === -1) {\n  throw new Error('Could not locate sku, sales, and quantity columns in orders report');\n}\nconst skipStatuses = new Set(['CANCELLED','PENDING']);\nconst bySku = {};\nfor (let i = 1; i < lines.length; i++) {\n  const cols = parseDelimitedLine(lines[i], delimiter);\n  const sku = String(cols[skuIdx] || '').trim();\n  if (!sku) continue;\n  const status = statusIdx === -1 ? '' : String(cols[statusIdx] || '').trim().toUpperCase();\n  if (skipStatuses.has(status)) continue;\n  const sales = toNumber(cols[salesIdx]);\n  const units = toNumber(cols[qtyIdx]);\n  const record = bySku[sku] || { sku, totalSales: 0, totalUnits: 0 };\n  record.totalSales = Number((record.totalSales + sales).toFixed(2));\n  record.totalUnits = Number((record.totalUnits + units).toFixed(2));\n  bySku[sku] = record;\n}\nreturn [{ json: { bySku, skuCount: Object.keys(bySku).length, parseWarning: null } }];"
      },
      "id": "da09dad1-468d-4853-94ab-153fd74fb0e2",
      "name": "SP Parse Returns by SKU3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -136
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "reportText",
        "options": {
          "encoding": "utf8",
          "stripBOM": true
        }
      },
      "id": "c1f95147-888f-4149-9022-6e1b32dfee40",
      "name": "SP Extract Report Text3",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        960,
        -136
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseRetryAfterSeconds(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : 0;\n}\n\nfunction nextBackoffSeconds(previousAttempt, retryAfterSeconds) {\n  const capped = Math.min(300, 60 * (2 ** Math.max(1, previousAttempt + 1)));\n  const jitter = Math.floor(Math.random() * 31);\n  return Math.max(capped + jitter, retryAfterSeconds || 0, 60);\n}\n\nconst input = $input.first().json || {};\nconst previousAttempt = Number(input.pollAttempt || 0);\nconst error = input.error || null;\nconst rawStatus = String(input.processingStatus || '').toUpperCase();\n\nif (error) {\n  const message = String(error.message || input.message || 'Unknown polling error');\n  const httpCode = Number(error.httpCode || input.httpCode || 0);\n  const retryAfterSeconds = parseRetryAfterSeconds(error.retryAfter || error.headers?.['retry-after'] || error.response?.headers?.['retry-after']);\n\n  if (httpCode === 429 || message.toLowerCase().includes('too many requests') || message.toLowerCase().includes('thrott')) {\n    return [{\n      json: {\n        ...input,\n        processingStatus: 'THROTTLED',\n        pollAttempt: previousAttempt + 1,\n        nextWaitSeconds: nextBackoffSeconds(previousAttempt, retryAfterSeconds),\n      },\n    }];\n  }\n\n  throw new Error(message);\n}\n\nif (rawStatus === 'FATAL' || rawStatus === 'CANCELLED') {\n  throw new Error(`SP report ${rawStatus}: ${input.processingEndTime || input.reportId || 'No report details provided'}`);\n}\n\nif (rawStatus === 'DONE') {\n  return [{\n    json: {\n      ...input,\n      processingStatus: 'DONE',\n      pollAttempt: previousAttempt,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    processingStatus: rawStatus || 'IN_PROGRESS',\n    pollAttempt: previousAttempt + 1,\n    nextWaitSeconds: nextBackoffSeconds(previousAttempt, 0),\n  },\n}];"
      },
      "id": "bc5ed644-e59e-421a-ba9a-0653f6699059",
      "name": "SP Normalize Poll Status3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -208
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Set Credentials').item.json[\"✅SPREADSHEET_ID\"] }}/values/{{ encodeURIComponent(($('Set Credentials').item.json[\"✅SHEET_NAME\"] || 'MOBILITY') + '!' + ($('Set Credentials').item.json[\"✅RANGE\"] || 'A:Z')) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Attach Shared Auth Bundle').first().json.auth.google.accessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "07a6a693-fd1f-438c-b42e-826dfae4790f",
      "name": "Webhook Read Google Sheet10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1408,
        152
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $node[\"Set Credentials\"].json[\"✅SPREADSHEET_ID\"] }}/values:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Attach Shared Auth Bundle').first().json.auth.google.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "e40eb877-e01e-4238-817c-122e21dba28b",
      "name": "Webhook Update Google Sheet10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1856,
        152
      ]
    },
    {
      "parameters": {
        "jsCode": "function toNumber(v) {\n  if (v === null || v === undefined) return 0;\n  const n = Number(String(v).replace(/[$,%\\s,]/g, ''));\n  return Number.isFinite(n) ? n : 0;\n}\n\nconst sheet = $('Webhook Read Google Sheet10').first().json || {};\nconst values = sheet.values || [];\nconst reimbursementsObj = $('SP Parse Returns by SKU4').first().json.reimbursementsBySku || {};\nconst sheetName = $('Set Credentials').first().json[\"✅SHEET_NAME\"] || 'MOBILITY';\n\nlet headerRowIdx = -1;\nlet skuCol = -1;\nfor (let i = 0; i < Math.min(values.length, 12); i++) {\n  const row = values[i] || [];\n  const foundSkuCol = row.findIndex((c) => String(c).trim().toUpperCase() === 'SKU');\n  if (foundSkuCol !== -1) {\n    headerRowIdx = i;\n    skuCol = foundSkuCol;\n    break;\n  }\n}\nif (headerRowIdx === -1 || skuCol === -1) {\n  throw new Error('Could not find SKU header column');\n}\n\nconst targetColA1 = 'S';\nconst data = [];\nfor (let i = headerRowIdx + 1; i < values.length; i++) {\n  const row = values[i] || [];\n  const sku = String(row[skuCol] || '').trim();\n  if (!sku || /^SKU$/i.test(sku) || /^IMG$/i.test(sku) || /_TOTALS$/i.test(sku)) continue;\n  const amount = Number((toNumber(reimbursementsObj[sku] || 0) * -1).toFixed(2));\n  data.push({ range: `${sheetName}!${targetColA1}${i + 1}`, values: [[amount]] });\n}\n\nreturn [{ json: { valueInputOption: 'USER_ENTERED', data } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        152
      ],
      "id": "12c24ddc-d0f5-4195-84b7-2cb16ef80a2b",
      "name": "Code in JavaScript10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Attach Shared Auth Bundle').first().json.auth.amazon.spAccessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reportType\": \"GET_FBA_REIMBURSEMENTS_DATA\",\n  \"marketplaceIds\": [\"ATVPDKIKX0DER\"],\n  \"dataStartTime\": \"{{ $('Set Credentials').item.json['✅START_DATE'] }}T00:00:00Z\",\n  \"dataEndTime\": \"{{ $('Set Credentials').item.json['✅END_DATE'] }}T23:59:59Z\"\n}",
        "options": {}
      },
      "id": "a8b308e3-4754-48c4-9f31-1e39610578aa",
      "name": "SP Create Returns Report4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        152
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Number($json.nextWaitSeconds || 60)) }}"
      },
      "id": "fe1ca682-289c-4548-8ee2-549c53f2ee99",
      "name": "SP Wait4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -384,
        152
      ],
      "webhookId": "6cd673f9-0c0a-4ea0-8889-16635e5cd494"
    },
    {
      "parameters": {
        "url": "=https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports/{{ $('SP Create Returns Report4').item.json.reportId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Attach Shared Auth Bundle').first().json.auth.amazon.spAccessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "746d1239-055d-4cad-947b-66a23d10e071",
      "name": "SP Check Report Status4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11fa5373-bef8-477a-a2ee-f1f61005f843",
              "leftValue": "={{ $json.processingStatus }}",
              "rightValue": "DONE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c5489a73-4700-4be9-8bb3-3eeb1c215867",
      "name": "SP If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        152
      ]
    },
    {
      "parameters": {
        "url": "=https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/documents/{{ $('SP Check Report Status4').item.json.reportDocumentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Attach Shared Auth Bundle').first().json.auth.amazon.spAccessToken }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "f0bdca25-72ae-4a99-8a98-4c422d70ed40",
      "name": "SP Get Report Document4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        152
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "f3d3ab86-8e21-4dca-97da-62cb0e589487",
      "name": "SP Download Report File4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        152
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseDelimitedLine(line, delimiter) {\n  const out = [];\n  let current = '';\n  let inQuotes = false;\n  for (let i = 0; i < line.length; i++) {\n    const ch = line[i];\n    if (ch === '\"') {\n      if (inQuotes && line[i + 1] === '\"') {\n        current += '\"';\n        i++;\n      } else {\n        inQuotes = !inQuotes;\n      }\n      continue;\n    }\n    if (ch === delimiter && !inQuotes) {\n      out.push(current);\n      current = '';\n      continue;\n    }\n    current += ch;\n  }\n  out.push(current);\n  return out.map((value) => String(value || '').trim());\n}\n\nfunction toNumber(input) {\n  if (input === null || input === undefined || input === '') return 0;\n  const n = Number(String(input).replace(/[\\s,$]/g, ''));\n  return Number.isFinite(n) ? n : 0;\n}\n\nlet text = String($json.reportText || '').trim();\nif (!text) {\n  return [{ json: { reimbursementsBySku: {}, skuCount: 0, parseWarning: 'SP Extract Report Text returned empty text' } }];\n}\nif (!text.includes('\\n') && text.includes('\\\\n')) {\n  text = text.replace(/\\\\r\\\\n/g, '\\n').replace(/\\\\n/g, '\\n').replace(/\\\\t/g, '\\t');\n}\nconst lines = text.split(/\\r?\\n/).filter((line) => line.trim());\nif (lines.length < 2) {\n  return [{ json: { reimbursementsBySku: {}, skuCount: 0, parseWarning: 'No data rows in reimbursements report' } }];\n}\n\nconst delimiter = lines[0].includes('\\t') ? '\\t' : ',';\nconst headers = parseDelimitedLine(lines[0], delimiter);\nconst normalized = headers.map((header) => header.toLowerCase().replace(/[^a-z0-9]/g, ''));\nconst pickIndex = (candidates) => normalized.findIndex((header) => candidates.includes(header));\n\nconst skuIdx = pickIndex(['sku','merchantsku','sellersku']);\nconst amountIdx = pickIndex(['amounttotal','amountperunit']);\nif (skuIdx === -1 || amountIdx === -1) {\n  throw new Error('Could not locate sku and amount-total columns. Headers found: ' + headers.join(', '));\n}\n\nconst reimbursementsBySku = {};\nfor (let i = 1; i < lines.length; i++) {\n  const cols = parseDelimitedLine(lines[i], delimiter);\n  const sku = String(cols[skuIdx] || '').trim();\n  if (!sku) continue;\n  const amount = toNumber(cols[amountIdx]);\n  reimbursementsBySku[sku] = Number(((reimbursementsBySku[sku] || 0) + amount).toFixed(2));\n}\n\nreturn [{\n  json: {\n    reimbursementsBySku,\n    skuCount: Object.keys(reimbursementsBySku).length,\n    sampleRows: lines.slice(0, 5),\n    parseWarning: Object.keys(reimbursementsBySku).length ? null : 'No reimbursement rows found',\n  },\n}];"
      },
      "id": "0b87895f-8d00-4982-8863-eb7917e56723",
      "name": "SP Parse Returns by SKU4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        152
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "reportText",
        "options": {
          "encoding": "utf8",
          "stripBOM": true
        }
      },
      "id": "f65f448d-7b07-4c6a-bd65-d0973befbda6",
      "name": "SP Extract Report Text4",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        960,
        152
      ]
    },
    {
      "parameters": {
        "jsCode": "function parseRetryAfterSeconds(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed > 0 ? parsed : 0;\n}\n\nfunction nextBackoffSeconds(previousAttempt, retryAfterSeconds) {\n  const capped = Math.min(300, 60 * (2 ** Math.max(1, previousAttempt + 1)));\n  const jitter = Math.floor(Math.random() * 31);\n  return Math.max(capped + jitter, retryAfterSeconds || 0, 60);\n}\n\nconst input = $input.first().json || {};\nconst previousAttempt = Number(input.pollAttempt || 0);\nconst error = input.error || null;\nconst rawStatus = String(input.processingStatus || '').toUpperCase();\n\nif (error) {\n  const message = String(error.message || input.message || 'Unknown polling error');\n  const httpCode = Number(error.httpCode || input.httpCode || 0);\n  const retryAfterSeconds = parseRetryAfterSeconds(error.retryAfter || error.headers?.['retry-after'] || error.response?.headers?.['retry-after']);\n\n  if (httpCode === 429 || message.toLowerCase().includes('too many requests') || message.toLowerCase().includes('thrott')) {\n    return [{\n      json: {\n        ...input,\n        processingStatus: 'THROTTLED',\n        pollAttempt: previousAttempt + 1,\n        nextWaitSeconds: nextBackoffSeconds(previousAttempt, retryAfterSeconds),\n      },\n    }];\n  }\n\n  throw new Error(message);\n}\n\nif (rawStatus === 'FATAL' || rawStatus === 'CANCELLED') {\n  throw new Error(`SP report ${rawStatus}: ${input.processingEndTime || input.reportId || 'No report details provided'}`);\n}\n\nif (rawStatus === 'DONE') {\n  return [{\n    json: {\n      ...input,\n      processingStatus: 'DONE',\n      pollAttempt: previousAttempt,\n    },\n  }];\n}\n\nreturn [{\n  json: {\n    ...input,\n    processingStatus: rawStatus || 'IN_PROGRESS',\n    pollAttempt: previousAttempt + 1,\n    nextWaitSeconds: nextBackoffSeconds(previousAttempt, 0),\n  },\n}];"
      },
      "id": "f3749804-bfe3-4702-ba0f-d10a2b230409",
      "name": "SP Normalize Poll Status4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst remainingRegistry = Array.isArray(input.remainingRegistry) ? input.remainingRegistry : [];\nif (remainingRegistry.length === 0) {\n  return [{ json: { ...input, currentMetric: null, currentSelected: 'false', currentStartedAt: null, done: true } }];\n}\nconst [currentMetric, ...rest] = remainingRegistry;\nconst selected = input.runAll || (input.selectedMetrics || []).includes(currentMetric.metricKey);\nreturn [{\n  json: {\n    ...input,\n    remainingRegistry: rest,\n    currentMetric,\n    currentSelected: selected ? 'true' : 'false',\n    currentStartedAt: selected ? new Date().toISOString() : null,\n    done: false,\n  },\n}];"
      },
      "id": "7fb6cf8a-0fdc-4d5c-9001-a99bbc33828d",
      "name": "Prepare Next Metric",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.done }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "id": "condition-has-current-metric"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "519c6c61-acfb-4105-8edc-6f2f23ef0e01",
      "name": "If Has Current Metric",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1280,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentSelected }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-run-current-metric"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bc59c1d5-858a-4ffc-8669-2e0fc7610e9e",
      "name": "If Run Current Metric",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1056,
        128
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 5,
        "output": "={{ ({ refunds: 0, sales_organic: 1, units_organic: 2, reversal_reimbursement: 3 })[$json.currentMetric.metricKey] ?? 4 }}"
      },
      "id": "823e7be9-a464-45d5-81a2-d579ee636437",
      "name": "Route Metric",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -832,
        -40
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.currentMetric;\nreturn [{\n  json: {\n    ...input,\n    summary: [\n      ...(input.summary || []),\n      {\n        metricKey: current.metricKey,\n        displayName: current.displayName,\n        selected: false,\n        status: 'skipped',\n        errorMessage: null,\n        startedAt: null,\n        finishedAt: new Date().toISOString(),\n      },\n    ],\n  },\n}];"
      },
      "id": "616063dc-3e7f-4d0b-a805-34dbe8399ed2",
      "name": "Record Metric Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('If Run Current Metric').item.json;\nconst current = previous.currentMetric;\nconst payload = $input.first().json || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn [{\n  json: {\n    ...previous,\n    summary: [\n      ...(previous.summary || []),\n      {\n        metricKey: current.metricKey,\n        displayName: current.displayName,\n        selected: true,\n        status: error ? 'failed' : 'success',\n        errorMessage: error ? String(error.message || payload.message || 'Metric execution failed') : null,\n        startedAt: previous.currentStartedAt || null,\n        finishedAt: new Date().toISOString(),\n      },\n    ],\n  },\n}];"
      },
      "id": "28bc8d38-4aab-4acc-a2d6-90c80a823fef",
      "name": "Record Metric Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        8
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "sp-execute-subworkflow-trigger",
      "name": "Execute Sub-workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3744,
        752
      ]
    }
  ],
  "connections": {
    "Mint Amazon Access Token": {
      "main": [
        [
          {
            "node": "Refresh Amazon Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Amazon Token": {
      "main": [
        [
          {
            "node": "Build JWT Assertion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mint Google Access Token": {
      "main": [
        [
          {
            "node": "Refresh Google Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Shared Auth Bundle": {
      "main": [
        [
          {
            "node": "Build Workflow Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Mint Amazon Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build JWT Assertion": {
      "main": [
        [
          {
            "node": "Mint Google Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Google Token": {
      "main": [
        [
          {
            "node": "Mint SP Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mint SP Access Token": {
      "main": [
        [
          {
            "node": "Attach Shared Auth Bundle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Create Returns Report": {
      "main": [
        [
          {
            "node": "SP Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Wait": {
      "main": [
        [
          {
            "node": "SP Check Report Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Check Report Status": {
      "main": [
        [
          {
            "node": "SP Normalize Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP If": {
      "main": [
        [
          {
            "node": "SP Get Report Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Get Report Document": {
      "main": [
        [
          {
            "node": "SP Download Report File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Download Report File": {
      "main": [
        [
          {
            "node": "SP Extract Report Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Parse Returns by SKU": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Extract Report Text": {
      "main": [
        [
          {
            "node": "SP Parse Returns by SKU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Normalize Poll Status": {
      "main": [
        [
          {
            "node": "SP If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet3": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet8": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Create Returns Report2": {
      "main": [
        [
          {
            "node": "SP Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Wait2": {
      "main": [
        [
          {
            "node": "SP Check Report Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Check Report Status2": {
      "main": [
        [
          {
            "node": "SP Normalize Poll Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP If2": {
      "main": [
        [
          {
            "node": "SP Get Report Document2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Get Report Document2": {
      "main": [
        [
          {
            "node": "SP Download Report File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Download Report File2": {
      "main": [
        [
          {
            "node": "SP Extract Report Text2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Parse Returns by SKU2": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Extract Report Text2": {
      "main": [
        [
          {
            "node": "SP Parse Returns by SKU2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Normalize Poll Status2": {
      "main": [
        [
          {
            "node": "SP If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet9": {
      "main": [
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript9": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Create Returns Report3": {
      "main": [
        [
          {
            "node": "SP Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Wait3": {
      "main": [
        [
          {
            "node": "SP Check Report Status3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Check Report Status3": {
      "main": [
        [
          {
            "node": "SP Normalize Poll Status3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP If3": {
      "main": [
        [
          {
            "node": "SP Get Report Document3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Get Report Document3": {
      "main": [
        [
          {
            "node": "SP Download Report File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Download Report File3": {
      "main": [
        [
          {
            "node": "SP Extract Report Text3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Parse Returns by SKU3": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Extract Report Text3": {
      "main": [
        [
          {
            "node": "SP Parse Returns by SKU3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Normalize Poll Status3": {
      "main": [
        [
          {
            "node": "SP If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Read Google Sheet10": {
      "main": [
        [
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "Webhook Update Google Sheet10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Create Returns Report4": {
      "main": [
        [
          {
            "node": "SP Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Wait4": {
      "main": [
        [
          {
            "node": "SP Check Report Status4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Check Report Status4": {
      "main": [
        [
          {
            "node": "SP Normalize Poll Status4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP If4": {
      "main": [
        [
          {
            "node": "SP Get Report Document4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Get Report Document4": {
      "main": [
        [
          {
            "node": "SP Download Report File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Download Report File4": {
      "main": [
        [
          {
            "node": "SP Extract Report Text4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Parse Returns by SKU4": {
      "main": [
        [
          {
            "node": "Webhook Read Google Sheet10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Extract Report Text4": {
      "main": [
        [
          {
            "node": "SP Parse Returns by SKU4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP Normalize Poll Status4": {
      "main": [
        [
          {
            "node": "SP If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Workflow Registry": {
      "main": [
        [
          {
            "node": "Prepare Next Metric",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Next Metric": {
      "main": [
        [
          {
            "node": "If Has Current Metric",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Current Metric": {
      "main": [
        [
          {
            "node": "If Run Current Metric",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Current Metric": {
      "main": [
        [
          {
            "node": "Route Metric",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Metric Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Metric": {
      "main": [
        [
          {
            "node": "SP Create Returns Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP Create Returns Report2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP Create Returns Report3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SP Create Returns Report4",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Record Metric Skipped": {
      "main": [
        [
          {
            "node": "Prepare Next Metric",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Metric Result": {
      "main": [
        [
          {
            "node": "Prepare Next Metric",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update Google Sheet3": {
      "main": [
        [
          {
            "node": "Record Metric Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update Google Sheet8": {
      "main": [
        [
          {
            "node": "Record Metric Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update Google Sheet9": {
      "main": [
        [
          {
            "node": "Record Metric Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update Google Sheet10": {
      "main": [
        [
          {
            "node": "Record Metric Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Sub-workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {},
  "pinData": {},
  "versionId": "ba912379-db52-45e2-8bf9-64ec43f95928",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-16T22:18:49.016Z",
      "createdAt": "2026-04-16T22:18:49.016Z",
      "role": "workflow:owner",
      "workflowId": "lI6VdPxTKRYvgIUn",
      "projectId": "A9JoI2uB9gEuVNGo",
      "project": {
        "updatedAt": "2026-04-12T23:15:35.657Z",
        "createdAt": "2026-04-12T23:15:20.662Z",
        "id": "A9JoI2uB9gEuVNGo",
        "name": "Jericho jericho@blazintech.net <jericho@blazintech.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7c4876f-874b-42f0-baa1-c60e258e7170"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}