workflows/Unified Amazon Metrics Orchestrator (Apr 16 at 05_30_45).json
{
  "updatedAt": "2026-04-21T04:40:03.510Z",
  "createdAt": "2026-04-16T21:24:50.262Z",
  "id": "Hh8rWhCpyt6n8QHT",
  "name": "Unified Amazon Metrics Orchestrator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "2d59206d-ecba-4b5b-bcf0-b3b4904b5e2f",
      "name": "When clicking \u2018Execute workflow\u2019",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -5104,
        144
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "\u2705START_DATE"
            },
            {
              "name": "\u2705END_DATE"
            },
            {
              "name": "INCLUDE_LIST"
            },
            {
              "name": "MAX_RETRIES"
            },
            {
              "name": "ENABLE_RETRY_WORKFLOW"
            },
            {
              "name": "\u2705AMAZON_ADS_CLIENT_ID"
            },
            {
              "name": "\u2705AMAZON_ADS_CLIENT_SECRET"
            },
            {
              "name": "\u2705AMAZON_ADS_REFRESH_TOKEN"
            },
            {
              "name": "\u2705AMAZON_ADS_PROFILE_ID"
            },
            {
              "name": "\u2705AMAZON_SP_CLIENT_ID"
            },
            {
              "name": "\u2705AMAZON_SP_CLIENT_SECRET: "
            },
            {
              "name": "\u2705AMAZON_SP_REFRESH_TOKEN"
            },
            {
              "name": "\u2705GOOGLE_SERVICE_ACCOUNT_EMAIL"
            },
            {
              "name": "\u2705GOOGLE_PRIVATE_KEY"
            },
            {
              "name": "\u2705GOOGLE_SCOPE"
            },
            {
              "name": "\u2705SPREADSHEET_URL_OR_ID"
            },
            {
              "name": "\u2705SPREADSHEET_ID"
            },
            {
              "name": "\u2705SHEET_NAME"
            },
            {
              "name": "\u2705RANGE"
            },
            {
              "name": "\u2705COLUMNS"
            },
            {
              "name": "\u2705AMAZON_MARKETPLACE_ID"
            }
          ]
        }
      },
      "id": "12e60e8a-8c75-4034-aa73-d361932b2fc6",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -5104,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const registry = [\n  { metricKey: 'bsr', displayName: 'Get BSR', workflowId: 'zC5vJ22Tb7i4dli8', dateMode: 'snapshot-metadata' },\n  { metricKey: 'ads_spend', displayName: 'Get Ad Spend', workflowId: 'nWQo0Pz3qHzQO0My', dateMode: 'range-ready' },\n  { metricKey: 'ctr', displayName: 'Get CTR', workflowId: 'wJaKKBJzcgUUoahu', dateMode: 'range-ready' },\n  { metricKey: 'refunds', displayName: 'Get Refund', workflowId: 'mV21sXm6RdaCfPet', dateMode: 'range-ready' },\n  { metricKey: 'sales_ppc', displayName: 'Get Sales PPC', workflowId: 'PzN4mNPLpYAS85WV', dateMode: 'range-ready' },\n  { metricKey: 'clicks', displayName: 'Get Clicks', workflowId: 'iVZAWiAvfBrQVOpi', dateMode: 'range-ready' },\n  { metricKey: 'units_ppc', displayName: 'Get Units PPC', workflowId: '0D4iLq9dHrac09vy', dateMode: 'range-ready' },\n  { metricKey: 'fba_fbm_stock', displayName: 'Get FBA/FBM Stock', workflowId: 'T6pc0F0RULowHQu0', dateMode: 'snapshot-metadata' },\n  { metricKey: 'sales_organic', displayName: 'Get Sales Organic', workflowId: 'KTNa277JLZ8hDZ89', dateMode: 'range-ready' },\n  { metricKey: 'units_organic', displayName: 'Get Units Organic', workflowId: 'siWvymzWJu7Ns1VG', dateMode: 'range-ready' },\n  { metricKey: 'reversal_reimbursement', displayName: 'Get Reversal Reimbursement', workflowId: 'fsJgfd11tF3nPprY', dateMode: 'range-ready' },\n  { metricKey: 'fba_per_unit_fulfillment_fee', displayName: 'Get FBAPerUnitFulfillmentFee', workflowId: 'TLMr85JcV4bwDySu', dateMode: 'snapshot-metadata' },\n];\nconst raw = String($json.INCLUDE_LIST || '').trim();\nconst selectedMetrics = raw ? [...new Set(raw.split(',').map((value) => value.trim()).filter(Boolean))] : [];\nreturn [{\n  json: {\n    '\u2705START_DATE': $json['\u2705START_DATE'],\n    '\u2705END_DATE': $json['\u2705END_DATE'],\n    '\u2705SPREADSHEET_URL_OR_ID': $json['\u2705SPREADSHEET_URL_OR_ID'],\n    '\u2705SPREADSHEET_ID': $json['\u2705SPREADSHEET_ID'],\n    '\u2705SHEET_NAME': $json['\u2705SHEET_NAME'],\n    '\u2705RANGE': $json['\u2705RANGE'],\n    '\u2705COLUMNS': $json['\u2705COLUMNS'],\n    '\u2705AMAZON_MARKETPLACE_ID': $json['\u2705AMAZON_MARKETPLACE_ID'],\n    '\u2705AMAZON_ADS_CLIENT_ID': $json['\u2705AMAZON_ADS_CLIENT_ID'],\n    '\u2705AMAZON_ADS_CLIENT_SECRET': $json['\u2705AMAZON_ADS_CLIENT_SECRET'],\n    '\u2705AMAZON_ADS_REFRESH_TOKEN': $json['\u2705AMAZON_ADS_REFRESH_TOKEN'],\n    '\u2705AMAZON_ADS_PROFILE_ID': $json['\u2705AMAZON_ADS_PROFILE_ID'],\n    '\u2705AMAZON_SP_CLIENT_ID': $json['\u2705AMAZON_SP_CLIENT_ID'],\n    '\u2705AMAZON_SP_CLIENT_SECRET: ': $json['\u2705AMAZON_SP_CLIENT_SECRET: '],\n    '\u2705AMAZON_SP_REFRESH_TOKEN': $json['\u2705AMAZON_SP_REFRESH_TOKEN'],\n    '\u2705GOOGLE_SERVICE_ACCOUNT_EMAIL': $json['\u2705GOOGLE_SERVICE_ACCOUNT_EMAIL'],\n    '\u2705GOOGLE_PRIVATE_KEY': $json['\u2705GOOGLE_PRIVATE_KEY'],\n    '\u2705GOOGLE_SCOPE': $json['\u2705GOOGLE_SCOPE'],\n    INCLUDE_LIST: $json.INCLUDE_LIST || '',\n    MAX_RETRIES: $json.MAX_RETRIES || '3',\n    ENABLE_RETRY_WORKFLOW: $json.ENABLE_RETRY_WORKFLOW ?? 'true',\n    selectedMetrics,\n    runAll: selectedMetrics.length === 0,\n    auth: $json.auth,\n    summary: [],\n    registry,\n  },\n}];"
      },
      "id": "2f5594d3-b46e-4d90-be5a-1ed5c7bf3e1b",
      "name": "Build Workflow Registry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3088,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.registry[0];\nconst selected = input.runAll || input.selectedMetrics.includes(current.metricKey);\nreturn [{ json: { ...input, currentMetric: current, currentSelected: selected ? 'true' : 'false', currentStartedAt: new Date().toISOString() } }];"
      },
      "id": "adbd15e9-a17b-4194-bb2c-f4c36200c15e",
      "name": "Prepare BSR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2880,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentSelected }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-1776219195530-w673vpowl"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "004edbdb-5541-46f5-8d5d-e0e7e5acbdb4",
      "name": "If Run BSR",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2672,
        -560
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zC5vJ22Tb7i4dli8",
          "mode": "list",
          "cachedResultUrl": "/workflow/zC5vJ22Tb7i4dli8",
          "cachedResultName": "Get BSR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "\u2705START_DATE": "={{ $json[\"\u2705START_DATE\"] }}",
            "\u2705END_DATE": "={{ $json[\"\u2705END_DATE\"] }}",
            "\u2705SPREADSHEET_URL_OR_ID": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "\u2705SPREADSHEET_ID": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
            "\u2705SHEET_NAME": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
            "\u2705RANGE": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
            "\u2705AMAZON_MARKETPLACE_ID": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "AMAZON_ACCESS_TOKEN": "={{ $json.auth?.amazon?.spAccessToken || \"\" }}",
            "GOOGLE_ACCESS_TOKEN": "={{ $json.auth?.google?.accessToken || \"\" }}",
            "METRIC_KEY": "={{ $json.currentMetric?.metricKey || \"\" }}",
            "WORKFLOW_NAME": "={{ $json.currentMetric?.displayName || \"\" }}",
            "ORCHESTRATOR_RUN_ID": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "a7e57d68-08c8-4fc8-a7f5-6d20696db064",
      "name": "Execute Get BSR",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2448,
        -656
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.currentMetric;\nreturn [{ json: { ...input, summary: [...(input.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: false, status: 'skipped', errorMessage: null, startedAt: null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "481074ac-3bdd-48cd-b1a3-f749a3be7e68",
      "name": "Record BSR Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        -464
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('Prepare BSR').first().json;\nconst current = previous.currentMetric;\nconst payload = $input.first().json || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn [{ json: { ...previous, summary: [...(previous.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: true, status: error ? 'failed' : 'success', errorMessage: error ? String(error.message || payload.message || 'Child workflow failed') : null, startedAt: previous.currentStartedAt || null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "13f0ee66-4af2-47ad-aa00-cdf3912b8df5",
      "name": "Record BSR Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        -656
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.registry[1];\nconst selected = input.runAll || input.selectedMetrics.includes(current.metricKey);\nreturn [{ json: { ...input, currentMetric: current, currentSelected: selected ? 'true' : 'false', currentStartedAt: new Date().toISOString() } }];"
      },
      "id": "e1156ddf-5302-4100-b012-25f3cf440942",
      "name": "Prepare Ads Spend",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        -560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentSelected }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-1776219195530-1mlclze7l"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e7b3aac2-6435-4a2c-91be-08f3e54d1b2a",
      "name": "If Run Ads Spend",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2656,
        -144
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nWQo0Pz3qHzQO0My",
          "mode": "list",
          "cachedResultUrl": "/workflow/nWQo0Pz3qHzQO0My",
          "cachedResultName": "Get Ad Spend"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "\u2705START_DATE": "={{ $json[\"\u2705START_DATE\"] }}",
            "\u2705END_DATE": "={{ $json[\"\u2705END_DATE\"] }}",
            "\u2705SPREADSHEET_URL_OR_ID": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "\u2705SPREADSHEET_ID": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
            "\u2705SHEET_NAME": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
            "\u2705RANGE": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
            "\u2705COLUMNS": "={{ $json[\"\u2705COLUMNS\"] || \"\" }}",
            "\u2705AMAZON_MARKETPLACE_ID": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "AMAZON_ACCESS_TOKEN": "={{ $json.auth?.amazon?.accessToken || \"\" }}",
            "AMAZON_ADS_CLIENT_ID": "={{ $json.auth?.amazon?.clientId || \"\" }}",
            "AMAZON_ADS_PROFILE_ID": "={{ $json.auth?.amazon?.profileId || \"\" }}",
            "GOOGLE_ACCESS_TOKEN": "={{ $json.auth?.google?.accessToken || \"\" }}",
            "METRIC_KEY": "={{ $json.currentMetric?.metricKey || \"\" }}",
            "WORKFLOW_NAME": "={{ $json.currentMetric?.displayName || \"\" }}",
            "ORCHESTRATOR_RUN_ID": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "b1a2be39-985d-464a-b9d9-101929e8ff42",
      "name": "Execute Get Ad Spend",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2432,
        -240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.currentMetric;\nreturn [{ json: { ...input, summary: [...(input.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: false, status: 'skipped', errorMessage: null, startedAt: null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "6947f166-ef6f-46e2-9c57-93a9d17f4301",
      "name": "Record Ads Spend Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('Prepare Ads Spend').first().json;\nconst current = previous.currentMetric;\nconst payload = $input.first().json || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn [{ json: { ...previous, summary: [...(previous.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: true, status: error ? 'failed' : 'success', errorMessage: error ? String(error.message || payload.message || 'Child workflow failed') : null, startedAt: previous.currentStartedAt || null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "0511f81c-09cc-4106-89c0-177faca875c7",
      "name": "Record Ads Spend Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        -240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.registry[2];\nconst selected = input.runAll || input.selectedMetrics.includes(current.metricKey);\nreturn [{ json: { ...input, currentMetric: current, currentSelected: selected ? 'true' : 'false', currentStartedAt: new Date().toISOString() } }];"
      },
      "id": "fa3f6afd-5e5f-419d-8d5d-ba373563a754",
      "name": "Prepare CTR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        -144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentSelected }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-1776219195530-769ga5ajo"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9b88ecd5-cd90-4966-ad47-81a9eb6b23c3",
      "name": "If Run CTR",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2656,
        304
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wJaKKBJzcgUUoahu",
          "mode": "list",
          "cachedResultUrl": "/workflow/wJaKKBJzcgUUoahu",
          "cachedResultName": "Get CTR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "\u2705START_DATE": "={{ $json[\"\u2705START_DATE\"] }}",
            "\u2705END_DATE": "={{ $json[\"\u2705END_DATE\"] }}",
            "\u2705SPREADSHEET_URL_OR_ID": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "\u2705SPREADSHEET_ID": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
            "\u2705SHEET_NAME": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
            "\u2705RANGE": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
            "\u2705COLUMNS": "={{ $json[\"\u2705COLUMNS\"] || \"\" }}",
            "\u2705AMAZON_MARKETPLACE_ID": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "AMAZON_ACCESS_TOKEN": "={{ $json.auth?.amazon?.accessToken || \"\" }}",
            "AMAZON_ADS_CLIENT_ID": "={{ $json.auth?.amazon?.clientId || \"\" }}",
            "AMAZON_ADS_PROFILE_ID": "={{ $json.auth?.amazon?.profileId || \"\" }}",
            "GOOGLE_ACCESS_TOKEN": "={{ $json.auth?.google?.accessToken || \"\" }}",
            "METRIC_KEY": "={{ $json.currentMetric?.metricKey || \"\" }}",
            "WORKFLOW_NAME": "={{ $json.currentMetric?.displayName || \"\" }}",
            "ORCHESTRATOR_RUN_ID": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "840a8ef9-3db4-4e32-91eb-416da69a11d0",
      "name": "Execute Get CTR",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2432,
        208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.currentMetric;\nreturn [{ json: { ...input, summary: [...(input.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: false, status: 'skipped', errorMessage: null, startedAt: null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "28c2233a-27e6-4425-950a-7c48e54af09f",
      "name": "Record CTR Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('Prepare CTR').first().json;\nconst current = previous.currentMetric;\nconst payload = $input.first().json || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn [{ json: { ...previous, summary: [...(previous.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: true, status: error ? 'failed' : 'success', errorMessage: error ? String(error.message || payload.message || 'Child workflow failed') : null, startedAt: previous.currentStartedAt || null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "5c2d710e-04e5-4215-bfdc-0e004fc3a430",
      "name": "Record CTR Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.registry[3];\nconst selected = input.runAll || input.selectedMetrics.includes(current.metricKey);\nreturn [{ json: { ...input, currentMetric: current, currentSelected: selected ? 'true' : 'false', currentStartedAt: new Date().toISOString() } }];"
      },
      "id": "255f4c8a-cfee-46d1-aa50-c2261deb70b2",
      "name": "Prepare Refunds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentSelected }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-1776219262311-sqtd06d15"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c73599f5-3b99-4c88-8af2-df82a54ff515",
      "name": "If Run Refunds",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2672,
        752
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mV21sXm6RdaCfPet",
          "mode": "list",
          "cachedResultUrl": "/workflow/mV21sXm6RdaCfPet",
          "cachedResultName": "Get Refund"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "\u2705START_DATE": "={{ $json[\"\u2705START_DATE\"] }}",
            "\u2705END_DATE": "={{ $json[\"\u2705END_DATE\"] }}",
            "\u2705SPREADSHEET_URL_OR_ID": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "\u2705SPREADSHEET_ID": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
            "\u2705SHEET_NAME": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
            "\u2705RANGE": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
            "\u2705AMAZON_MARKETPLACE_ID": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "AMAZON_ACCESS_TOKEN": "={{ $json.auth?.amazon?.spAccessToken || \"\" }}",
            "GOOGLE_ACCESS_TOKEN": "={{ $json.auth?.google?.accessToken || \"\" }}",
            "METRIC_KEY": "={{ $json.currentMetric?.metricKey || \"\" }}",
            "WORKFLOW_NAME": "={{ $json.currentMetric?.displayName || \"\" }}",
            "ORCHESTRATOR_RUN_ID": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "22e808c1-228c-4197-9730-ded0fe963101",
      "name": "Execute Get Refund",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2448,
        656
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.currentMetric;\nreturn [{ json: { ...input, summary: [...(input.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: false, status: 'skipped', errorMessage: null, startedAt: null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "bc15af7e-6514-43d6-823c-939b0212e495",
      "name": "Record Refunds Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('Prepare Refunds').first().json;\nconst current = previous.currentMetric;\nconst payload = $input.first().json || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn [{ json: { ...previous, summary: [...(previous.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: true, status: error ? 'failed' : 'success', errorMessage: error ? String(error.message || payload.message || 'Child workflow failed') : null, startedAt: previous.currentStartedAt || null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "8a0cab1f-6608-4c82-9f5d-f132fc7305b7",
      "name": "Record Refunds Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.registry[4];\nconst selected = input.runAll || input.selectedMetrics.includes(current.metricKey);\nreturn [{ json: { ...input, currentMetric: current, currentSelected: selected ? 'true' : 'false', currentStartedAt: new Date().toISOString() } }];"
      },
      "id": "1c2feba6-1a9f-4b79-88a1-6f03ddb15634",
      "name": "Prepare Sales PPC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        752
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentSelected }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-1776219262312-emr06zy39"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b33c4fe5-5dd7-4ce3-b193-1e6192b11862",
      "name": "If Run Sales PPC",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1568,
        -576
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PzN4mNPLpYAS85WV",
          "mode": "list",
          "cachedResultUrl": "/workflow/PzN4mNPLpYAS85WV",
          "cachedResultName": "Get Sales PPC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "\u2705START_DATE": "={{ $json[\"\u2705START_DATE\"] }}",
            "\u2705END_DATE": "={{ $json[\"\u2705END_DATE\"] }}",
            "\u2705SPREADSHEET_URL_OR_ID": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "\u2705SPREADSHEET_ID": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
            "\u2705SHEET_NAME": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
            "\u2705RANGE": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
            "\u2705COLUMNS": "={{ $json[\"\u2705COLUMNS\"] || \"\" }}",
            "\u2705AMAZON_MARKETPLACE_ID": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "AMAZON_ACCESS_TOKEN": "={{ $json.auth?.amazon?.accessToken || \"\" }}",
            "AMAZON_ADS_CLIENT_ID": "={{ $json.auth?.amazon?.clientId || \"\" }}",
            "AMAZON_ADS_PROFILE_ID": "={{ $json.auth?.amazon?.profileId || \"\" }}",
            "GOOGLE_ACCESS_TOKEN": "={{ $json.auth?.google?.accessToken || \"\" }}",
            "METRIC_KEY": "={{ $json.currentMetric?.metricKey || \"\" }}",
            "WORKFLOW_NAME": "={{ $json.currentMetric?.displayName || \"\" }}",
            "ORCHESTRATOR_RUN_ID": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "b9a8e73a-c383-47d8-9676-3bdcdb8d090b",
      "name": "Execute Get Sales PPC",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1344,
        -672
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.currentMetric;\nreturn [{ json: { ...input, summary: [...(input.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: false, status: 'skipped', errorMessage: null, startedAt: null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "386a47af-a958-440b-974c-4b9e3ae1bed4",
      "name": "Record Sales PPC Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -480
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('Prepare Sales PPC').first().json;\nconst current = previous.currentMetric;\nconst payload = $input.first().json || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn [{ json: { ...previous, summary: [...(previous.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: true, status: error ? 'failed' : 'success', errorMessage: error ? String(error.message || payload.message || 'Child workflow failed') : null, startedAt: previous.currentStartedAt || null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "fcd03657-0efa-4c11-b53e-e346e93f6b77",
      "name": "Record Sales PPC Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -672
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.registry[5];\nconst selected = input.runAll || input.selectedMetrics.includes(current.metricKey);\nreturn [{ json: { ...input, currentMetric: current, currentSelected: selected ? 'true' : 'false', currentStartedAt: new Date().toISOString() } }];"
      },
      "id": "ec77fc5f-545b-42c5-9fcd-3cf649082ab1",
      "name": "Prepare Clicks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        -576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentSelected }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-1776219262312-a6mfacnbn"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "94e93847-a1fb-423a-8a44-4688bacd0e38",
      "name": "If Run Clicks",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1568,
        -112
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iVZAWiAvfBrQVOpi",
          "mode": "list",
          "cachedResultUrl": "/workflow/iVZAWiAvfBrQVOpi",
          "cachedResultName": "Get Clicks"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "\u2705START_DATE": "={{ $json[\"\u2705START_DATE\"] }}",
            "\u2705END_DATE": "={{ $json[\"\u2705END_DATE\"] }}",
            "\u2705SPREADSHEET_URL_OR_ID": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "\u2705SPREADSHEET_ID": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
            "\u2705SHEET_NAME": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
            "\u2705RANGE": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
            "\u2705COLUMNS": "={{ $json[\"\u2705COLUMNS\"] || \"\" }}",
            "\u2705AMAZON_MARKETPLACE_ID": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "AMAZON_ACCESS_TOKEN": "={{ $json.auth?.amazon?.accessToken || \"\" }}",
            "AMAZON_ADS_CLIENT_ID": "={{ $json.auth?.amazon?.clientId || \"\" }}",
            "AMAZON_ADS_PROFILE_ID": "={{ $json.auth?.amazon?.profileId || \"\" }}",
            "GOOGLE_ACCESS_TOKEN": "={{ $json.auth?.google?.accessToken || \"\" }}",
            "METRIC_KEY": "={{ $json.currentMetric?.metricKey || \"\" }}",
            "WORKFLOW_NAME": "={{ $json.currentMetric?.displayName || \"\" }}",
            "ORCHESTRATOR_RUN_ID": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "98c6dfbc-a337-4144-8e56-b8c14072ff19",
      "name": "Execute Get Clicks",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1344,
        -208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.currentMetric;\nreturn [{ json: { ...input, summary: [...(input.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: false, status: 'skipped', errorMessage: null, startedAt: null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "b1a37ff4-0bb3-4c5b-a182-74c9492b64b9",
      "name": "Record Clicks Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('Prepare Clicks').first().json;\nconst current = previous.currentMetric;\nconst payload = $input.first().json || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn [{ json: { ...previous, summary: [...(previous.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: true, status: error ? 'failed' : 'success', errorMessage: error ? String(error.message || payload.message || 'Child workflow failed') : null, startedAt: previous.currentStartedAt || null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "f08fdd8c-912f-4f97-a112-aa4e308dcfd1",
      "name": "Record Clicks Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.registry[6];\nconst selected = input.runAll || input.selectedMetrics.includes(current.metricKey);\nreturn [{ json: { ...input, currentMetric: current, currentSelected: selected ? 'true' : 'false', currentStartedAt: new Date().toISOString() } }];"
      },
      "id": "ab2510b3-5728-46a9-8ada-56a03530a9c9",
      "name": "Prepare Units PPC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentSelected }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-1776219262314-hkf5p7d9l"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e068a059-399c-498c-9ded-97c5a4fe3261",
      "name": "If Run Units PPC",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1568,
        288
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0D4iLq9dHrac09vy",
          "mode": "list",
          "cachedResultUrl": "/workflow/0D4iLq9dHrac09vy",
          "cachedResultName": "Get Units PPC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "\u2705START_DATE": "={{ $json[\"\u2705START_DATE\"] }}",
            "\u2705END_DATE": "={{ $json[\"\u2705END_DATE\"] }}",
            "\u2705SPREADSHEET_URL_OR_ID": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "\u2705SPREADSHEET_ID": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
            "\u2705SHEET_NAME": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
            "\u2705RANGE": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
            "\u2705COLUMNS": "={{ $json[\"\u2705COLUMNS\"] || \"\" }}",
            "\u2705AMAZON_MARKETPLACE_ID": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "AMAZON_ACCESS_TOKEN": "={{ $json.auth?.amazon?.accessToken || \"\" }}",
            "AMAZON_ADS_CLIENT_ID": "={{ $json.auth?.amazon?.clientId || \"\" }}",
            "AMAZON_ADS_PROFILE_ID": "={{ $json.auth?.amazon?.profileId || \"\" }}",
            "GOOGLE_ACCESS_TOKEN": "={{ $json.auth?.google?.accessToken || \"\" }}",
            "METRIC_KEY": "={{ $json.currentMetric?.metricKey || \"\" }}",
            "WORKFLOW_NAME": "={{ $json.currentMetric?.displayName || \"\" }}",
            "ORCHESTRATOR_RUN_ID": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "b2f5be39-e64b-4241-80bd-75f5c5269f7f",
      "name": "Execute Get Units PPC",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1344,
        192
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.currentMetric;\nreturn [{ json: { ...input, summary: [...(input.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: false, status: 'skipped', errorMessage: null, startedAt: null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "6e964db8-6472-4dfc-aa62-fdcb430ea93d",
      "name": "Record Units PPC Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('Prepare Units PPC').first().json;\nconst current = previous.currentMetric;\nconst payload = $input.first().json || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn [{ json: { ...previous, summary: [...(previous.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: true, status: error ? 'failed' : 'success', errorMessage: error ? String(error.message || payload.message || 'Child workflow failed') : null, startedAt: previous.currentStartedAt || null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "9e9a12d8-8f57-4f10-b757-df5541c3040c",
      "name": "Record Units PPC Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.registry[7];\nconst selected = input.runAll || input.selectedMetrics.includes(current.metricKey);\nreturn [{ json: { ...input, currentMetric: current, currentSelected: selected ? 'true' : 'false', currentStartedAt: new Date().toISOString() } }];"
      },
      "id": "77a6d34a-7856-48a4-a334-337cfcc4303e",
      "name": "Prepare FBA FBM Stock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentSelected }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-1776219342022-orcafvm1w"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9d099d9d-2bed-4cc1-bcf0-10af46d494a5",
      "name": "If Run FBA FBM Stock",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1552,
        704
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "T6pc0F0RULowHQu0",
          "mode": "list",
          "cachedResultUrl": "/workflow/T6pc0F0RULowHQu0",
          "cachedResultName": "Get FBA/FBM Stock"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "\u2705START_DATE": "={{ $json[\"\u2705START_DATE\"] }}",
            "\u2705END_DATE": "={{ $json[\"\u2705END_DATE\"] }}",
            "\u2705SPREADSHEET_URL_OR_ID": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "\u2705SPREADSHEET_ID": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
            "\u2705SHEET_NAME": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
            "\u2705RANGE": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
            "\u2705AMAZON_MARKETPLACE_ID": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "AMAZON_ACCESS_TOKEN": "={{ $json.auth?.amazon?.spAccessToken || \"\" }}",
            "GOOGLE_ACCESS_TOKEN": "={{ $json.auth?.google?.accessToken || \"\" }}",
            "METRIC_KEY": "={{ $json.currentMetric?.metricKey || \"\" }}",
            "WORKFLOW_NAME": "={{ $json.currentMetric?.displayName || \"\" }}",
            "ORCHESTRATOR_RUN_ID": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "bbb1d6d6-eee9-4cd6-9127-e40cf1c981c5",
      "name": "Execute Get FBA FBM Stock",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1328,
        608
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.currentMetric;\nreturn [{ json: { ...input, summary: [...(input.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: false, status: 'skipped', errorMessage: null, startedAt: null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "fa9f9eca-2faf-4d27-a45a-8c3e7ebf5bdf",
      "name": "Record FBA FBM Stock Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('Prepare FBA FBM Stock').first().json;\nconst current = previous.currentMetric;\nconst payload = $input.first().json || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn [{ json: { ...previous, summary: [...(previous.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: true, status: error ? 'failed' : 'success', errorMessage: error ? String(error.message || payload.message || 'Child workflow failed') : null, startedAt: previous.currentStartedAt || null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "20995633-3f6e-4ae7-a268-5fe992da74f5",
      "name": "Record FBA FBM Stock Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.registry[8];\nconst selected = input.runAll || input.selectedMetrics.includes(current.metricKey);\nreturn [{ json: { ...input, currentMetric: current, currentSelected: selected ? 'true' : 'false', currentStartedAt: new Date().toISOString() } }];"
      },
      "id": "cf0653a4-2d16-4caf-9dc1-3f34c1548dae",
      "name": "Prepare Sales Organic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentSelected }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-1776219342023-9u8o2opiw"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "423e3893-db0d-46e5-9de0-48cc63cdfa39",
      "name": "If Run Sales Organic",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -512,
        -576
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KTNa277JLZ8hDZ89",
          "mode": "list",
          "cachedResultUrl": "/workflow/KTNa277JLZ8hDZ89",
          "cachedResultName": "Get Sales Organic"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "\u2705START_DATE": "={{ $json[\"\u2705START_DATE\"] }}",
            "\u2705END_DATE": "={{ $json[\"\u2705END_DATE\"] }}",
            "\u2705SPREADSHEET_URL_OR_ID": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "\u2705SPREADSHEET_ID": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
            "\u2705SHEET_NAME": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
            "\u2705RANGE": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
            "\u2705AMAZON_MARKETPLACE_ID": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "AMAZON_ACCESS_TOKEN": "={{ $json.auth?.amazon?.spAccessToken || \"\" }}",
            "GOOGLE_ACCESS_TOKEN": "={{ $json.auth?.google?.accessToken || \"\" }}",
            "METRIC_KEY": "={{ $json.currentMetric?.metricKey || \"\" }}",
            "WORKFLOW_NAME": "={{ $json.currentMetric?.displayName || \"\" }}",
            "ORCHESTRATOR_RUN_ID": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "11cfa947-a881-4ca1-a03a-7f9516ee2d2f",
      "name": "Execute Get Sales Organic",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -288,
        -672
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.currentMetric;\nreturn [{ json: { ...input, summary: [...(input.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: false, status: 'skipped', errorMessage: null, startedAt: null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "874be049-b13a-41d4-99a6-f9196a349848",
      "name": "Record Sales Organic Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -480
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('Prepare Sales Organic').first().json;\nconst current = previous.currentMetric;\nconst payload = $input.first().json || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn [{ json: { ...previous, summary: [...(previous.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: true, status: error ? 'failed' : 'success', errorMessage: error ? String(error.message || payload.message || 'Child workflow failed') : null, startedAt: previous.currentStartedAt || null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "f013ced7-2d43-4242-9b35-51c1343e902f",
      "name": "Record Sales Organic Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -672
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.registry[9];\nconst selected = input.runAll || input.selectedMetrics.includes(current.metricKey);\nreturn [{ json: { ...input, currentMetric: current, currentSelected: selected ? 'true' : 'false', currentStartedAt: new Date().toISOString() } }];"
      },
      "id": "aa2762b4-4ee0-452a-b197-cf32ce5bbcc6",
      "name": "Prepare Units Organic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentSelected }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-1776219342023-26qh32of0"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "58074b8f-f257-42fd-b9a5-11eee72fe7f0",
      "name": "If Run Units Organic",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -512,
        -112
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "siWvymzWJu7Ns1VG",
          "mode": "list",
          "cachedResultUrl": "/workflow/siWvymzWJu7Ns1VG",
          "cachedResultName": "Get Units Organic"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "\u2705START_DATE": "={{ $json[\"\u2705START_DATE\"] }}",
            "\u2705END_DATE": "={{ $json[\"\u2705END_DATE\"] }}",
            "\u2705SPREADSHEET_URL_OR_ID": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "\u2705SPREADSHEET_ID": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
            "\u2705SHEET_NAME": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
            "\u2705RANGE": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
            "\u2705AMAZON_MARKETPLACE_ID": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "AMAZON_ACCESS_TOKEN": "={{ $json.auth?.amazon?.spAccessToken || \"\" }}",
            "GOOGLE_ACCESS_TOKEN": "={{ $json.auth?.google?.accessToken || \"\" }}",
            "METRIC_KEY": "={{ $json.currentMetric?.metricKey || \"\" }}",
            "WORKFLOW_NAME": "={{ $json.currentMetric?.displayName || \"\" }}",
            "ORCHESTRATOR_RUN_ID": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "3cf5ee17-c513-43ce-a618-74404a340aa8",
      "name": "Execute Get Units Organic",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -288,
        -208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.currentMetric;\nreturn [{ json: { ...input, summary: [...(input.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: false, status: 'skipped', errorMessage: null, startedAt: null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "e51501d2-f1fa-4856-933d-688f4798e59c",
      "name": "Record Units Organic Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('Prepare Units Organic').first().json;\nconst current = previous.currentMetric;\nconst payload = $input.first().json || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn [{ json: { ...previous, summary: [...(previous.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: true, status: error ? 'failed' : 'success', errorMessage: error ? String(error.message || payload.message || 'Child workflow failed') : null, startedAt: previous.currentStartedAt || null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "f98cffce-1229-45e2-ac92-09bc88ed2211",
      "name": "Record Units Organic Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.registry[10];\nconst selected = input.runAll || input.selectedMetrics.includes(current.metricKey);\nreturn [{ json: { ...input, currentMetric: current, currentSelected: selected ? 'true' : 'false', currentStartedAt: new Date().toISOString() } }];"
      },
      "id": "ae7e8705-dedc-4cbd-aa2a-3ec1fa1a9193",
      "name": "Prepare Reversal Reimbursement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentSelected }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-1776219342023-vrtnak5l2"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8bbf9d1a-9dee-4de4-800f-a8af42e1c2a7",
      "name": "If Run Reversal Reimbursement",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -512,
        288
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fsJgfd11tF3nPprY",
          "mode": "list",
          "cachedResultUrl": "/workflow/fsJgfd11tF3nPprY",
          "cachedResultName": "Get Reversal Reimbursement"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "\u2705START_DATE": "={{ $json[\"\u2705START_DATE\"] }}",
            "\u2705END_DATE": "={{ $json[\"\u2705END_DATE\"] }}",
            "\u2705SPREADSHEET_URL_OR_ID": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "\u2705SPREADSHEET_ID": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
            "\u2705SHEET_NAME": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
            "\u2705RANGE": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
            "\u2705AMAZON_MARKETPLACE_ID": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "AMAZON_ACCESS_TOKEN": "={{ $json.auth?.amazon?.spAccessToken || \"\" }}",
            "GOOGLE_ACCESS_TOKEN": "={{ $json.auth?.google?.accessToken || \"\" }}",
            "METRIC_KEY": "={{ $json.currentMetric?.metricKey || \"\" }}",
            "WORKFLOW_NAME": "={{ $json.currentMetric?.displayName || \"\" }}",
            "ORCHESTRATOR_RUN_ID": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "d920338d-2a29-4623-9b2f-c9a67deedca4",
      "name": "Execute Get Reversal Reimbursement",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -288,
        192
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.currentMetric;\nreturn [{ json: { ...input, summary: [...(input.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: false, status: 'skipped', errorMessage: null, startedAt: null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "7e530658-6b17-415b-966f-3702bd158aeb",
      "name": "Record Reversal Reimbursement Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('Prepare Reversal Reimbursement').first().json;\nconst current = previous.currentMetric;\nconst payload = $input.first().json || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn [{ json: { ...previous, summary: [...(previous.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: true, status: error ? 'failed' : 'success', errorMessage: error ? String(error.message || payload.message || 'Child workflow failed') : null, startedAt: previous.currentStartedAt || null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "d11f3970-ba42-48ab-b8c5-9c07a6ae661d",
      "name": "Record Reversal Reimbursement Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.registry[11];\nconst selected = input.runAll || input.selectedMetrics.includes(current.metricKey);\nreturn [{ json: { ...input, currentMetric: current, currentSelected: selected ? 'true' : 'false', currentStartedAt: new Date().toISOString() } }];"
      },
      "id": "b53a5fb9-552c-4e55-bc02-1d16d5a35d2e",
      "name": "Prepare FBA Per Unit Fulfillment Fee",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.currentSelected }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "condition-1776219342024-g43qh5ul2"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "50172026-f5b3-462b-8173-a99051e38413",
      "name": "If Run FBA Per Unit Fulfillment Fee",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        752
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TLMr85JcV4bwDySu",
          "mode": "list",
          "cachedResultUrl": "/workflow/TLMr85JcV4bwDySu",
          "cachedResultName": "Get FBAPerUnitFulfillmentFee"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "\u2705START_DATE": "={{ $json[\"\u2705START_DATE\"] }}",
            "\u2705END_DATE": "={{ $json[\"\u2705END_DATE\"] }}",
            "\u2705SPREADSHEET_URL_OR_ID": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "\u2705SPREADSHEET_ID": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
            "\u2705SHEET_NAME": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
            "\u2705RANGE": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
            "\u2705AMAZON_MARKETPLACE_ID": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "AMAZON_ACCESS_TOKEN": "={{ $json.auth?.amazon?.spAccessToken || \"\" }}",
            "GOOGLE_ACCESS_TOKEN": "={{ $json.auth?.google?.accessToken || \"\" }}",
            "METRIC_KEY": "={{ $json.currentMetric?.metricKey || \"\" }}",
            "WORKFLOW_NAME": "={{ $json.currentMetric?.displayName || \"\" }}",
            "ORCHESTRATOR_RUN_ID": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "fbfbeb78-b3b3-4ae4-9557-37823156030c",
      "name": "Execute Get FBAPerUnitFulfillmentFee",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -272,
        656
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst current = input.currentMetric;\nreturn [{ json: { ...input, summary: [...(input.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: false, status: 'skipped', errorMessage: null, startedAt: null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "b3b2df1b-caa6-47f3-af1e-31ba937f47b5",
      "name": "Record FBA Per Unit Fulfillment Fee Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "const previous = $('Prepare FBA Per Unit Fulfillment Fee').first().json;\nconst current = previous.currentMetric;\nconst payload = $input.first().json || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn [{ json: { ...previous, summary: [...(previous.summary || []), { metricKey: current.metricKey, displayName: current.displayName, workflowId: current.workflowId, selected: true, status: error ? 'failed' : 'success', errorMessage: error ? String(error.message || payload.message || 'Child workflow failed') : null, startedAt: previous.currentStartedAt || null, finishedAt: new Date().toISOString() }] } }];"
      },
      "id": "e95bfb85-a21b-4fa3-a2ee-d8bda17531f4",
      "name": "Record FBA Per Unit Fulfillment Fee Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst summary = input.summary || [];\nconst failedMetrics = summary.filter((entry) => entry.status === 'failed');\nconst failedMetricKeys = [...new Set(failedMetrics.map((entry) => entry.metricKey).filter(Boolean))];\nconst enableRetryWorkflow = String(input.ENABLE_RETRY_WORKFLOW ?? 'true').toLowerCase() !== 'false';\nconst maxRetries = Math.max(1, Number(input.MAX_RETRIES || 3));\nreturn [{\n  json: {\n    summary,\n    failedMetrics,\n    failedMetricKeys,\n    '\u2705START_DATE': input['\u2705START_DATE'],\n    '\u2705END_DATE': input['\u2705END_DATE'],\n    '\u2705SPREADSHEET_URL_OR_ID': input['\u2705SPREADSHEET_URL_OR_ID'],\n    '\u2705SPREADSHEET_ID': input['\u2705SPREADSHEET_ID'],\n    '\u2705SHEET_NAME': input['\u2705SHEET_NAME'],\n    '\u2705RANGE': input['\u2705RANGE'],\n    '\u2705COLUMNS': input['\u2705COLUMNS'],\n    '\u2705AMAZON_MARKETPLACE_ID': input['\u2705AMAZON_MARKETPLACE_ID'],\n    '\u2705AMAZON_ADS_CLIENT_ID': input['\u2705AMAZON_ADS_CLIENT_ID'],\n    '\u2705AMAZON_ADS_CLIENT_SECRET': input['\u2705AMAZON_ADS_CLIENT_SECRET'],\n    '\u2705AMAZON_ADS_REFRESH_TOKEN': input['\u2705AMAZON_ADS_REFRESH_TOKEN'],\n    '\u2705AMAZON_ADS_PROFILE_ID': input['\u2705AMAZON_ADS_PROFILE_ID'],\n    '\u2705AMAZON_SP_CLIENT_ID': input['\u2705AMAZON_SP_CLIENT_ID'],\n    '\u2705AMAZON_SP_CLIENT_SECRET: ': input['\u2705AMAZON_SP_CLIENT_SECRET: '],\n    '\u2705AMAZON_SP_REFRESH_TOKEN': input['\u2705AMAZON_SP_REFRESH_TOKEN'],\n    '\u2705GOOGLE_SERVICE_ACCOUNT_EMAIL': input['\u2705GOOGLE_SERVICE_ACCOUNT_EMAIL'],\n    '\u2705GOOGLE_PRIVATE_KEY': input['\u2705GOOGLE_PRIVATE_KEY'],\n    '\u2705GOOGLE_SCOPE': input['\u2705GOOGLE_SCOPE'],\n    INCLUDE_LIST: input.INCLUDE_LIST || '',\n    MAX_RETRIES: String(maxRetries),\n    ENABLE_RETRY_WORKFLOW: enableRetryWorkflow ? 'true' : 'false',\n    shouldAutoRetry: enableRetryWorkflow && failedMetricKeys.length > 0,\n    orchestratorRunId: $execution.id,\n  },\n}];"
      },
      "id": "726d5d57-4b61-4df7-8baf-dd27092b7377",
      "name": "Final Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-auto-retry-needed",
              "leftValue": "={{ $json.shouldAutoRetry ? 'true' : 'false' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4535b669-d17a-43ca-ab3d-e450de58cfd1",
      "name": "If Auto Retry Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7qKcWP6U0y0xES06",
          "mode": "list",
          "cachedResultUrl": "/workflow/7qKcWP6U0y0xES06",
          "cachedResultName": "Retry Failed Amazon Metrics"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "FAILED_METRIC_KEYS": "={{ ($json.failedMetricKeys || []).join(',') }}",
            "MAX_RETRIES": "={{ $json.MAX_RETRIES || '3' }}",
            "\u2705START_DATE": "={{ $json[\"\u2705START_DATE\"] }}",
            "\u2705END_DATE": "={{ $json[\"\u2705END_DATE\"] }}",
            "\u2705SPREADSHEET_URL_OR_ID": "={{ $json[\"\u2705SPREADSHEET_URL_OR_ID\"] || \"\" }}",
            "\u2705SPREADSHEET_ID": "={{ $json[\"\u2705SPREADSHEET_ID\"] || \"\" }}",
            "\u2705SHEET_NAME": "={{ $json[\"\u2705SHEET_NAME\"] || \"\" }}",
            "\u2705RANGE": "={{ $json[\"\u2705RANGE\"] || \"\" }}",
            "\u2705COLUMNS": "={{ $json[\"\u2705COLUMNS\"] || \"\" }}",
            "\u2705AMAZON_MARKETPLACE_ID": "={{ $json[\"\u2705AMAZON_MARKETPLACE_ID\"] || \"\" }}",
            "\u2705AMAZON_ADS_CLIENT_ID": "={{ $json[\"\u2705AMAZON_ADS_CLIENT_ID\"] || \"\" }}",
            "\u2705AMAZON_ADS_CLIENT_SECRET": "={{ $json[\"\u2705AMAZON_ADS_CLIENT_SECRET\"] || \"\" }}",
            "\u2705AMAZON_ADS_REFRESH_TOKEN": "={{ $json[\"\u2705AMAZON_ADS_REFRESH_TOKEN\"] || \"\" }}",
            "\u2705AMAZON_ADS_PROFILE_ID": "={{ $json[\"\u2705AMAZON_ADS_PROFILE_ID\"] || \"\" }}",
            "\u2705AMAZON_SP_CLIENT_ID": "={{ $json[\"\u2705AMAZON_SP_CLIENT_ID\"] || \"\" }}",
            "\u2705AMAZON_SP_CLIENT_SECRET: ": "={{ $json[\"\u2705AMAZON_SP_CLIENT_SECRET: \"] || \"\" }}",
            "\u2705AMAZON_SP_REFRESH_TOKEN": "={{ $json[\"\u2705AMAZON_SP_REFRESH_TOKEN\"] || \"\" }}",
            "\u2705GOOGLE_SERVICE_ACCOUNT_EMAIL": "={{ $json[\"\u2705GOOGLE_SERVICE_ACCOUNT_EMAIL\"] || \"\" }}",
            "\u2705GOOGLE_PRIVATE_KEY": "={{ $json[\"\u2705GOOGLE_PRIVATE_KEY\"] || \"\" }}",
            "\u2705GOOGLE_SCOPE": "={{ $json[\"\u2705GOOGLE_SCOPE\"] || \"https://www.googleapis.com/auth/spreadsheets\" }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "8f92898c-22e6-47c3-b411-ab2558476261",
      "name": "Execute Retry Failed Amazon Metrics",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1120,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "183df48a-774f-420b-8dbd-55ceaa5e2bc2",
      "name": "Return Orchestrator Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.amazon.com/auth/o2/token",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "=refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json[\"\u2705AMAZON_ADS_REFRESH_TOKEN\"] }}"
            },
            {
              "name": "client_id",
              "value": "={{ $json[\"\u2705AMAZON_ADS_CLIENT_ID\"] }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json[\"\u2705AMAZON_ADS_CLIENT_SECRET\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac25143f-41a2-4e7a-8a73-f8ff70df7824",
      "name": "Mint Amazon Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4656,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "fdb4c984-ab63-40a3-b97f-92216aabc949",
      "name": "Refresh Amazon Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4432,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $json.assertion }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d4be86cd-b345-4ba7-a303-b93813171000",
      "name": "Mint Google Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3984,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "fc1b9b1e-9952-43f0-9bcb-e39088ed7ead",
      "name": "Refresh Google Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3760,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const seed = $('Set Credentials').first().json;\nconst input = $input.first().json;\nconst issuedAt = new Date().toISOString();\n\nconst refreshBufferSeconds = Number(seed.AUTH_REFRESH_BUFFER_SECONDS || input.AUTH_REFRESH_BUFFER_SECONDS || 300);\n\nconst amazonAdsNode = $('Mint Amazon Access Token').first().json;\nconst googleNode = $('Mint Google Access Token').first().json;\nconst spNode = $('Mint SP Access Token').first().json;\n\nconst amazonExpiresIn = Number(amazonAdsNode.expires_in || 3600);\nconst googleExpiresIn = Number(googleNode.expires_in || 3600);\nconst spExpiresIn = Number(spNode.expires_in || 3600);\n\nreturn [{\n  json: {\n    ...seed,\n    ...input,\n    auth: {\n      amazon: {\n        accessToken: amazonAdsNode.access_token,\n        clientId: seed['\u2705AMAZON_ADS_CLIENT_ID'],\n        profileId: seed['\u2705AMAZON_ADS_PROFILE_ID'],\n        issuedAt,\n        expiresAt: new Date(Date.now() + amazonExpiresIn * 1000).toISOString(),\n        spAccessToken: spNode.access_token,\n        spIssuedAt: issuedAt,\n        spExpiresAt: new Date(Date.now() + spExpiresIn * 1000).toISOString(),\n      },\n      google: {\n        accessToken: googleNode.access_token,\n        scope: seed['\u2705GOOGLE_SCOPE'] || 'https://www.googleapis.com/auth/spreadsheets',\n        issuedAt: seed.googleIssuedAt || input.googleIssuedAt || issuedAt,\n        expiresAt: seed.googleExpiresAt || input.googleExpiresAt || new Date(Date.now() + googleExpiresIn * 1000).toISOString(),\n      },\n      meta: {\n        refreshBufferSeconds,\n      },\n    },\n  },\n}];"
      },
      "id": "c63cb2e7-26f2-43ec-b31d-7df06cfcc5b6",
      "name": "Attach Shared Auth Bundle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3312,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.amazon.com/auth/o2/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "=refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Set Credentials').first().json[\"\u2705AMAZON_SP_REFRESH_TOKEN\"] }}"
            },
            {
              "name": "client_id",
              "value": "={{ $('Set Credentials').first().json[\"\u2705AMAZON_SP_CLIENT_ID\"] }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Set Credentials').first().json[\"\u2705AMAZON_SP_CLIENT_SECRET: \"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e10c3d9e-eb8a-4ec5-9eb4-888d481f703b",
      "name": "Mint SP Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3536,
        144
      ]
    },
    {
      "parameters": {
        "path": "fb6e9b68-d6c5-4a22-9d4b-e9b00a06ffa4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5104,
        -32
      ],
      "id": "765d868a-9cbe-4150-8c7d-fda6959369c9",
      "name": "Webhook",
      "webhookId": "fb6e9b68-d6c5-4a22-9d4b-e9b00a06ffa4"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nfunction b64url(value) {\n  return Buffer.from(value)\n    .toString('base64')\n    .replace(/=/g, '')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_');\n}\n\nfunction getCredentialsFromN8n() {\n  try {\n    return $('Set Credentials').first().json || {};\n  } catch {\n    return $input.first().json || {};\n  }\n}\n\nfunction normalizePrivateKey(raw) {\n  let value = String(raw || '').trim();\n\n  if (!value) {\n    return '';\n  }\n\n  if (\n    (value.startsWith('\"') && value.endsWith('\"')) ||\n    (value.startsWith(\"'\") && value.endsWith(\"'\"))\n  ) {\n    value = value.slice(1, -1);\n  }\n\n  value = value\n    .replace(/\\\\r\\\\n/g, '\\n')\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\r\\n/g, '\\n')\n    .trim();\n\n  if (!value.includes('BEGIN')) {\n    value = [\n      'REDACTED',\n    ].join('\\n');\n  }\n\n  return value;\n}\n\nfunction createPrivateKeyOrThrow(privateKeyPem) {\n  try {\n    return crypto.createPrivateKey({\n      key: privateKeyPem,\n      format: 'pem',\n    });\n  } catch (error) {\n    const firstLine = privateKeyPem.split('\\n')[0] || '<empty>';\n    throw new Error(\n      `Invalid GOOGLE_PRIVATE_KEY format. First line: ${firstLine}. Original error: ${error.message}`\n    );\n  }\n}\n\nconst input = $input.first().json || {};\nconst credentials = { ...getCredentialsFromN8n(), ...input };\n\nconst serviceAccountEmail = String(credentials['\u2705GOOGLE_SERVICE_ACCOUNT_EMAIL'] || '').trim();\nconst privateKeyPem = normalizePrivateKey(credentials['\u2705GOOGLE_PRIVATE_KEY']);\nconst scope = String(\n  credentials['\u2705GOOGLE_SCOPE'] || 'https://www.googleapis.com/auth/spreadsheets.readonly'\n).trim();\n\nif (!serviceAccountEmail || !privateKeyPem) {\n  throw new Error('Missing GOOGLE_SERVICE_ACCOUNT_EMAIL or GOOGLE_PRIVATE_KEY');\n}\n\nconst privateKey = createPrivateKeyOrThrow(privateKeyPem);\nconst now = Math.floor(Date.now() / 1000);\n\nconst encodedHeader = b64url(JSON.stringify({ alg: 'RS256', typ: 'JWT' }));\nconst encodedPayload = b64url(\n  JSON.stringify({\n    iss: serviceAccountEmail,\n    scope,\n    aud: 'https://oauth2.googleapis.com/token',\n    iat: now,\n    exp: now + 3600,\n  })\n);\n\nconst signingInput = `${encodedHeader}.${encodedPayload}`;\nconst signature = crypto\n  .sign('RSA-SHA256', Buffer.from(signingInput, 'utf8'), privateKey)\n  .toString('base64')\n  .replace(/=/g, '')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_');\n\nreturn [\n  {\n    json: {\n      ...input,\n      assertion: `${signingInput}.${signature}`,\n    },\n  },\n];\n"
      },
      "id": "d80aadb5-6de0-4efa-97d4-3f96356988b2",
      "name": "Build JWT Assertion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4192,
        144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76a6c500-c2c0-4339-8299-682826c4452b",
              "name": "\u2705START_DATE",
              "value": "2026-04-18",
              "type": "string"
            },
            {
              "id": "2a1915cd-7949-44ff-952b-9ab2aa6365f5",
              "name": "\u2705END_DATE",
              "value": "2026-04-18",
              "type": "string"
            },
            {
              "id": "6944e5f6-f22f-4bf8-9746-13b9e5ee8f91",
              "name": "INCLUDE_LIST",
              "value": "={{ $json.INCLUDE_LIST || \"\" }}",
              "type": "string"
            },
            {
              "id": "d2a87c47-b55e-4641-90c9-4b7c204d8955",
              "name": "\u2705AMAZON_ADS_CLIENT_ID",
              "value": "REDACTED",
              "type": "string"
            },
            {
              "id": "f6bcc963-0897-455c-ac16-e86f3deca6ef",
              "name": "\u2705AMAZON_ADS_CLIENT_SECRET",
              "value": "REDACTED",
              "type": "string"
            },
            {
              "id": "6e513cbb-157d-4f5b-a18f-6f2b212157f5",
              "name": "\u2705AMAZON_ADS_REFRESH_TOKEN",
              "value": "REDACTED",
              "type": "string"
            },
            {
              "id": "15f4bb08-6a83-4e2f-bf3f-706b362ee4af",
              "name": "\u2705AMAZON_ADS_PROFILE_ID",
              "value": "REDACTED",
              "type": "string"
            },
            {
              "id": "55f35d9b-4dd4-4594-af0c-08185938f2ac",
              "name": "\u2705AMAZON_SP_CLIENT_ID",
              "value": "REDACTED",
              "type": "string"
            },
            {
              "id": "2aa06f79-f2f4-4d4f-8a4a-bf328f2de798",
              "name": "\u2705AMAZON_SP_CLIENT_SECRET: ",
              "value": "REDACTED",
              "type": "string"
            },
            {
              "id": "518c7b45-f2de-42ad-b944-6342308f9e41",
              "name": "\u2705AMAZON_SP_REFRESH_TOKEN",
              "value": "REDACTED",
              "type": "string"
            },
            {
              "id": "d02eed0a-85e5-4723-97a0-2ef963c0cb91",
              "name": "\u2705GOOGLE_SERVICE_ACCOUNT_EMAIL",
              "value": "REDACTED",
              "type": "string"
            },
            {
              "id": "fe461a50-becf-4868-9675-eba1f00317b1",
              "name": "\u2705GOOGLE_PRIVATE_KEY",
              "value": "REDACTED",
              "type": "string"
            },
            {
              "id": "51f84e29-8590-46e0-bb22-c92f5900bcd7",
              "name": "\u2705GOOGLE_SCOPE",
              "value": "https://www.googleapis.com/auth/spreadsheets",
              "type": "string"
            },
            {
              "id": "297bd6d8-b645-41fa-baf6-9ac1a3b4a682",
              "name": "\u2705SPREADSHEET_URL_OR_ID",
              "value": "https://docs.google.com/spreadsheets/d/1vK8PB8jug1NakLBF81_lpEq66De_RbHe-6tG063ibnM/edit?gid=962294707#gid=962294707",
              "type": "string"
            },
            {
              "id": "c0aec1b6-f8fc-49fd-82aa-03fbb686df99",
              "name": "\u2705SHEET_NAME",
              "value": "N8N_DOWNLOAD",
              "type": "string"
            },
            {
              "id": "163475ec-2602-4c9e-9200-3277ef26934d",
              "name": "\u2705RANGE",
              "value": "A:BD",
              "type": "string"
            },
            {
              "id": "05c6613c-5ce9-418b-9067-8ca2a91dec71",
              "name": "\u2705COLUMNS",
              "value": "[\"cost\", \"clicks\", \"impressions\", \"advertisedAsin\", \"advertisedSku\"]",
              "type": "string"
            },
            {
              "id": "e05654b1-70f3-45f6-ba57-3f3b7bb1a8bf",
              "name": "\u2705SPREADSHEET_ID",
              "value": "1vK8PB8jug1NakLBF81_lpEq66De_RbHe-6tG063ibnM",
              "type": "string"
            },
            {
              "name": "\u2705AMAZON_MARKETPLACE_ID",
              "value": "ATVPDKIKX0DER",
              "type": "string",
              "id": "67e27ab3-87d9-4ca2-bc01-21d681d1b080"
            },
            {
              "id": "5f93a848-a98a-43f6-9541-9b3e842e1c91",
              "name": "MAX_RETRIES",
              "value": "={{ $json.MAX_RETRIES || \"3\" }}",
              "type": "string"
            },
            {
              "id": "2b26179b-b518-4160-b6df-7963aba9ff54",
              "name": "ENABLE_RETRY_WORKFLOW",
              "value": "={{ $json.ENABLE_RETRY_WORKFLOW !== undefined &&   $json.ENABLE_RETRY_WORKFLOW !== null && $json.ENABLE_RETRY_WORKFLOW !== '' ?   String($json.ENABLE_RETRY_WORKFLOW) : 'true' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4896,
        144
      ],
      "id": "91178c49-de82-4476-9321-89f344ce63d1",
      "name": "Set Credentials"
    }
  ],
  "connections": {
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Workflow Registry": {
      "main": [
        [
          {
            "node": "Prepare BSR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare BSR": {
      "main": [
        [
          {
            "node": "If Run BSR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run BSR": {
      "main": [
        [
          {
            "node": "Execute Get BSR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record BSR Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Get BSR": {
      "main": [
        [
          {
            "node": "Record BSR Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record BSR Skipped": {
      "main": [
        [
          {
            "node": "Prepare Ads Spend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record BSR Result": {
      "main": [
        [
          {
            "node": "Prepare Ads Spend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ads Spend": {
      "main": [
        [
          {
            "node": "If Run Ads Spend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Ads Spend": {
      "main": [
        [
          {
            "node": "Execute Get Ad Spend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Ads Spend Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Get Ad Spend": {
      "main": [
        [
          {
            "node": "Record Ads Spend Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Ads Spend Skipped": {
      "main": [
        [
          {
            "node": "Prepare CTR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Ads Spend Result": {
      "main": [
        [
          {
            "node": "Prepare CTR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare CTR": {
      "main": [
        [
          {
            "node": "If Run CTR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run CTR": {
      "main": [
        [
          {
            "node": "Execute Get CTR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record CTR Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Get CTR": {
      "main": [
        [
          {
            "node": "Record CTR Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record CTR Skipped": {
      "main": [
        [
          {
            "node": "Prepare Refunds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record CTR Result": {
      "main": [
        [
          {
            "node": "Prepare Refunds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Refunds": {
      "main": [
        [
          {
            "node": "If Run Refunds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Refunds": {
      "main": [
        [
          {
            "node": "Execute Get Refund",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Refunds Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Get Refund": {
      "main": [
        [
          {
            "node": "Record Refunds Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Refunds Skipped": {
      "main": [
        [
          {
            "node": "Prepare Sales PPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Refunds Result": {
      "main": [
        [
          {
            "node": "Prepare Sales PPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sales PPC": {
      "main": [
        [
          {
            "node": "If Run Sales PPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Sales PPC": {
      "main": [
        [
          {
            "node": "Execute Get Sales PPC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Sales PPC Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Get Sales PPC": {
      "main": [
        [
          {
            "node": "Record Sales PPC Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Sales PPC Skipped": {
      "main": [
        [
          {
            "node": "Prepare Clicks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Sales PPC Result": {
      "main": [
        [
          {
            "node": "Prepare Clicks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Clicks": {
      "main": [
        [
          {
            "node": "If Run Clicks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Clicks": {
      "main": [
        [
          {
            "node": "Execute Get Clicks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Clicks Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Get Clicks": {
      "main": [
        [
          {
            "node": "Record Clicks Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Clicks Skipped": {
      "main": [
        [
          {
            "node": "Prepare Units PPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Clicks Result": {
      "main": [
        [
          {
            "node": "Prepare Units PPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Units PPC": {
      "main": [
        [
          {
            "node": "If Run Units PPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Units PPC": {
      "main": [
        [
          {
            "node": "Execute Get Units PPC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Units PPC Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Get Units PPC": {
      "main": [
        [
          {
            "node": "Record Units PPC Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Units PPC Skipped": {
      "main": [
        [
          {
            "node": "Prepare FBA FBM Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Units PPC Result": {
      "main": [
        [
          {
            "node": "Prepare FBA FBM Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare FBA FBM Stock": {
      "main": [
        [
          {
            "node": "If Run FBA FBM Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run FBA FBM Stock": {
      "main": [
        [
          {
            "node": "Execute Get FBA FBM Stock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record FBA FBM Stock Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Get FBA FBM Stock": {
      "main": [
        [
          {
            "node": "Record FBA FBM Stock Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record FBA FBM Stock Skipped": {
      "main": [
        [
          {
            "node": "Prepare Sales Organic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record FBA FBM Stock Result": {
      "main": [
        [
          {
            "node": "Prepare Sales Organic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sales Organic": {
      "main": [
        [
          {
            "node": "If Run Sales Organic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Sales Organic": {
      "main": [
        [
          {
            "node": "Execute Get Sales Organic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Sales Organic Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Get Sales Organic": {
      "main": [
        [
          {
            "node": "Record Sales Organic Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Sales Organic Skipped": {
      "main": [
        [
          {
            "node": "Prepare Units Organic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Sales Organic Result": {
      "main": [
        [
          {
            "node": "Prepare Units Organic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Units Organic": {
      "main": [
        [
          {
            "node": "If Run Units Organic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Units Organic": {
      "main": [
        [
          {
            "node": "Execute Get Units Organic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Units Organic Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Get Units Organic": {
      "main": [
        [
          {
            "node": "Record Units Organic Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Units Organic Skipped": {
      "main": [
        [
          {
            "node": "Prepare Reversal Reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Units Organic Result": {
      "main": [
        [
          {
            "node": "Prepare Reversal Reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reversal Reimbursement": {
      "main": [
        [
          {
            "node": "If Run Reversal Reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Reversal Reimbursement": {
      "main": [
        [
          {
            "node": "Execute Get Reversal Reimbursement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Reversal Reimbursement Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Get Reversal Reimbursement": {
      "main": [
        [
          {
            "node": "Record Reversal Reimbursement Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Reversal Reimbursement Skipped": {
      "main": [
        [
          {
            "node": "Prepare FBA Per Unit Fulfillment Fee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Reversal Reimbursement Result": {
      "main": [
        [
          {
            "node": "Prepare FBA Per Unit Fulfillment Fee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare FBA Per Unit Fulfillment Fee": {
      "main": [
        [
          {
            "node": "If Run FBA Per Unit Fulfillment Fee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run FBA Per Unit Fulfillment Fee": {
      "main": [
        [
          {
            "node": "Execute Get FBAPerUnitFulfillmentFee",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record FBA Per Unit Fulfillment Fee Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Get FBAPerUnitFulfillmentFee": {
      "main": [
        [
          {
            "node": "Record FBA Per Unit Fulfillment Fee Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record FBA Per Unit Fulfillment Fee Skipped": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record FBA Per Unit Fulfillment Fee Result": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Summary": {
      "main": [
        [
          {
            "node": "If Auto Retry Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Auto Retry Needed": {
      "main": [
        [
          {
            "node": "Execute Retry Failed Amazon Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Orchestrator Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Retry Failed Amazon Metrics": {
      "main": [
        [
          {
            "node": "Return Orchestrator Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mint Amazon Access Token": {
      "main": [
        [
          {
            "node": "Refresh Amazon Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Amazon Token": {
      "main": [
        [
          {
            "node": "Build JWT Assertion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mint Google Access Token": {
      "main": [
        [
          {
            "node": "Refresh Google Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Google Token": {
      "main": [
        [
          {
            "node": "Mint SP Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Shared Auth Bundle": {
      "main": [
        [
          {
            "node": "Build Workflow Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mint SP Access Token": {
      "main": [
        [
          {
            "node": "Attach Shared Auth Bundle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build JWT Assertion": {
      "main": [
        [
          {
            "node": "Mint Google Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Mint Amazon Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true,
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "feb7d404-263b-4b39-b23a-010835b9466c",
  "activeVersionId": "feb7d404-263b-4b39-b23a-010835b9466c",
  "versionCounter": 99,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-16T21:24:50.267Z",
      "createdAt": "2026-04-16T21:24:50.267Z",
      "role": "workflow:owner",
      "workflowId": "Hh8rWhCpyt6n8QHT",
      "projectId": "A9JoI2uB9gEuVNGo",
      "project": {
        "updatedAt": "2026-04-12T23:15:35.657Z",
        "createdAt": "2026-04-12T23:15:20.662Z",
        "id": "A9JoI2uB9gEuVNGo",
        "name": "Jericho jericho@blazintech.net <jericho@blazintech.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7c4876f-874b-42f0-baa1-c60e258e7170"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version feb7d404",
    "description": ""
  }
}
