workflows/Unified Amazon Metrics Orchestrator (Looped).json
{
  "updatedAt": "2026-04-16T21:07:06.514Z",
  "createdAt": "2026-04-16T07:14:34.815Z",
  "id": "OdCZoRl2Ui4Rj93D",
  "name": "Unified Amazon Metrics Orchestrator (Looped)",
  "description": "Registry-driven single-workflow orchestrator that loops over Amazon metric workflows, records skipped or dry-run metrics, executes selected child workflows, and returns one consolidated summary.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "adcabc11-9a2d-48e2-85e9-925d19d660d4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const incoming = $input.first()?.json || {};\nconst payload = incoming.body && typeof incoming.body === 'object' ? incoming.body : incoming;\n\nfunction normalizeMetricList(raw) {\n  return [...new Set(String(raw || '')\n    .split(',')\n    .map((value) => value.trim().toLowerCase())\n    .filter(Boolean))];\n}\n\nfunction readValue(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && value !== '') return value;\n  }\n  return '';\n}\n\nconst startDate = String(readValue(payload['✅START_DATE'], payload.startDate, $today.toFormat('yyyy-MM-dd')));\nconst endDate = String(readValue(payload['✅END_DATE'], payload.endDate, startDate));\nconst includeList = String(readValue(payload.INCLUDE_LIST, payload.includeList, ''));\nconst selectedMetrics = normalizeMetricList(includeList);\nconst dryRun = payload.DRY_RUN ?? payload.dryRun ?? true;\n\nconst auth = {\n  amazon: {\n    accessToken: readValue(payload.auth?.amazon?.accessToken, payload.AMAZON_ACCESS_TOKEN),\n    clientId: readValue(payload.auth?.amazon?.clientId, payload.AMAZON_ADS_CLIENT_ID),\n    profileId: readValue(payload.auth?.amazon?.profileId, payload.AMAZON_ADS_PROFILE_ID),\n  },\n  google: {\n    accessToken: readValue(payload.auth?.google?.accessToken, payload.GOOGLE_ACCESS_TOKEN),\n  },\n};\n\nreturn [{\n  json: {\n    ...payload,\n    '✅START_DATE': startDate,\n    '✅END_DATE': endDate,\n    INCLUDE_LIST: includeList,\n    selectedMetrics,\n    runAll: selectedMetrics.length === 0,\n    dryRun: Boolean(dryRun),\n    auth,\n    triggeredVia: incoming.body ? 'webhook' : 'manual',\n  },\n}];"
      },
      "id": "48e6348a-601d-48a7-881b-3cf7f3b4c087",
      "name": "Normalize Run Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        384
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amazon-metrics-loop-orchestrator",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "169959fe-d41e-48d8-be4f-6ed9d0283138",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        512
      ],
      "webhookId": "dd3253b2-fc48-492c-ac66-976462d372c8"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst registry = [\n  { metricKey: 'bsr', displayName: 'Get BSR', workflowId: 'zC5vJ22Tb7i4dli8', dateMode: 'snapshot-metadata' },\n  { metricKey: 'ads_spend', displayName: 'Get Ad Spend', workflowId: 'nWQo0Pz3qHzQO0My', dateMode: 'range-ready' },\n  { metricKey: 'ctr', displayName: 'Get CTR', workflowId: 'wJaKKBJzcgUUoahu', dateMode: 'range-ready' },\n  { metricKey: 'refunds', displayName: 'Get Refund', workflowId: 'mV21sXm6RdaCfPet', dateMode: 'range-ready' },\n  { metricKey: 'sales_ppc', displayName: 'Get Sales PPC', workflowId: 'PzN4mNPLpYAS85WV', dateMode: 'range-ready' },\n  { metricKey: 'clicks', displayName: 'Get Clicks', workflowId: 'iVZAWiAvfBrQVOpi', dateMode: 'range-ready' },\n  { metricKey: 'units_ppc', displayName: 'Get Units PPC', workflowId: '0D4iLq9dHrac09vy', dateMode: 'range-ready' },\n  { metricKey: 'fba_fbm_stock', displayName: 'Get FBA/FBM Stock', workflowId: 'T6pc0F0RULowHQu0', dateMode: 'snapshot-metadata' },\n  { metricKey: 'sales_organic', displayName: 'Get Sales Organic', workflowId: 'KTNa277JLZ8hDZ89', dateMode: 'range-ready' },\n  { metricKey: 'units_organic', displayName: 'Get Units Organic', workflowId: 'siWvymzWJu7Ns1VG', dateMode: 'range-ready' },\n  { metricKey: 'reversal_reimbursement', displayName: 'Get Reversal Reimbursement', workflowId: 'fsJgfd11tF3nPprY', dateMode: 'range-ready' },\n  { metricKey: 'fba_per_unit_fulfillment_fee', displayName: 'Get FBAPerUnitFulfillmentFee', workflowId: 'TLMr85JcV4bwDySu', dateMode: 'snapshot-metadata' },\n];\n\nreturn registry.map((metric, index) => ({\n  json: {\n    ...input,\n    metricKey: metric.metricKey,\n    displayName: metric.displayName,\n    workflowId: metric.workflowId,\n    dateMode: metric.dateMode,\n    shouldRun: input.runAll || input.selectedMetrics.includes(metric.metricKey),\n    shouldExecute: (input.runAll || input.selectedMetrics.includes(metric.metricKey)) && !input.dryRun,\n    hasCurrentMetric: true,\n    orchestrator: {\n      index,\n      metricKey: metric.metricKey,\n      displayName: metric.displayName,\n      workflowId: metric.workflowId,\n      dateMode: metric.dateMode,\n      startedAt: new Date().toISOString(),\n    },\n  },\n}));"
      },
      "id": "4aef89fc-c3ce-4a20-86be-bb204aa13807",
      "name": "Build Metric Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.hasCurrentMetric }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "bf35265e-0397-4789-a685-70313ac89edf",
      "name": "Has Current Metric?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.shouldExecute }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "cc72229b-5628-4e76-b045-46936b5af49d",
      "name": "Should Execute?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1360,
        384
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: $json };"
      },
      "id": "a77cc7c0-9bc3-4359-9af5-183aa035e550",
      "name": "Selected Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        272
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $input.first().json || {};\nconst context = payload.orchestrator || {};\nconst status = payload.shouldRun ? 'dry_run' : 'skipped';\nreturn {\n  json: {\n    metricKey: context.metricKey,\n    displayName: context.displayName,\n    workflowId: context.workflowId,\n    dateMode: context.dateMode,\n    selected: Boolean(payload.shouldRun),\n    status,\n    errorMessage: null,\n    startedAt: payload.shouldRun ? context.startedAt || null : null,\n    finishedAt: new Date().toISOString(),\n    order: context.index ?? 0,\n  },\n};"
      },
      "id": "7795a62f-112c-4761-ade3-e4992992f9e6",
      "name": "Record Non-Executed Metric",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        512
      ]
    },
    {
      "parameters": {},
      "id": "bc6bcec6-d426-4524-a0e2-5f1866be0c9e",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2768,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { totals: { total: 0, success: 0, failed: 0, skipped: 0, dry_run: 0 }, summary: [] } }];"
      },
      "id": "70d62848-a803-4a4c-b0d6-9f3fda05fb7b",
      "name": "Empty Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        560
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferLast"
            }
          }
        }
      },
      "id": "04ede612-a350-4c4c-92e6-a54a75f876a3",
      "name": "Merge Executed Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2208,
        272
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $json.workflowId }}",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "95210963-48d2-4a24-9970-a107de79fb8e",
      "name": "Execute Metric Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1920,
        192
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $input.first().json || {};\nconst context = payload.orchestrator || {};\nconst error = payload.error || payload.execution?.error || null;\nreturn {\n  json: {\n    metricKey: context.metricKey,\n    displayName: context.displayName,\n    workflowId: context.workflowId,\n    dateMode: context.dateMode,\n    selected: true,\n    status: error ? 'failed' : 'success',\n    errorMessage: error ? String(error.message || payload.message || 'Child workflow failed') : null,\n    startedAt: context.startedAt || null,\n    finishedAt: new Date().toISOString(),\n    order: context.index ?? 0,\n  },\n};"
      },
      "id": "b301b79a-ecf3-4bd2-b0d2-2d22051a39db",
      "name": "Record Executed Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const summary = $input.all().map((item) => item.json).sort((a, b) => Number(a.order || 0) - Number(b.order || 0));\nconst totals = summary.reduce((acc, item) => {\n  acc.total += 1;\n  acc[item.status] = (acc[item.status] || 0) + 1;\n  return acc;\n}, { total: 0, success: 0, failed: 0, skipped: 0, dry_run: 0 });\nreturn [{ json: { totals, summary } }];"
      },
      "id": "0742fb67-d2df-431f-a7ba-a6fa56ece77c",
      "name": "Final Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        320
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Run Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Run Request": {
      "main": [
        [
          {
            "node": "Build Metric Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Run Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Metric Plan": {
      "main": [
        [
          {
            "node": "Has Current Metric?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Current Metric?": {
      "main": [
        [
          {
            "node": "Should Execute?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empty Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Execute?": {
      "main": [
        [
          {
            "node": "Selected Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Non-Executed Metric",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selected Metrics": {
      "main": [
        [
          {
            "node": "Merge Executed Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Metric Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Non-Executed Metric": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Results": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Executed Context": {
      "main": [
        [
          {
            "node": "Record Executed Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Metric Workflow": {
      "main": [
        [
          {
            "node": "Merge Executed Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Record Executed Result": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true
  },
  "pinData": {},
  "versionId": "6cade791-8de5-4625-a105-65ee2c02bc36",
  "activeVersionId": null,
  "versionCounter": 14,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-16T07:14:34.820Z",
      "createdAt": "2026-04-16T07:14:34.820Z",
      "role": "workflow:owner",
      "workflowId": "OdCZoRl2Ui4Rj93D",
      "projectId": "A9JoI2uB9gEuVNGo",
      "project": {
        "updatedAt": "2026-04-12T23:15:35.657Z",
        "createdAt": "2026-04-12T23:15:20.662Z",
        "id": "A9JoI2uB9gEuVNGo",
        "name": "Jericho jericho@blazintech.net <jericho@blazintech.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7c4876f-874b-42f0-baa1-c60e258e7170"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}